
.Arial {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
.Helvetica {font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;}
.Verdana {font-family: Verdana, Geneva, Tahoma, sans-serif;}
.Trebuchet { font-family: Trebuchet, Tahoma, Arial, sans-serif; }
.GillSans { font-family: GillSans, Calibri, Trebuchet, sans-serif; }
.DejaVu_Sans { font-family: "DejaVu Sans", "Bitstream Vera Sans", "Segoe UI", "Lucida Grande", Verdana, Tahoma, Arial, sans-serif; }
.Geneva { font-family: Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }
.HelveticaNeue-Roman {font-family: "HelveticaNeue-Roman", "Helvetica 55 Roman", Helvetica, Arial, sans-serif;}
.Cambria {font-family: Cambria, Georgia, Times, "Times New Roman", serif;}
.Palatino {font-family: Palatino, Palatino Linotype, Georgia, Times, "Times New Roman", serif;}
.Georgia {font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;}




font-family: Tahoma, Geneva, Verdana;
font-family:Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
font-family:'Arial Narrow','Nimbus Sans L',sans-serif;
font-family:'Arial Black',Gadget,sans-serif;
font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;
font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
font-family:'Comic Sans MS',cursive;
font-family:Consolas,'Lucida Console','DejaVu Sans Mono',monospace;
font-family:'Courier New',Courier,'Nimbus Mono L',monospace;
font-family:Constantina,Georgia,'Nimbus Roman No9 L',serif;
font-family:Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
font-family:Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
font-family:symbol,'Standard Symbols L';
font-family:'Tahoma',sans-serif;
font-family:Cambria,'Times New Roman','Nimbus Roman No9 L','Freeserif',Times,serif;
font-family:'Trebuchet MS',sans-serif;
font-family:Verdana,Geneva,'DejaVu Sans',sans-serif;
font-family:Webdings,fantasy;
font-family:Wingdings,fantasy;
font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
font-family:'Monotype Sorts',dingbats,'ITC Zapf Dingbats',fantasy;