<div flex layout="column">
    <div layout="row" layout-align="space-around" class="margen_superior">
        <div flex="45" class="contenedor_logos md-whiteframe-2dp">
            <h3 layout-padding class="text-center h_seccion_dashboard">MIS LOGOS</h3>
        </div>
        <div flex="45" class="contenedor_logos md-whiteframe-2dp">
            <h3 layout-padding class="text-center h_seccion_dashboard">GUARDADOS</h3>
        </div>
    </div>
    <div layout="row" layout-align="space-around" class="contenedor-de-logos margen_inferior">

        <!-- LOGOS COMPRADOS -->

        <div layout="row" flex="45" class="md-whiteframe-2dp scroll ">
            <div flex layout="row" layout-align="space-around start" layout-wrap layout-padding class="text-center">
                <div flex="30" ng-repeat="logo in cliente.lComprados" class="svg-cliente cliente-content" ng-mouseenter="cliente.efectoHoverC($index, logo)" ng-mouseleave="cliente.efectoHoverC($index, logo)">
                    <div>
                        <bazam-visualizar class="logo_icon_cliente" data-svg="cliente.base64(logo.logo)">
                        </bazam-visualizar>
                    </div>
                    <md-icon class="iconos-cliente" ng-show="logo.mostrar" ui-sref="administrar({datos:logo})">create</md-icon>
                </div>
                <div layout="column" layout-align="center center" ng-hide="cliente.lComprados">
                    <div ng-hide="cliente.notifyC">
                        <div>
                            <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
                        </div>
                        <p class="titulo">Cargando</p>
                    </div>
                    <div ng-show="cliente.notifyC">
                        <p class="titulo">No has comprado ningun logo </p>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row" flex="45" class="md-whiteframe-2dp scroll ">
            <div flex layout="row" layout-align="space-around start" layout-wrap layout-padding class="text-center">
                <div flex="30" ng-repeat="logo in cliente.lGuardados" class="svg-cliente cliente-content" ng-mouseenter="cliente.efectoHoverG($index, logo)" ng-mouseleave="cliente.efectoHoverG($index, logo)">
                    <div>
                        <bazam-visualizar class="logo_icon_cliente" data-svg="cliente.base64(logo.logo)">
                        </bazam-visualizar>
                    </div>
                    <md-icon class="iconos-cliente" ng-show="logo.mostrar" ui-sref="editor({logoModificado: {svg: cliente.base64(logo.logo), tipoLogo: logo.tipoLogo, idElemento: logo.elementos_idElemento}})">create</md-icon>
                </div>

                <div layout="column" layout-align="center center" ng-hide="cliente.lGuardados">
                    <div ng-hide="cliente.notifyG">
                        <div>
                            <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
                        </div>
                        <p class="titulo">Cargando</p>
                    </div>
                    <div ng-show="cliente.notifyG">
                        <p class="titulo">No has guardado ningun logo </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div layout="row" class="margen_superior" layout-align="space-between">
        <div flex layout="row" flex layout-align="start center">
            <md-button class="md-raised md-primary" ui-sref="editor">Atras</md-button>
        </div>
    </div>
</div>
