<div class="row center-xs">
    <div class="col-xs-4">
        <md-inpu-container>
            <label>Seleccione una moneda</label>
            <md-select ng-model="pla.datos.filtros.moneda" aria-label="filtro">
                <md-option ng-repeat="mon in pla.datos.planes" ng-value="{{mon.moneda}}" >{{mon.moneda}}</md-option>
            </md-select>
        </md-inpu-container>
    </div>
</div>
<div class="margen_superior row middle-xs center-xs">
    <paquete class="col-xs-10 col-md-3 margen_inferior paquete{{$index}}" ng-repeat="plan in pla.datos.planes | filter:pla.datos.filtros | limitTo: 8 track by $index">
        <p_header>{{plan.plan}}</p_header>
        <p_body class="md-whiteframe-3dp">
            {{plan.info}}
        </p_body>
        <p_price>{{plan.precio}} {{plan.moneda}}</p_price>
        <p_footer layout-padding layout layout-align="space-around center" ui-sref="metodo" class="md-whiteframe-3dp">
            <i class="fa fa-paypal" aria-hidden="true"></i>
            <i class="fa fa-credit-card" aria-hidden="true"></i>
        </p_footer>
    </paquete>
</div>
<div class="row" ng-if="pla.datos.planes.length">
    <div class="col-xs-1">
        <md-button class="md-raised md-primary" ui-sref="#">Atrás</md-button>
    </div>
</div>