/* FUENTES */

/* @font-face {
    font-family: 'futura-heavy';
    src: url("../fonts/futura/FuturaStd-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'maven-regular';
    src: url("../fonts/maven/MavenPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
} */

@font-face {
    font-family: 'linotte-bold';
    src: url("../fonts/Linotte-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-black';
    src: url("../fonts/NunitoSans-Black.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-bold';
    src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-bolder';
    src: url("../fonts/NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-semi';
    src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
