//Ancho
.testimonios .carousel-item .testimonios__carousel-item,
.testimonios .carousel-item,
.contenedor-planes,
.seccion.dos>div {
    width: 80vw;
    margin: auto;
}

.logo-ejemplo{
    width: 300px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    img{
        display: block;
        margin: auto;
    }
    .tags{
        margin-top: 20px;
        > span {
            background: #607d8b75;
            border-radius: 5px;
            padding: 6px;
            margin: 0 6px 6px 0;
            font-weight: 300;
            font-family: 'nunito-sans-semi' !important;
            display: inline-block;
            cursor: pointer;
        }
    } 
}

.without-placeholder input::placeholder {
    color: transparent !important;
}

.bazam-palette-picker {
    width: 80%;
    margin: auto;
    display: block;
}

.padding-top-4 {
    padding-top: 4%;
}

/* ICONOS */

.bg-carac-1 {
    width: 101px;
    height: 117px;
    background: url('../img/fijos.png') -10px -243px;
}

.bg-carac-2 {
    width: 69px;
    height: 92px;
    background: url('../img/fijos.png') -437px -10px;
}

.bg-carac-3 {
    width: 102px;
    height: 119px;
    background: url('../img/fijos.png') -315px -10px;
}

.bg-carac-4 {
    width: 104px;
    height: 103px;
    background: url('../img/fijos.png') -131px -243px;
}

.bg-carac-5 {
    width: 99px;
    height: 100px;
    background: url('../img/fijos.png') -255px -243px;
}

.bg-carac-6 {
    width: 113px;
    height: 113px;
    background: url('../img/fijos.png') -182px -10px;
}

.bg-icono-testimonio {
    width: 50px;
    height: 50px;
    background: url('../img/fijos.png') -239px -380px;
    margin-right: 25px;
}

.bg-comilla_derecha {
    width: 66px;
    height: 213px;
    background: url('../img/fijos.png') -96px -10px;
}

.bg-comilla {
    width: 66px;
    height: 200px;
    margin-top: -8%;
    background: url('../img/fijos.png') -10px -10px;
}

/* ESTILO DE TIPOGRAFIA */

.estilo-1 {
    background: url('../img/estilo-tipografia/tipo1.svg');
}

md-radio-button[aria-checked="true"] .estilo-1 {
    background: url('../img/estilo-tipografia/tipo1_active.svg') !important;
}

.estilo-2 {
    background: url('../img/estilo-tipografia/tipo2.svg');
}

md-radio-button[aria-checked="true"] .estilo-2 {
    background: url('../img/estilo-tipografia/tipo2_active.svg') !important;
}

.estilo-3 {
    background: url('../img/estilo-tipografia/tipo3.svg');
}

md-radio-button[aria-checked="true"] .estilo-3 {
    background: url('../img/estilo-tipografia/tipo3_active.svg') !important;
}

.estilo-4 {
    background: url('../img/estilo-tipografia/tipo4.svg');
}

md-radio-button[aria-checked="true"] .estilo-4 {
    background: url('../img/estilo-tipografia/tipo4_active.svg') !important;
}

/*********************/

.seccion {
    padding: 2% 0;
    background: $WHITE;
}

.back-landing {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    -webkit-animation: body-animacion 1s ease 0.5s normal forwards running;
    animation: body-animacion 1s ease 0.5s normal forwards running;
}

@-webkit-keyframes body-animacion {
    from {
        -webkit-filter: blur(6px);
        filter: blur(6px);
    }
    to {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes body-animacion {
    from {
        -webkit-filter: blur(6px);
        filter: blur(6px);
    }
    to {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

/* padding */

.padding-top-2 {
    padding-top: 2%;
}

/* SECCION UNO */

.seccion.uno {
    background: $BACKGROUND;
    background-size: 100% 100%;
    margin-bottom: 0;
    .titulo-inicio {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
        flex-direction: column;
        >:first-child {
            border-left: 2rem solid #5980B7;
            flex-direction: column;
            span {
                color: transparent;
                width: 20%;
                background: #5980B7;
                height: 10px;
                margin-right: auto;
                margin-left: 15%;
                display: block;
                border-radius: 30px;
                margin-top: 5px;
            }
        }
        >div {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            justify-content: center;
        }
        .titulo-principal {
            font-size: 40pt;
        }
        h4.subtitle {
            margin-top: 7%;
            font-size: 20pt;
        }
    }
    form {
        margin: auto;
    }
    .label-form {
        color: $BLACK;
    }
    .input-tipografia {
        width: 70%;
        margin: auto;
        text-align: center;
    }
    form label,
    .label-form {
        font-size: 16pt;
    }
}

button.md-button.md-primary.md-raised {
    &.boton-formulario-generar {
        margin: auto;
        display: block;
        color: $BLACK;
        background-color: $WHITE;
        border: 2px solid $BLACK;
        background: $WHITE;
        border-radius: 30px;
        padding: 5px 20px;
        font-size: 17pt;
    }
    &.boton-formulario-generar:hover {
        background-color: $PRINCIPAL;
        color: $WHITE;
    }
}

.estilos-fuentes {
    md-radio-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 15px;
    }
    md-radio-button {
        .md-label {
            margin: auto;
        }
        .md-container {
            display: none;
        }
        &[aria-checked="true"] {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        &[aria-checked="true"] span.estilo {
            -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
            border: none;
        }
        span.estilo {
            -webkit-transition: transform 0.2s;
            -webkit-transition: -webkit-transform 0.2s;
            transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
            transition: transform 0.2s, -webkit-transform 0.2s;
            color: transparent;
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-repeat: no-repeat !important;
            background-size: 100% 100%;
            border: 2px solid black;
            &.seleccionado {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
}

.testimonios {
    width: 100%;
    height: 70vh;
    .carousel-item {
        display: inline-block !important;
        margin-left: 10vw;
        .testimonios__carousel-item {
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            -webkit-box-pack: space-around;
            -ms-flex-pack: space-around;
            justify-content: space-around;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .informacion {
                width: 50%;
            }
            .logo-empresa {
                width: 35%;
                img {
                    width: 60%;
                    margin: auto;
                    display: block;
                }
            }
            .descripcion {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: space-around;
                -ms-flex-pack: space-around;
                justify-content: space-around;
                &> :nth-child(2) {
                    width: 70%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }
                h3 {
                    font-size: 16pt;
                    margin: auto;
                    text-align: justify;
                    padding: 5%;
                }
            }
            .cliente {
                width: 65%;
                margin: auto;
                > :first-child {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    padding-top: 8%;
                    h4 {
                        font-size: 20pt;
                        margin-top: 0;
                        margin-bottom: 4px;
                    }
                    h5 {
                        font-size: 15pt;
                        margin: 0;
                    }
                }
            }
        }
    }
}

/* CHIPS ETIQUETAS */

.etiquetas input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid $PRINCIPAL;
    box-shadow: 0 1px 0 0 $PRINCIPAL;
}

.md-chips {
    padding: 0;
    padding-bottom: 8px;
    md-chip {
        cursor: default;
        border-radius: 30px !important;
        height: 32px !important;
        line-height: 28px;
        background: $WHITE !important;
        color: $BLACK;
        border: 2px solid $BLACK !important;
    }
    md-chips.md-default-theme md-chip.md-focused,
    md-chips md-chip.md-focused {
        background: $WHITE !important;
        color: $BLACK;
    }
    md-chip {
        cursor: default;
        border-radius: 30px !important;
        height: 32px !important;
        line-height: 28px;
        background: $WHITE !important;
        color: $BLACK;
        border: 2px solid $BLACK !important;
        .md-chip-remove {
            text-align: center;
            width: 25px;
            height: 19px;
            min-width: auto;
            md-icon {
                height: 22px;
                width: 24px;
                top: 75%;
                min-height: auto;
                min-width: auto;
                left: 50%;
            }
        }
        md-chips-wrap input {
            -webkit-box-shadow: 0 0 0 0 #26a69a !important;
            box-shadow: 0 0 0 0 #26a69a !important;
            margin-bottom: 8px !important;
            border-bottom: none !important;
        }
        md-chip-template strong {
            font-size: 16pt !important;
            font-family: 'nunito-sans-semi';
            text-transform: capitalize;
        }
    }
}

/* SECCION DOS */

.seccion.dos {
    background: $BACKGROUND2 !important;
    padding: 4% 0;
    margin-bottom: 0;
    h2.titulo {
        text-align: center;
        font-size: 43px;
        margin: 0;
        padding: 0 0 30px 0 !important;
    }
    .caracteristicas {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .caracteristicas__item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 50%;
            > :last-child {
                width: 60%;
                margin-left: 30px;
                h4 {
                    font-size: 30pt;
                }
            }
            &.b-bottom {
                border-bottom: 1px solid silver;
            }
            &.b-right {
                border-right: 1px solid silver;
            }
            &.right-bottom {
                border-bottom: 1px solid silver;
                border-right: 1px solid silver;
            }
        }
        > :nth-child(2)> :nth-child(2) {
            padding-left: 20px;
        }
    }
}

/* SECCION TRES */

.seccion.tres {
    margin: 0;
    position: relative;
}

.titulo-destacado {
    display: block;
    width: 100%;
    padding: 0 0 30px 0 !important;
    text-align: center;
    color: $BLACK;
    font-size: 36pt;
    span {
        color: transparent;
        width: 10%;
        background: $PRINCIPAL;
        height: 10px;
        margin: auto;
        display: block;
        border-radius: 30px;
        margin-top: 5px;
    }
}

.button-verde {
    background: $PRINCIPAL !important;
    color: $WHITE;
    font-size: 22px;
    padding: 8px 30px !important;
}

/********************/

/* PLANES */

.seccion.seis {
    padding: 4% 0 0 0;
}

.contenedor-planes {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 4%;
    .plan {
        height: 700px;
        width: 33%;
        >div {
            width: 100%;
            height: 100%;
        }
        .plan-header {
            border-bottom: 1px solid silver;
            text-align: center;
        }
        .plan-precio {
            color: $PRINCIPAL;
            font-size: 40pt;
        }
        .plan-body {
            text-align: center;
            line-height: 2em;
            height: 55%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .plan-nombre {
            font-size: 20pt;
            padding-bottom: 12px;
            text-transform: uppercase;
        }
    }
    > :nth-child(2) {
        border-right: 1px solid silver;
        border-left: 1px solid silver;
    }
}

button.md-button.md-primary.md-raised {
    &.boton-plan,
    &.boton-crear-logo {
        margin: 5% auto;
        display: block;
        color: $BLACK;
        background-color: $WHITE;
        border: 2px solid $BLACK;
        background: $WHITE;
        border-radius: 30px;
        padding: 6px 20px;
        font-size: 16pt;
        letter-spacing: 2px;
        :hover {
            background-color: $PRINCIPAL;
            color: $WHITE !important;
            border: 2px solid $PRINCIPAL;
        }
    }
}

/*END planes*/

/* PREGUNTAS */

.preguntas-contenedor {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2% 0;
    .preguntas,
    .respuestas {
        width: 50%;
    }
    .preguntas {
        >div {
            padding: 12px;
            padding-left: 12%;
            cursor: pointer;
            &:hover, &.activo {
                background: #c0c0c075;
                cursor: pointer;
            }
            h6 {
                font-size: 15pt;
                cursor: pointer
            }
            > div{
                display: none;
            }
        }
        >:last-child {
            border: none;
        }
    }
    .respuestas {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        >div {
            display: none;
            &.activo {
                display: block;
                width: 80%;
                font-size: 15pt;
                text-align: justify;
            }
        }
    }
}

/********************/

.seccion.cinco {
    background: $WHITE;
    margin: 0;
    padding-bottom: 20px;
    padding: 0 0 4% 0;
}

md-input-container.md-input-focused .md-input,
md-input-container.md-input-resized .md-input,
md-input-container .md-input.ng-invalid.ng-dirty {
    border-width: 1 !important;
}

/* MEDIAS */

@media (min-device-height:700px) and (max-device-width:1300px) and (orientation:portrait),
(min-height:700px) and (max-height:1300px) and (orientation:portrait) {
    .testimonios {
        width: 100%;
        height: 35vh;
    }
    .bazam-previzualizar-container.one> :last-child> :first-child img {
        height: auto !important;
    }
    .bazam-previzualizar-container.one> :first-child {
        width: 50% !important;
        height: auto !important;
    }
    ul.plan-lista {
        font-size: 15pt;
    }
    .contenedor-planes .plan,
    .contenedor-planes .plan>div {
        height: auto;
    }
    .bazam-previzualizar-container.one> :last-child> :last-child,
    .seccion.uno .titulo-inicio> :first-child span {
        display: none;
    }
    md-select.categorias-select,
    md-select.categorias-select md-select-value> :first-child {
        height: auto;
    }
}

@media (min-device-width:320px) and (max-device-width:640px),
(min-width:320px) and (max-width:640px) {
    

    header#comienzo 
    {
            margin-bottom: 2%;
            > div {
            flex-wrap: wrap;
            justify-content: center;
            > div.logo.grande{
                width: 200px;
            }
            > div:not(.logo) {
                flex: auto;
                display: flex;
                justify-content: center;
                div.acceder i {
                    vertical-align: top;
                    font-size: 25pt;
                }

                div.acceder i {
                    vertical-align: top;
                    font-size: 25pt;
                }
            }
        }
    }

    footer > div {
        flex-direction: column !important;
        flex: auto;
        > div {
            width: 100%;
        }

        .links-footer a {
            margin-right: 5px;
            font-size: 11pt;
            padding: 8px 5px 0px 0px;
        }

        .iconos-sociales {
            display: flex;
            justify-content: space-around;
            height: 47px;
            margin: 4% 0;
        }
    }

    .bazam-palette-picker {
        width: 60%;
    }

    .PREVIEW {
        display:none;

    }

    .preguntas-contenedor{
    
        .respuestas {
            display: none;
        }

        .preguntas {
            width: 100%;
            > div{
                padding: 0;
                padding-left: 0;
                border-bottom: 1px solid silver;
                h6 {
                    font-size: 14pt !important;
                    cursor: pointer;
                    PADDING: 12PX;
                    MARGIN: 0;
                }
                > div.activo{
                    display: block;
                    background: white;
                    padding: 18px;
                    width: 100%;
                }
            }
        }
    }

    .seccion.uno .input-tipografia {
        width: 100%;
    }

    md-input-container{
        margin-bottom: 0px !important;
    }

    md-toast {
        display: none;
    }

    .label-form {
        padding-top: 5%;
    }


    .seccion.uno {
        .titulo-inicio > :first-child {
            border-left: 1rem solid #5980B7;
            flex-direction: column;
            text-align: center;
        }

        .titulo-principal {
            font-size: 20px;
            width: 100%;
        }
    }

    .seccion.uno form > div > :first-child {
        flex-direction: column;
    }

   
    .seccion.uno form label,
    .seccion.uno form md-select,
    .seccion.uno .label-form {
        font-size: 16pt !important;
    }
    h1.titulo-principal br {
        display: none;
    }
    md-select.categorias-select,
    md-select.categorias-select md-select-value> :first-child {
        height: auto;
    }
    .seccion.seis,
    .seccion.uno .titulo-inicio> :first-child span , .bazam-previzualizar-container.one> :last-child{
        display: none
    }

    .bazam-previzualizar-container.one> :first-child {
        height: auto !important;
    }
    div.acceder a i, div.acceder span i {
        vertical-align: top;
        font-size: 25pt;
    }
    div.acceder:not(.not-ing) a, div.acceder:not(.not-ing) span {
        width: 50px;
        height: 50px;
    }
    .seccion.uno .titulo-inicio {
        >div {
            width: 100%;
        }
        .titulo-principal {
            font-size: 18pt;
            width: 100%;
        }
        h4.subtitle {
            font-size: 17pt;
        }
        > :last-child {
            display: none;
        }
    }
    .seccion.uno {
        min-height: auto;
        form {
            width: 90%;
            margin: auto;
            >div {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                > :first-child {
                    width: 100%;
                    max-width: 100%;
                }
                >div {
                    height: auto;
                    -webkit-box-flex: unset;
                    -ms-flex: auto;
                    flex: auto;
                    flex-direction: column;
                    justify-content: center;
                    > div{
                        flex: auto;
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }


    md-input-container.md-input-has-value .md-select-value>span:not(.md-select-icon) {
        -webkit-transform: none;
        transform: none;
    }
    md-input-container.md-input-has-value label[for='select_6'] {
        display: none;
    }
    label {
        -webkit-transform: none !important;
        transform: none !important;
    }
    md-input-container:not(.md-input-has-value) input:not(:focus) {
        font-size: 16pt !important;
    }
    input:not([type]),
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=tel],
    input[type=number],
    input[type=search],
    textarea.materialize-textarea {
        height: 3rem !important;
        font-size: 1rem !important;
    }
    md-input-container .md-input-message-animation {
        display: none;
    }
    .seccion.dos {
        padding: 4% 2%;
    }
    .input-tipografia {
        width: 70%;
    }
    .seccion.uno form label,
    .seccion.uno form md-select,
    .label-form {
        font-size: 16pt !important;
    }
    md-input-container {
        margin: 40px 0;
        margin-top: 50px !important;
    }
    md-input-container.md-block.etiquetas {
        margin-top: 77px !important;
    }
    md-chip-template strong {
        font-size: 16pt !important;
    }
    .etiquetas.md-chips md-chip {
        height: 60px;
    }
    .md-chips.md-removable md-chip {
        line-height: 28px;
    }

    .md-chips md-chip .md-chip-remove md-icon {
        top: 23%;
        left: 30%;
    }

    .md-chips md-chip .md-chip-remove md-icon {
        height: 40px;
        width: 40px;
        min-height: auto;
        min-width: auto;
    }
    .md-chips md-chip .md-chip-remove {
        text-align: center;
        width: 60px;
        height: 40px;
        min-width: auto;
    }
    md-select-menu md-content md-option {
        font-family: sans-serif !important;
    }
    button.md-button.md-primary.md-raised.boton-formulario-generar {
        padding: 7px 25px;
        font-size: 16pt !important;
    }
    button.md-button.md-primary.md-raised.boton-formulario-generar:hover {
        background-color: $PRINCIPAL;
        color: $WHITE;
        border-color: $WHITE;
    }
    .seccion.tres {
        display: none;
    }
    .caracteristicas .caracteristicas__item> :last-child p {
        display: none;
    }
    .caracteristicas .caracteristicas__item {
        padding: 30px 0px;
    }
    .respuestas>div.activo {
        display: block;
        width: 83%;
        font-size: 20pt;
        text-align: justify;
    }
    .preguntas>div {
        padding-left: 7%;
    }
    .preguntas>div h6 {
        font-size: 19pt;
    }
    .md-autocomplete-suggestions li {
        font-size: 30pt;
    }
    .md-autocomplete-suggestions *,
    .md-autocomplete-suggestions {
        -webkit-transform: none !important;
        transform: none !important;
    }

    .titulo-destacado {
        font-size: 23pt;
    }

    .seccion.dos{
        display: none;
    }

    div.acceder > :last-child {
        display: none;
    }


    .logos-predisenados .--item {
        width: 46%   !important;
        margin: 0  !important;
        margin-bottom: 5%  !important;
    }

    .logos-predisenados > :nth-child(6) ~ div {
        display: none;
    }

    .logos-predisenados .--item .tags {
        word-wrap: break-word;
    }
}

@media (min-device-width:641px) and (max-device-width:1080px),
(min-width:641px) and (max-width:1080px) {

    .seccion.uno .titulo-inicio .titulo-principal {
        text-align: center;
        font-size: 25pt;
    }
    .seccion.uno .titulo-inicio > :first-child span{
        display:none;
    }
  
    .seccion.uno .titulo-inicio h4.subtitle {
        display: none;
    }
    .seccion.uno .titulo-inicio h4.subtitle br,  .seccion.uno .titulo-inicio .titulo-principal br {
        display: none;
    }
    .caracteristicas .caracteristicas__item> :last-child h4 {
        font-size: 24pt;
    }
    .contenedor-planes {
        width: 100%;
    }

    .logos-predisenados .--item {
        width: 31%;
        margin: 0;
        margin-bottom: 3%;
    }

    .seccion.dos .caracteristicas .caracteristicas__item {
        width: 100%;
        border: unset !important;
    }

    .bazam-previzualizar-container > :last-child {
        display: none !important;
    }

    .titulo-destacado {
        font-size: 30pt;
    }

    .contenedor-planes .plan .plan-nombre {
        font-size: 15pt;
    }

    .contenedor-planes .plan .plan-precio {
        font-size: 33pt;
    }
    ul.plan-lista li {
        font-size: 8pt;
    }

    .contenedor-planes .plan .plan-body {
        height: 45%;
    }
}

/* selector de colores

.md-select-value>span:not(.md-select-icon) .md-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.estilo-de-color .md-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.selector-de-colores md-select-value,
.selector-de-colores md-select-value[aria-hidden="true"],
md-select.selector-de-colores:not([disabled]):focus .md-select-value {
    color: transparent;
}

md-select-value .md-text>:first-child {
    width: 100%;
}

.estilo-de-color .md-text>span {
    width: 33%;
    padding: 10px;
    color: transparent;
}

md-select[multiple] md-select-value>span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

md-select[multiple] md-select-value span>div.md-text>*:not(:first-child) {
    display: none;
}

*/