<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet">

<style>
    .fuente-svg {
        font-family: 'Libre Barcode 39 Text', cursive;
    }
</style>

<div class="titulo administrar-t">DESCARGA TU LOGO</div>

<div class="row center-xs">
    <div layout class="col-xs-10 administrar-logo md-whiteframe-2dp layout-padding row around-xs">
        <div class="col-xs-10 col-md-5">

            <div class="h_seccion_dashboard md-whiteframe-2dp text-center" layout-padding>DATOS GENERALES</div>
            <div class="logo-datos md-whiteframe-2dp">

                <bazam-visualizar data-svg="administrar.base64(administrar.datos.logo)">
                </bazam-visualizar>
            </div>

            <div class="datos-generales md-whiteframe-2dp" ng-if="administrar.datos.color">
                <div class="colores">
                    <div layout-padding>
                        <div class="color">
                            <b layout-padding>Color 1</b>
                            <div class="barra">.</div>
                            <div class="parte-gris">#435435</div>
                        </div>
                        <div layout layout-align="space-between" class="fuente-adm">
                            <b layout-padding>Fuente</b>
                            <b flex class="parte-gris">Roboto</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-md-6 scroll">
            <div class="h_seccion_dashboard md-whiteframe-2dp text-center" layout-padding>OPCIONES</div>
            <div flex layout="row" layout-align="space-around" layout-wrap class="md-whiteframe-2dp text-center layout-padding">
                <div flex="50">
                    <div class="logo-descargar">
                        <bazam-visualizar data-svg="administrar.base64(administrar.datos.logo)" class="logo-descargar">
                        </bazam-visualizar>
                        <md-button class="iconos-administrar" ng-click="administrar.descargar()">
                            <P>Descargar</P>
                            <p>{{administrar.ancho}}PX</p>
                        </md-button>
                    </div>
                    <div class="contenedor-link"></div>
                </div>
            </div>
            <div layout-padding class="md-whiteframe-2dp row around-xs">
                <div class="row">
                    <md-switch ng-model="administrar.datos.svg" aria-label="Switch Image">
                        SVG
                    </md-switch>
                </div>
                <md-switch ng-model="administrar.color" aria-label="Switch Image" ng-if="false">
                    Fondo
                </md-switch>
                <md-slider-container>
                    <span>Ancho</span>
                    <md-slider flex min="16" max="1000" ng-model="administrar.ancho" aria-label="width">
                    </md-slider>
                    <span>{{administrar.ancho}}</span>
                </md-slider-container>
            </div>
            <div ng-if="administrar.color" class="md-whiteframe-2dp" layout-padding>
                <h3 class="text-center">Color de Fondo</h3>
                <div class="row bottom-xs center-xs">
                    <color-picker ng-model="administrar.datos.colorSeleccionado" class="md-whiteframe-2dp">
                    </color-picker>
                    <div class="md-whiteframe-2dp" style="background:{{administrar.datos.colorSeleccionado}}; width:30px; height:30px; margin-left:2%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<imagen>

</imagen>
</div>
<div class="row between-xs">
    <div class="col-xs-1 col-xs-offset-1">
        <md-button class="md-raised md-primary" ui-sref="dashboard">Atrás</md-button>
    </div>
</div>