.DS_*
node_modules

.vscode
public/assets/icons/
poiinonbkjn.png
tmp/*
.svg
npm-debug.log
fuentes/*
avatares/*
.ttf
.eslintrc.js
.eslintrc.json


# exclude everything
public/tmp/*

# exception to the rule
!public/temp/.gitkeep 
!public/temp/shared/.gitkeep 
configuracion/
avatares/*
.vs/*
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/config/applicationhost.config
.vs/ProjectSettings.json


plantillas-documentos/*.pptx
plantillas-documentos/*.docx
public/creador-de-logos/built/*
public/landing/built/*
public/administrador/built/*