:root {
    --principal: #612787;
    --secundario: #b92d00;
    --tercero: #549788;
    --fondo: #eceff0;
    --blanco: #fff;
}

/* BEGIN Black */
@font-face {
    font-family: 'maven-black';
    src: url("../fonts/maven/MavenPro-Black.ttf?v=2.003") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'futura-heavy';
    src: url("../fonts/futura/FuturaStd-Heavy.ttf?v=2.025") format("truetype");
    font-weight: 800;
    font-style: normal;
}
/* END Black */


/* BEGIN Bold */
@font-face {
    font-family: 'maven-bold';
    src: url("../fonts/maven/MavenPro-Bold.ttf?v=2.003") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'futura-bold';
    src: url("../fonts/futura/FuturaStd-Bold.ttf?v=2.025") format("truetype");
    font-weight: 800;
    font-style: normal;
}
/* END Bold  */


/* BEGIN Medium */
@font-face {
    font-family: 'maven-medium';
    src: url("../fonts/maven/MavenPro-Medium.ttf?v=2.003") format("truetype");
    font-weight: 500;
    font-style: normal;
}
/* END Medium */


/* BEGIN Regular */
@font-face {
    font-family: 'maven-regular';
    src: url("../fonts/maven/MavenPro-Regular.ttf?v=2.003") format("truetype");
    font-weight: 400;
    font-style: normal;
}
/* END Regular */


*:not(i) {
    font-family: 'futura-bold' !important;
    font-weight: 800;
}

p,
h1,
h2,
button,
html,
input,
select,
textarea {
    font-family: 'futura-bold' !important;
    font-weight: 800;
}

body {
    background: white;
    height: 100%;
}



*:not(i),
button,
html,
input,
select,
textarea,
.campo-formulario,
::-webkit-input-placeholder {
    font-family: 'futura-bold' !important;
}


input::-webkit-input-placeholder {color: var(--principal) !important;}
input::-moz-input-placeholder {color: var(--principal) !important;}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: auto;
    padding: 3px 0;
    color: var(--principal);
    border-bottom: 2px solid var(--principal);
}

md-slider {
    height: 40px;
}
md-slider .md-track-container {
    top: 9px;
}
md-slider .md-thumb {
    top: 0px;
}

md-slider.md-default-theme .md-thumb:after, md-slider .md-thumb:after {
    border-color: var(--fondo);
    background-color: var(--fondo);
    border-color: var(--principal)
}

md-slider.md-default-theme.md-min .md-thumb:after, md-slider.md-min .md-thumb:after {
    border-color: var(--fondo);
    background-color: var(--fondo);
    border-color: var(--principal)
}

md-slider.md-default-theme .md-track, md-slider .md-track {
    background-color: var(--tercero);
}

md-slider.md-default-theme .md-track.md-track-fill, md-slider .md-track.md-track-fill {
    background-color: var(--principal);
}

md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color: var(--principal);
    border-width: 2px;
    color: var(--principal);
}

.input-field label {
    top: 0.2rem;
    color: var(--principal);
}


button,
html,
input,
select,
textarea {
    -webkit-appearance: none;
}

/* COLORES */

.principal{
    color: var(--principal);
}
.secundario{
    color: var(--secundario);
}
.tercero{
    color: var(--tercero);
}    
.fondo{
    color: var(--fondo);
}


/* TAMAÑOS FUENTES */

.regular {
    font-family: 'Open Sans R' !important;
}

.light {
    font-family: 'Open Sans L' !important;
}

.semibold {
    font-family: 'Open Sans SB' !important;
}

.bold {
    font-family: 'Open Sans B' !important;
}


/****** MISC ******/

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.flex {
    display: flex;
    display: -webkit-box;
    /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    /* OLD: Firefox (buggy) */
    display: -ms-flexbox;
    /* MID: IE 10 */
    display: -webkit-flex;
}

.flex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}

.flex.justify-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.absolute {
    position: absolute;
    z-index: 1000000000;
}

.absolute.center {
    left: calc(50% - 18px);
    left: -webkit-calc(50% - 18px);
}

table.table-admin th,
.table-admin td {
    padding: 15px 0 15px 5px;
    text-align: left;
}

table.table-admin {
    border-collapse: collapse;
}

table.table-admin,
table.table-admin th,
table.table-admin td {
    border: 1px solid #e8e8e8;
}

.table-admin tbody tr td {
    font-size: 12px;
    color: #333333;
}

.table-admin tbody tr td.usuario {
    color: #7eb6e7;
    font-weight: bold;
}

.shadow {
    -webkit-box-shadow: 0px 0px 25px -1px rgba(204, 204, 204, 0.42);
    box-shadow: 0px 0px 25px -1px rgba(204, 204, 204, 0.42);
    position: relative;
}

.negrita {
    font-weight: bold !important;
}

.margin-auto {
    margin: auto;
}

.aling-top {
    vertical-align: top;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.margin-right-20{
    margin-right: 20;
}

.inline > *{
    display: inline-block;
}   

/*PARTES Y PEQUEÑOS ELEMENTOS*/


button.boton-verde {
    background-color: var(--tercero);
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: 3px 9px;
    margin-top: 11px;
    font-family: 'futura-heavy' !important;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0;
    border-radius: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(97,39,135,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(97,39,135,0.4); 
}


/*Begin header*/
header { 
    background-color: var(--principal);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right; 
    font-size: 14px;
    padding: 0 10px;
}
header div div.login {
    color: white
}
div.acceder { 
    color: white; 
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-family: "futura-heavy" !important;
}
div.acceder i { vertical-align: top; }
/*End header*/

/*Begin sub-header*/
section.sub-header {
    -webkit-box-shadow: 0px 0px 1px 0px #d6d6d6;
            box-shadow: 0px 0px 1px 0px #d6d6d6;
}
section.sub-header .row .col {
    text-align: center;
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: center;
}
section.sub-header .row .col.logo h5 {
    display: inline-flex;
    vertical-align: middle;
}
section.sub-header .row .col.logo h5 i{ font-size: 36px; }

section.sub-header .row .col.texto h5{font-family: 'futura-heavy' !important; text-align: center; }

/*End sub-header*/


div.sidebar-1, div.sidebar-2, div.lienzo{
    height: 100%;
    padding-top: 10px !important;
}


/*Begin SideBar 1*/
div.sidebar-1 {
    -webkit-box-shadow: 3px 0px 2px -3px #d6d6d6;
            box-shadow: 3px 0px 2px -3px #d6d6d6;
    overflow-y: scroll;
    height: 100% !important;
}

div.sidebar-1::-webkit-scrollbar {
    width: 4px;
}

div.sidebar-1::-webkit-scrollbar:window-inactive { 
    width: 1px;
}
 
/* Track */
div.sidebar-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 
    -webkit-border-radius: 0;
    border-radius: 0;
}
 
/* Handle */
div.sidebar-1::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(97,39,135,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
div.sidebar-1::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(97,39,135,0.4); 
}

md-slider {
    margin: 0;
}
p.label-slider-input-left{
    display: inline-block; margin: 0; color: #8b8a8c; font-family: "futura-heavy" !important; font-size: 13px
}
p.label-slider-input-right{
    float: right; display: inline-block; margin: 0; color: #8b8a8c; font-family: "futura-heavy" !important; font-size: 13px
}
/*End SideBar 1*/

/*Begin Sidebar 2*/
.cubo-logo, .cubos-logos, .cubo-fuentes{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.cubo-logo div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    background-color: var(--principal);
    border-radius: 10px;
    color: #fff;
}

.cubo-logo div span i, .cubo-logo div span.texto{
    font-size: 40px;
}
.cubo-logo div span{
    font-size: 20px;
}
/*End Sidebar 2*/

/*Contenedor Principal*/
div.contenedor-principal{
    background-color: white;
    background-color: var(--fondo);
}
/*Contenedor Principal*/


/*Begin Rectangulo de fuentes*/
.cubos-logos div{
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    background-color: var(--blanco);
    border-radius: 10px;
    color: var(--tercero);
    cursor: pointer;
}

.cubos-logos div > *{
    width: 100%
}

.cubos-logos div.seleccionado{
    border: 2px solid var(--principal);
}

.cubos-logos div span i, .cubos-logos div span.texto{
    font-size: 40px;
}
.cubos-logos div span{
    font-size: 20px;
}
.cubo-fuentes{
    flex-flow: column;
    background-color: var(--blanco);
    height: 432px;
    border-radius: 10px;
    align-items: center;
}
.cubo-fuentes .texto {
    font-size: 18px;
    padding: 0px 10px;
    margin: 2px 0;
    border-radius: 7px;
    transition: all 0.25s;
}


.cubo-fuentes .texto {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: pointer;
}

.cubo-fuentes .texto.seleccionado{
    border: 2px solid var(--principal);
    color: var(--principal);
    font-size: 22px
} 
/*End Rectangulo de fuentes*/



/* provisionales */

.ocultar{
    
    display: none;
    
}

.tipo-inactivo{
    
    opacity: 0.7
    
}

