:root {
    --principal: #612787;
    --secundario: #b92d00;
    --tercero: #549788;
    --fondo: #eceff0;
    --blanco: #fff;
}

/* BEGIN Black */
@font-face {
    font-family: 'maven-black';
    src: url("../fonts/maven/MavenPro-Black.ttf?v=2.003") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'futura-heavy';
    src: url("../fonts/futura/FuturaStd-Heavy.ttf?v=2.025") format("truetype");
    font-weight: 800;
    font-style: normal;
}
/* END Black */


/* BEGIN Bold */
@font-face {
    font-family: 'maven-bold';
    src: url("../fonts/maven/MavenPro-Bold.ttf?v=2.003") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'futura-bold';
    src: url("../fonts/futura/FuturaStd-Bold.ttf?v=2.025") format("truetype");
    font-weight: 800;
    font-style: normal;
}
/* END Bold  */


/* BEGIN Medium */
@font-face {
    font-family: 'maven-medium';
    src: url("../fonts/maven/MavenPro-Medium.ttf?v=2.003") format("truetype");
    font-weight: 500;
    font-style: normal;
}
/* END Medium */


/* BEGIN Regular */
@font-face {
    font-family: 'maven-regular';
    src: url("../fonts/maven/MavenPro-Regular.ttf?v=2.003") format("truetype");
    font-weight: 400;
    font-style: normal;
}
/* END Regular */


*:not(i, text) {
    font-family: 'futura-bold' !important;
    font-weight: 800;
}

label, span, p,
h1,
h2,
button,
input,
select,
textarea {
    font-family: 'futura-bold' !important;
    font-weight: 800;
}

body {
    background: var(--fondo);
    height: 100%;
    position: relative;
}

:focus{
    outline: none
}

*:not(i, text),
button,
html,
input,
select,
textarea,
.campo-formulario,
::-webkit-input-placeholder {
    font-family: 'futura-bold' !important;
}


input::-webkit-input-placeholder {color: var(--principal) !important;}
input::-moz-input-placeholder {color: var(--principal) !important;}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: auto;
    padding: 3px 0;
    color: var(--principal);
    border-bottom: 2px solid var(--principal);
}

md-slider {
    height: 40px;
}
md-slider .md-track-container {
    top: 9px;
}
md-slider .md-thumb {
    top: 0px;
}

md-slider.md-default-theme .md-thumb:after, md-slider .md-thumb:after {
    border-color: var(--fondo);
    background-color: var(--fondo);
    border-color: var(--principal)
}

md-slider.md-default-theme.md-min .md-thumb:after, md-slider.md-min .md-thumb:after {
    border-color: var(--fondo);
    background-color: var(--fondo);
    border-color: var(--principal)
}

md-slider.md-default-theme .md-track, md-slider .md-track {
    background-color: var(--tercero);
}

md-slider.md-default-theme .md-track.md-track-fill, md-slider .md-track.md-track-fill {
    background-color: var(--principal);
}

md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color: var(--principal);
    border-width: 2px;
    color: var(--principal);
}

.input-field label {
    top: 0.2rem;
    color: var(--principal);
}


button,
html,
input,
select,
textarea {
    -webkit-appearance: none;
}

/* COLORES */

.principal{
    color: var(--principal);
}
.secundario{
    color: var(--secundario);
}
.tercero{
    color: var(--tercero);
}    
.fondo{
    color: var(--fondo);
}


/* TAMAÑOS FUENTES */

.regular {
    font-family: 'Open Sans R' !important;
}

.light {
    font-family: 'Open Sans L' !important;
}

.semibold {
    font-family: 'Open Sans SB' !important;
}

.bold {
    font-family: 'Open Sans B' !important;
}


/****** MISC ******/

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.flex {
    display: flex;
    display: -webkit-box;
    /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    /* OLD: Firefox (buggy) */
    display: -ms-flexbox;
    /* MID: IE 10 */
    display: -webkit-flex;
}

.flex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}

.flex.justify-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.absolute {
    position: absolute;
    z-index: 1000000000;
}

.absolute.center {
    left: calc(50% - 18px);
    left: -webkit-calc(50% - 18px);
}

table.table-admin th,
.table-admin td {
    padding: 15px 0 15px 5px;
    text-align: left;
}

table.table-admin {
    border-collapse: collapse;
}

table.table-admin,
table.table-admin th,
table.table-admin td {
    border: 1px solid #e8e8e8;
}

.table-admin tbody tr td {
    font-size: 12px;
    color: #333333;
}

.table-admin tbody tr td.usuario {
    color: #7eb6e7;
    font-weight: bold;
}

.shadow {
    -webkit-box-shadow: 0px 0px 25px -1px rgba(204, 204, 204, 0.42);
    box-shadow: 0px 0px 25px -1px rgba(204, 204, 204, 0.42);
    position: relative;
}

.negrita {
    font-weight: bold !important;
}

.margin-auto {
    margin: auto;
}

.aling-top {
    vertical-align: top;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.margin-right-20{
    margin-right: 20;
}

.inline > *{
    display: inline-block;
}   

/*PARTES Y PEQUEÑOS ELEMENTOS*/


.md-tooltip {
    background-color: white !important;
    color: var(--principal) !important;
    border-radius: 5px;
}

.divisor{
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
}

button.boton-verde {
    background-color: var(--tercero);
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: 3px 9px;
    margin-top: 11px;
    font-family: 'futura-heavy' !important;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 
    -webkit-border-radius: 0;
    border-radius: 0;
}

::-webkit-scrollbar:window-inactive { 
    width: 1px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(97,39,135,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(97,39,135,0.4);  
}


/*Begin header*/
header { 
    background-color: var(--principal);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right; 
    font-size: 14px;
    padding: 0 10px;
}
header div div.login {
    color: white
}
div.acceder { 
    color: white; 
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-family: "futura-heavy" !important;
}
div.acceder i { vertical-align: top; }
/*End header*/

/*Begin sub-header*/
section.sub-header, section.sub-header-principal{
    -webkit-box-shadow: 0px 0px 1px 0px #d6d6d6;
            box-shadow: 0px 0px 1px 0px #d6d6d6;
    position: relative;
    z-index: 2;
}
section.sub-header .row .col, section.sub-header-principal .row .col.logo{
    text-align: center;
    display: flex;
    align-items: center;
    height: 90px;
}

section.sub-header .row .col.texto{
    justify-content: center;
}

section.sub-header .row .col.logo h5 , section.sub-header-principal .row .col.logo h5 {
    display: flex;
    align-items: center;
}
section.sub-header .row .col.logo h5 i, section.sub-header-principal .row .col.logo h5 i{ font-size: 36px; }

section.sub-header .row .col.texto h5{font-family: 'futura-heavy' !important; text-align: center; }

/*End sub-header*/


div.sidebar-1, div.sidebar-2, div.lienzo{
    padding-top: 10px !important;
    max-height: calc(100vh - 9rem);
    overflow-y: scroll;
    height: 100%;
    margin: 0 0;
}

div.sidebar-1, div.sidebar-2{
    background-color: white;
}

div.sidebar-2{
    z-index: 0;
    height: 100%;
    position: relative;
    transition: margin-left 1s ease;
}

/*Begin SideBar 1*/
div.sidebar-1 {
    -webkit-box-shadow: 3px 0px 2px -3px #d6d6d6;
            box-shadow: 3px 0px 2px -3px #d6d6d6;
    position: fixed;
    z-index: 1;
}

div.sidebar-1::-webkit-scrollbar {
    width: 4px;
}

div.sidebar-1::-webkit-scrollbar:window-inactive { 
    width: 1px;
}
 
/* Track */
div.sidebar-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 
    -webkit-border-radius: 0;
    border-radius: 0;
}
 
/* Handle */
div.sidebar-1::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(97,39,135,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
div.sidebar-1::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(97,39,135,0.4); 
}

md-slider {
    margin: 0;
}
p.label-slider-input-left{
    display: inline-block; margin: 0; color: #8b8a8c; font-family: "futura-heavy" !important; font-size: 13px
}
p.label-slider-input-right{
    float: right; display: inline-block; margin: 0; color: #8b8a8c; font-family: "futura-heavy" !important; font-size: 13px
}
/*End SideBar 1*/

/*Begin Sidebar 2*/
.cubo-logo, .cubos-logos, .cubo-fuentes, .cubo-logo-orientacion{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.cubo-logo div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    background-color: var(--principal);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.cubo-logo div span i, .cubo-logo div span.texto{
    font-size: 40px;
}
.cubo-logo div span{
    font-size: 20px;
}
/*End Sidebar 2*/

/*Contenedor Principal*/
div.contenedor-principal{
    transition: width 1s ease;
    padding: 0 !important;
    background-color: var(--fondo);
    max-height: calc(100vh - 9rem);
    height: 100%;
    display: inline-block;
    float: none !important;
    position: relative;
}
/*Contenedor Principal*/


/*Begin Rectangulo de fuentes*/
.cubos-logos div{
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    background-color: var(--blanco);
    border-radius: 10px;
    color: var(--tercero);
    cursor: pointer;
}

.cubos-logos div > *{
    width: 100%
}

.cubos-logos div.seleccionado{
    border: 2px solid var(--principal);
}

.cubos-logos div span i, .cubos-logos div span.texto{
    font-size: 40px;
}
.cubos-logos div span{
    font-size: 20px;
}
.cubo-fuentes{
    flex-flow: column;
    background-color: var(--blanco);
    height: 432px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0px 1px 2px 1px #dedede;
}
.cubo-fuentes .texto {
    font-size: 18px;
    padding: 0px 10px;
    margin: 2px 0;
    border-radius: 7px;
    transition: all 0.25s;
}


.cubo-fuentes .texto {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: pointer;
}

.cubo-fuentes .texto.seleccionado{
    border: 2px solid var(--principal);
    color: var(--principal);
    font-size: 22px
} 
/*End Rectangulo de fuentes*/


.cubos-logos div{
    position: relative;
    box-shadow: 0px 1px 2px 1px #dedede;
}

.cubos-logos div span.seleccionar {
    position: absolute;
    top: 43px;
    width: 48px;
    color: var(--principal);
    border-radius: 50%;
    padding: 4px;
    opacity: 0;
    background-color: white;
    transition: 0.5s all;
    z-index: 1000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cubos-logos div .overlay-combinacion{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  #00000042;
    opacity: 0;
    border-radius: 5px;
    transition: all 0.5s;
}

.cubos-logos div:hover span.seleccionar, .cubos-logos div:hover .overlay-combinacion{
    opacity: 1
}

.cubos-logos div span.seleccionar:hover{
    width: 50px;
    height: 50px;
    top: 41px;
}





/*BEGIN LOGIN MODAL*/

.overlay.show{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.68); /*dim the background*/
}

.overlay.hide{
    height: 0%;
    z-index: 0;
    display: none
}

div.login-form-flex{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.cubo-form {
    background-color: var(--blanco);
    border: 2px solid var(--principal);
    border-radius: 10px;
    padding: 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
}

div.cubo-form i.cerrar{
    background-color: var(--blanco);
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
}

.login-form , .registro-form{
    display: flex;
    flex-flow: column;
    align-items: center;
}
/*END LOGIN MODAL*/

/***********/

.deshabilitado {
    
    opacity: 0.6;
    
}

/* provisionales */

.ocultar{
    margin-left: 0px !important;
    transition: margin-left 0.5s ease !important;
}

.tipo-inactivo{
    background-color: #7d7d7d !important;
}

/*END provisionales*/

/*BEGIN opciones editor header*/

.opciones-sub-header .col {
    padding: 20px 5px;
    display: flex;
    align-items: center;
}

.opciones-sub-header .col span{
    font-family: "futura-heavy" !important;
}

.selector-fondo, .selector-cuadricula{
    width: 49px;
    height: 49px;
    background-color: var(--fondo);
    border-radius: 10px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.selector-fondo{
    box-shadow: inset 0px 0px 3px 2px #e3e3e3;
}

.selector-cuadricula{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector-cuadricula i{
    font-size: 38px;
    color: gray;
}

button.boton-oborder {
    border: 1px solid var(--principal);
    border-radius: 4px;
    background-color: transparent;
    color: var(--principal);
    font-family: "futura-heavy" !important;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-size: 11px;
    padding: 4px 15px;
    margin: 0 auto;
    width: 83px;
}
button.boton-oborder i{
    font-size: 23px;
    margin-top: 0px;
}

/*END opciones editor header*/

/*BEGIN opciones sidebar 1 editor*/

p.titulo{
    font-size: 17px;
}

.estilo-texto{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 8px;
}

.estilo-texto div{
    cursor: pointer;
}


.estilo-texto .negrita{
    font-weight: bold;
    margin-right: 20px;
}

.estilo-texto .menos{
    margin-right: 20px;
}

.estilo-texto .mas{
    align-items: start !important;
}

.estilo-texto .cursiva{
    font-family: "futura-heavy" !important;
    font-style: italic;
}

.estilo-texto .negrita, .estilo-texto .cursiva, .estilo-texto .menos, .estilo-texto .mas{
    width: 40px;
    height: 40px;
    background-color: var(--fondo);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    box-shadow: 0px 1px 2px 0px #d9d9d9;
}

.estilo-texto .menos, .estilo-texto .mas{
    font-size: 25px;
}

.estilo-texto .negrita.activo, .estilo-texto .cursiva.activo, .estilo-texto .menos.activo, .estilo-texto .mas.activo{
    color: var(--principal)
}

.estilo-texto .color{
    width: 100px;
    height: 40px;
    background-color: gray;
    border-radius: 20px;
}

.cubo-logo-orientacion div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: var(--principal);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.cubo-logo-orientacion.vertical div{
    height: 100px;
    flex-flow: column;
}

.cubo-logo-orientacion.horizontal div{
    height: 100px;
    font-size: 13px;
    flex-flow: row;
}

/* BEGIN CONtenedor svg*/
.contenedor-svg{
    width: 400px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px #d4d4d4;
}
/**/

/*Begin contenedores borradores y iconos*/
.contenedor-borradores,  .contenedor-iconos{
    position: absolute;
    width: 100%;
    height: 150px;
    background: #f9f9f9;
    left: 0;
    transition: 1s all;
    box-shadow: 2px 1px 1px 1px #9e9e9e;
    border-left: 1px solid #f3f3f3;
}

.contenedor-borradores.abierto, .contenedor-iconos.abierto{
    bottom: 0;
}
.contenedor-borradores.cerrado, .contenedor-iconos.cerrado{
    bottom: -150px;
}

.contenedor-borradores .col .opcion-borrador{
    width: 130px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 1px 2px 1px #dedede;
}

.contenedor-borradores .col .agregar{
    width: 130px;
    height: 130px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    color: var(--principal);
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 1px 2px 1px #dedede;
}

.contenedor-borradores .col .agregar i{
    font-size: 40px;
}

.contenedor-borradores .col .opcion-borrador span.usar ,.contenedor-borradores .col .opcion-borrador span.remover {
    position: absolute;
    top: 47px;
    color: var(--principal);
    border-radius: 50%;
    padding: 4px;
    opacity: 0;
    background-color: white;
    transition: 0.5s all;
    z-index: 1000000;
}
.contenedor-borradores .col .opcion-borrador .overlay-opcion{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  #00000042;
    opacity: 0;
    border-radius: 5px;
    transition: all 0.5s;
}



.contenedor-borradores .col .opcion-borrador span.usar i ,.contenedor-borradores .col .opcion-borrador span.remover i{
    font-size: 23px;
}
.contenedor-borradores .col .opcion-borrador span.remover {
    right: 25px;
}
.contenedor-borradores .col .opcion-borrador span.usar {
    left: 25px;
}




.contenedor-borradores .col .opcion-borrador:hover span.usar,.contenedor-borradores .col .opcion-borrador:hover span.remover{
    opacity: 1;
}
.contenedor-borradores .col .opcion-borrador:hover .overlay-opcion{
    opacity: 1;
}
.contenedor-borradores .col .opcion-borrador span.usar:hover{
    padding: 6px;
    top: 45px;
    left: 23px;
}
.contenedor-borradores .col .opcion-borrador span.remover:hover{
    padding: 6px;
    top: 45px;
    right: 23px;
}



    /*OVERLAY PARA EL LIENZO*/
.overlay-svg{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 0%;
    width: 100%;
    background-color: #00000042;
    transition: 1.5s;
}

.overlay-svg.abierto{
    height: 100%;  
}
/*End contenedores borradores y iconos*/