doctype html
html
    include head.pug
    body(class="categorias")
        header(class="header" id="comienzo" layout-padding)
            div(class="logo grande")
                a(href="/")
                    img(src="../landing/assets/img/logo.pro.svg")
            
            div
                div(class="login")
                    div(class="acceder not-ing" style="cursor: pointer")
                        span Acceder
                        span Registro
                    
                    div(class="acceder hidden" style="cursor: pointer")
                        span
                            i(class="material-icons") add_circle_outline
                        
                        span
                            i(class="material-icons") favorite
                        
                        span
                            i(class="material-icons") account_circle
                        
                        span
                            i(class="material-icons") power_settings_new
        div(class="container")
            ul(class='lista-categorias row')
                each val, index in categorias
                    li(class='categoria col s4')
                        p= val.nombreCategoria

        div(class="logos-predisenados container")
            div(class="row")
                each val in [1,2,3,4,5,6,7,8,9,10, 11, 12]
                    div(class='--item col s2')
                        img(src="../landing/assets/img/c4.png", alt="LOGO")

    include foot.pug