<footer>
    <div>
        <div class="logo pequeno" ui-sref="comienzo">
            <img src="../landing/assets/img/logo.pro.svg">
        </div>
        <div class="links-footer">
            {% for link in idioma.footer.linksInternos %}
            <a href="{{link.url}}">{{link.nombre}}</a>
            {% endfor %}
        </div>
        <div class="flex">
            <div class="selector-de-idiomas">
                <select class="idioma">
                    {% for clave, valor in idiomas %}  {% if lang == clave %}
                    <option value="{{clave}}"  selected>{{valor}}</option>
                    {% else %}
                    <option value="{{clave}}">{{valor}}</option>
                    {% endif %} {% endfor %}
                </select>
            </div>
            <div class="iconos-sociales">
                {% for red in idioma.footer.redes %}
                <a href="{{red.url}}" target="_new">
                    <i class="{{red.awesomeIcon}}"></i>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>