<footer>
    <div>
        <div class="logo pequeno" ui-sref="comienzo">
            <img src="../landing/assets/img/logo.pro.svg">
        </div>
        <div class="links-footer">
            <a href="/terminos-y-condiciones">Términos y condiciones</a>
            <a href="/avisos-legales">Avisos Legales</a>
            <a href="/blog"> Blog</a>
        </div>
        <div class="iconos-sociales">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
        </div>
    </div>
</footer>