<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Creador de logotipos online para logotipos de {{title}} | Logopro</title>
    <base href="/logo-de-{{categoriaSeleccionada.categoriaFormateada}}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="logorpo, {{title}}" />
    <meta name="description" content="Amplía tu negocio de {{title}} con un logotipo de {{title}} especial diseñado con Logopro. Con millones de iconos para elegir. " />
    <link rel="shortcut icon" type="image/x-icon" href="/landing/assets/img/favicon.ico" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/landing/assets/css/materialize.min.css">
    <link rel="stylesheet" href="/landing/assets/css/main.css">
    <meta property="og:title" content="LOGOPRO | Tu logo en 3 minutos">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/landing/assets/img/logo.pro.svg">
    <meta property="og:image:url" content="/landing/assets/img/logo.pro.svg">
    <meta property="og:description" content="Diseña tu logo">
    <meta property="og:site_name" content="logopro">
    <meta property="fb:app_id" content="152803392097078">

    <script src="/jquery/jquery.min.js"></script>
    <script src='../landing/assets/js/app.js'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>

