<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr" ng-app="landing" ng-cloak>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <base href="/">
    <title>{{idioma.SEO.title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{idioma.SEO.keywords}}" />
    <meta name="description" content="{{idioma.SEO.description}}" />

    <meta property="og:title" content="{{idioma.SEO.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/landing/assets/img/logo.pro.svg" />
    <meta property="og:image:url" content="/landing/assets/img/logo.pro.svg" />
    <meta property="og:description" content="{{idioma.SEO.description}}" />
    <meta property="og:site_name" content="logopro" />
    <meta property="fb:app_id" content="152803392097078" />

    <link href="/landing/assets/css/main.css" rel="stylesheet">
    <link href="/angular-material/angular-material.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/landing/assets/css/materialize.min.css">

    <!--     <link href="/landing/assets/css/fuentes.css" rel="stylesheet" > -->
    <!-- <link href="/landing/assets/animation.css" rel="stylesheet"> -->
    <!--     <link rel="stylesheet" href="/angular-ui-carousel/ui-carousel.min.css"> -->

    <link rel="shortcut icon" type="image/x-icon" href="landing/assets/img/favicon.ico" />

    <!--Librerias core de angualarJS -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-messages/angular-messages.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/angular-base64/angular-base64.min.js"></script>
    <!--     <script src="/angular-ui-router/angular-ui-router.min.js"></script> -->
    <script src="/angular-material/angular-material.min.js"></script>

    <!--Librerias 3r party angularJS -->
    <!--     <script src="/angular-ui-carousel/ui-carousel.min.js" ></script> -->


    <!--     <link rel="manifest" href="/landing/manifest.json"> -->


    <!-- Service Worker
    <script src="/landing/sw.js" async></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function () {
                    navigator.serviceWorker.register('/landing/sw.js').then(reg => {
                        //reg.update();
                    }).catch(function (err) {
                        console.log('Service Worker fallo', err);
                    });
                });
            }
        })
    </script>
   -->
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WCZ63JP');</script>
    <!-- End Google Tag Manager -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">

    <!--Archivos App diseñador -->
    <script src="/landing/built/app.js"></script>

    <script src="assets/js/materialize.min.js"></script>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCZ63JP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- header -->
    <div ng-controller="headerController as h" style="background: white;">
        <bazam-form-login mostrar="h.mostrarLogin" callback="h.callback" opcion="h.opcionMostrarLogin"></bazam-form-login>
        <header class="header" id="comienzo">
            <div layout layout-align="space-between">
                <div class="logo grande" ui-sref="comienzo">
                    <img src="/landing/assets/img/logo.pro.svg" alt="logo.pro">
                </div>
                <div layout flex layout-align="end center">
                    <div ng-switch="h.autorizado" class="login" ng-cloak>
                        <div ng-switch-when="false" class="acceder not-ing" style="cursor: pointer">
                            <span ng-click="h.opcionMostrarLogin = false; h.mostrarLogin = true">{{idioma.header.botones[0]}}</span>
                            <span ng-click="h.opcionMostrarLogin = true;h.mostrarLogin = true">{{idioma.header.botones[1]}}</span>
                            <div>
                                <select ng-model="ctrl.idiomaActivo" ng-change="ctrl.cambiarIdioma(ctrl.idiomaActivo)">
                                    {% for idioma in idioma.footer.idiomas %} {% if lang == idioma.valor %}
                                    <option ng-value="'{{idioma.valor}}'" ng-selected="true" selected>
                                        <img src="/landing/assets/img/flags/{{idioma.valor}}" alt="{{idioma.label}}">
                                    </option>
                                    {% else %}
                                    <option ng-value="'{{idioma.valor}}'" ng-selected="false">
                                        <img src="/landing/assets/img/flags/{{idioma.valor}}" alt="{{idioma.label}}">
                                    </option>
                                    {% endif %} {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div ng-switch-default class=" iconos-menu acceder" style="cursor: pointer">
                            <a href="/creador-de-logos">
                                <md-tooltip class="tooltip-header" md-delay="2" md-direction="bottom">{{idioma.header.iconos[0]}}</md-tooltip>
                                <i class="material-icons">add_circle_outline</i>
                            </a>
                            <a href="/creador-de-logos/cliente/logos">
                                <md-tooltip class="tooltip-header" md-delay="2" md-direction="bottom">{{idioma.header.iconos[1]}}</md-tooltip>
                                <i class="material-icons">favorite</i>
                            </a>
                            <a href="/creador-de-logos/cliente/cuenta">
                                <md-tooltip class="tooltip-header" md-delay="2" md-direction="bottom">{{idioma.header.iconos[2]}}</md-tooltip>
                                <i class="material-icons">account_circle</i>
                            </a>
                            <a ng-click="h.salir()">
                                <md-tooltip class="tooltip-header" md-delay="2" md-direction="bottom">{{idioma.header.iconos[3]}}</md-tooltip>
                                <i class="material-icons">power_settings_new</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- contenedor principal -->
    <div ng-controller="comienzoController as ctrl">
        <div class="row seccion uno">
            <!-- TITULO -->
            <div class="col s12 m12 l6 no-padding">
                <div class="titulo-inicio">
                    <div>
                        <h1 class="titulo-principal">{{idioma.secciones.seccion_uno.titulo | safe}}</h1>
                        <span>.</span>
                    </div>
                    <div>
                        <h4 class="subtitle">{{idioma.secciones.seccion_uno.subtitulo | safe}}</h4>
                    </div>
                </div>
            </div>
            <!-- FORMULARIO -->
            <div class="col l5 m10 no-padding offset-m1 offset-s1 s10">
                <form name="form" ng-submit="ctrl.enviarComenzar(ctrl.datosCombinaciones, form.$valid)" novalidate>
                    <div class="padding-top-4">
                        <!-- NOMBRE LOGO && ACTIVIDAD -->
                        <div flex layout>
                            <md-input-container class="md-block" flex style="    margin-right: 20px;">
                                <label>{{idioma.secciones.seccion_uno.formulario.nombre.label }}</label>
                                <input style="margin-bottom: 0;" type="text" md-no-asterisk ng-model="ctrl.datosCombinaciones.nombre" name="nombre" required
                                    placeholder="{{idioma.secciones.seccion_uno.formulario.nombre.placeholder }}">
                                <!-- VALIDACION -->
                                <div ng-messages="form.nombre.$error " style="color: #E91E63 !important;  " role="alert " ng-show="form.nombre.$touched
                                                    && form.nombre.$invalid || form.$submitted && form.nombre.$invalid">
                                    <div ng-message="required">{{idioma.secciones.seccion_uno.formulario.nombre.validacion[0] }}</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label>{{idioma.secciones.seccion_uno.formulario.actividad.label }}</label>
                                <md-select md-no-asterisk ng-model="ctrl.datosCombinaciones.idCategoria" class="md-block  categorias-select" aria-label="filtro"
                                    name="cat">
                                    <md-option value="0" selected>Selecciona</md-option>
                                    {% for elemento in categorias %}
                                    <md-option value="{{elemento.idCategoria}}">{{elemento.nombreCategoria}}</md-option>
                                    {% endfor %}
                                </md-select>
                            </md-input-container>
                        </div>
                        <!-- ETIQUETAS -->
                        <div flex>
                            <md-input-container class="md-block etiquetas" style="    margin-top: 30px;width: 100%;">
                                <label style="transform: none;     text-align: center; font-size: 20pt;
                                    ">{{idioma.secciones.seccion_uno.formulario.etiquetas.label }}</label>
                                <md-chips md-add-on-blur="true" ng-model="ctrl.datosCombinaciones.etiquetasSeleccionadas" ng-class="{'without-placeholder':ctrl.datosCombinaciones.etiquetasSeleccionadas.length > 0}"
                                    md-separator-keys="[32,186,9,36,188,13,27]" md-autocomplete-snap md-transform-chip="ctrl.etiquetasFunciones.transformChip($chip)"
                                    aria-invalid="false">
                                    <md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.etiquetasFunciones.querySearch(ctrl.searchText, ctrl.etiquetas)"
                                        md-item-text="item.traducciones[0].valor" placeholder="{{idioma.secciones.seccion_uno.formulario.etiquetas.placeholder }}">
                                        <span md-highlight-text="ctrl.searchText">${item.traducciones[0].valor}$</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            <strong>${$chip.traducciones[0].valor}$</strong>
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                                <br/>
                            </md-input-container>
                        </div>
                        <div class="label-form" style="    text-align: center;
                                    padding-bottom: 4%; font-size: 20pt;
                                    ">
                            {{idioma.secciones.seccion_uno.formulario.color.label }}
                        </div>
                        <div layout>
                            <div flex="40">
                                <bazam-palette-picker></bazam-palette-picker>
                            </div>
                            <div flex="60">
                                <div class="input-tipografia">
                                    <div class="estilos-fuentes">
                                        <md-radio-group name="font" required ng-model="ctrl.datosCombinaciones.idFuente" class="md-primary">
                                            {% for estilo in categoriasFuentes %}
                                            <md-radio-button value="{{estilo.idCategoria}}">
                                                <md-tooltip md-direction="bottom">
                                                    {{estilo.nombreCategoria}}</md-tooltip>
                                                {% if estilo.nombreCategoria == 'Clásicas' %}

                                                <span class="estilo estilo-1">.</span>

                                                {% elif estilo.nombreCategoria == 'Moderna' %}

                                                <span class="estilo estilo-4">.</span>

                                                {% elif estilo.nombreCategoria == 'Llamativas' %}
                                                <span class="estilo estilo-2">.</span>

                                                {% elif estilo.nombreCategoria == 'Minimalista' %}
                                                <span class="estilo estilo-3">.</span>
                                                {% endif %}
                                            </md-radio-button>
                                            {% endfor %}
                                        </md-radio-group>
                                        <div ng-messages="form.font.$error " style="color: #E91E63 !important; " role="alert " ng-show="form.font.$touched && form.font.$invalid || form.$submitted">
                                            <div ng-message="required">{{idioma.secciones.seccion_uno.formulario.color.validacion[0] }}</div>
                                            </br>
                                        </div>
                                    </div>
                                </div>
                                <div layout-padding>
                                    <md-button ng-class="{'loading-white': ctrl.peticion}" type="submit " ng-disabled="ctrl.peticion" class="md-raised md-primary boton-formulario-generar">
                                        {{idioma.secciones.seccion_uno.formulario.boton }}
                                    </md-button>
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>
        <!---->
        <div class="seccion" ng-show="ctrl.logosPredisenados">
            <div class="titulo-destacado">
                <p style="margin: 20px;">{{idioma.secciones.seccion_dos.titulo | safe}}</p>
                <span>.</span>
            </div>
            <div class="logos-predisenados">
                {% for elemento in categorias %}
                <div class='--item'>
                    <a href="/logos/{{elemento.categoriaFormateada}}">
                        <span>
                            <!--                             <img src="/landing/assets/img/categorias/{{elemento.nombreCategoria}}.png" alt="logotipos de {{elemento.nombreCategoria}}"> -->
                            <img src="/landing/assets/img/categorias/abstractos.png" alt="logotipos de {{elemento.nombreCategoria}}">
                        </span>
                    </a>
                    <div class="tags">
                        <a href="/logos/{{elemento.categoriaFormateada}}">{{elemento.nombreCategoria}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


        <!-- CARACTERISTICAS -->
        <div class="row seccion dos ">
            <div>
                <div class="caracteristicas">
                    {% for caracteristica in idioma.secciones.seccion_tres.caracteristicas %}
                    <div class="caracteristicas__item {{caracteristica.icono[1]}}">
                        <div class="{{caracteristica.icono[0]}}"></div>
                        <div>
                            <h4>{{caracteristica.titulo}}</h4>
                            <p>{{caracteristica.descripcion}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- PREVIEW -->
        <div class="PREVIEW">
            <div class="col s12 ver-logo-enorme estatico" id="previsualizar">
                <div class="bazam-previzualizar-container one">
                    <div class="preview" style="width: 102%;
                                            height: 100vh;
                                            background-image: url(/landing/assets/img/mockup/shirt.png), url(/landing/assets/img/mockup/shirt_overlay.png), url(/landing/assets/img/mockup/shirt_multiply.png);
                                            background-size: 100%;
                                            background-blend-mode: normal, overlay, multiply;
                                            background-color: ${datos.colores.fondo ? datos.colores.fondo : '#fcfcfc'}$;
                                            background-repeat: no-repeat;
                                                ">
                        <div style="    left: 43%;
                                                padding-top: 28%;">
                            <img src="/landing/assets/img/logo.pro.svg" alt="logo camiseta">
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column;padding-left: 5px;">

                        <div class="preview" style="padding-bottom:5px;    width: 100%;">
                            <div style="    transform: rotate(46deg);
                                                    padding-top: 26%;
                                                    left: 24%;">
                                <img src="/landing/assets/img/logo.pro.svg" alt="logo camiseta">
                            </div>
                            <img src="/landing/assets/img/mockup/card.png" width="100%" style=" height: calc(50vh - 5px); " alt="card">
                        </div>
                        <div class="preview" style="width: 100%;">
                            <div style="    transform: rotate(55deg);
                                                    padding-top: 30%;
                                                    left: 63%;">
                                <img src="/landing/assets/img/logo.pro.svg" alt="logo camiseta">
                            </div>
                            <img src="/landing/assets/img/mockup/leica.jpg" width="100%" style=" height:50vh; " alt="leica">
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- PLANES -->
        <div class="row s12 seccion seis">
            <div class="titulo-destacado">
                <p style="margin: 20px;">{{idioma.secciones.seccion_cuatro.titulo}}</p>
                <span>.</span>
            </div>
            <div class="contenedor-planes">
                <!-- <div class="plan">
                    <div>
                        <div class="plan-header">
                            <div class="plan-nombre">PLAN GRATUITO</div>
                            <div class="plan-precio">GRATIS</div>
                        </div>
                        <div class="plan-body">
                            <div>
                                <ul class="plan-lista">
                                    <li>Versión pequeña de su logo</li>
                                </ul>
                            </div>

                        </div>
                        <div class="text-center">
                            <md-button ng-disabled="ctrl.peticion" ng-click="ctrl.scrollTop()" class="md-raised md-primary boton-plan">
                                {{idioma.secciones.seccion_cuatro.boton_plan}}
                            </md-button>
                        </div>
                    </div>
                </div> -->

                {% for elemento in idioma.secciones.seccion_cuatro.planes %}
                <div class="plan">
                    <div>
                        <div class="plan-header">
                            <div class="plan-nombre">{{elemento.plan}}</div>
                            {% if elemento.idPlan == 0 %}
                            <div class="plan-precio">{{elemento.precios[0].precio}}</div>
                            {% else %}
                            <div class="plan-precio">{{elemento.precios[0].precio}} USD</div>
                            {% endif %}
                        </div>
                        <div class="plan-body">
                            <div>
                                <ul class="plan-lista">
                                    {% for caracteristica in elemento.caracteristicas %}
                                    <li>{{caracteristica.descripcion}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="md-raised md-primary boton-crear-logo md-button md-ink-ripple" type="button" ng-disabled="ctrl.peticion" ng-click="ctrl.scrollTop()">
                                {{idioma.secciones.seccion_cuatro.boton_plan}}
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <md-button ng-click="ctrl.scrollTop()" class="md-raised md-primary boton-crear-logo" style="background-color: #5980b7 !important; color: white !important;">
                    {{idioma.secciones.seccion_cuatro.boton_final}}
                </md-button>
            </div>
        </div>

        <!-- PREGUNTAS -->
        <div class="row seccion cinco ">
            <div class="titulo-destacado text-green">
                <p style="margin: 20px;">{{idioma.secciones.seccion_cinco.titulo}}</p>
                <span>.</span>
            </div>
            <div class="preguntas-contenedor">
                <div class="preguntas">
                    {% for pregunta in idioma.secciones.seccion_cinco.preguntas %}
                    <div ng-click="ctrl.preAct = {{loop.index}}" ng-class="{'activo': ctrl.preAct == {{loop.index}} }">
                        <h6>{{pregunta.pregunta}}</h6>
                        <div ng-class="{'activo': ctrl.preAct == {{loop.index}} }">
                            {{pregunta.respuesta | safe}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="respuestas">
                    {% for pregunta in idioma.secciones.seccion_cinco.preguntas %}
                    <div ng-class="{'activo': ctrl.preAct == {{loop.index}} }">
                        {{pregunta.respuesta | safe}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div layout="row" layout-align="space-between center">
                <div class="logo pequeno" ui-sref="comienzo">
                    <img src="/landing/assets/img/logo.pro.svg" alt="logo.pro">
                </div>
                <div layout class="links-footer">
                    {% for link in idioma.footer.linksInternos %}
                    <a href="{{link.url}}">{{link.nombre}}</a>
                    {% endfor %}
                </div>
                <div class="layout-row layout-align-space-between-center ">
                    <div class="selector-de-idiomas">
                        <select ng-model="ctrl.idiomaActivo" ng-change="ctrl.cambiarIdioma(ctrl.idiomaActivo)">
                            {% for idioma in idioma.footer.idiomas %} {% if lang == idioma.valor %}
                            <option ng-value="'{{idioma.valor}}'" ng-selected="true" selected>{{idioma.label}}</option>
                            {% else %}
                            <option ng-value="'{{idioma.valor}}'" ng-selected="false">{{idioma.label}}</option>
                            {% endif %} {% endfor %}
                        </select>
                    </div>
                    <div class="iconos-sociales">
                        {% for red in idioma.footer.redes %}
                        <a href="{{red.url}}" target="_new">
                            <i class="{{red.awesomeIcon}}"></i>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

<script type="text/ng-template" id="toast-base.html">
    <md-toast class="${clase}$">
        <span class="md-toast-text" flex>${mensaje}$</span>
        <md-button ng-click="closeToast()">
            <i class="material-icons">close</i>
        </md-button>
    </md-toast>
</script>

<script>
    /* FACEBOOK */

    window.fbAsyncInit = function () {
        FB.init({
            appId: "152803392097078",
            autoLogAppEvents: true,
            xfbml: true,
            status: true,
            cookie: true,
            version: "v2.12"
        });
    };


    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/es_LA/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "facebook-jssdk"));
</script>


<!-- GOOGLE -->

<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

<script>
    function init() {
        gapi.load('auth2', function () {
            gapi.auth2.init({
                client_id: '40002776981-qd6lf3af4k69c64ibrelnurtsms2clon.apps.googleusercontent.com'
            })
        });
    }
</script>


</html>