    .ui-view-container {
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }
    
    [ui-view].ng-enter,
    [ui-view].ng-leave {
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }
    
    [ui-view].ng-enter {
        opacity: 0;
    }
    
    [ui-view].ng-enter-active {
        opacity: 1;
    }
    
    [ui-view].ng-leave {
        opacity: 1;
    }
    
    [ui-view].ng-leave-active {
        opacity: 0;
    }
    /* desaparicion de los pasos del State Comenzar */
    
    .pasos.ng-animate {
        -webkit-transition: 1s linear all;
        transition: 1s linear all;
    }
    
    .pasos.ng-leave {
        opacity: 0;
        display: none;
    }
    
    .pasos.ng-leave-active {
        display: none;
    }
    
    .pasos.ng-enter {
        opacity: 0;
    }
    
    .pasos.ng-enter-active {
        opacity: 1;
    }
    /* desparacion para los ng-show botones */
    
    .siguiente.ng-hide {
        opacity: 0;
    }
    
    .siguiente.ng-hide-add,
    .siguiente.ng-hide-remove {
        transition: all linear 0.5s;
    }
    
    .siguiente {
        opacity: 1;
    }
    /* Iconos de la vista PROCESOS */
    
    .iconos-procesos.ng-hide {
        opacity: 1;
        top: -20;
    }
    
    .iconos-procesos.ng-hide-add {
        transition: all ease-out 0.1s;
    }
    
    .iconos-procesos.ng-hide-remove {
        transition: all ease-in 0.1s;
        transition-delay: 0s;
    }

    /* Iconos de la vista CLIENTE */
    
    .iconos-cliente.ng-hide {
        opacity: 1;
        top: -20;
    }
    
    .iconos-cliente.ng-hide-add {
        transition: all ease-out 0.1s;
    }
    
    .iconos-cliente.ng-hide-remove {
        transition: all ease-in 0.1s;
        transition-delay: 0s;
    }


    /* Iconos de la vista ADMINISTRAR */
    
    .iconos-administrar.ng-hide {
        opacity: 1;
    }
    
    .iconos-administrar.ng-hide-add {
    }
    
    .iconos-administrar.ng-hide-remove {

    }


    
    .color-animacion {
        /* transform: scale(0); */

        margin: 0px;
    }
    
    /* LOADER */
    
    .loader {
        font-size: 10px;
        margin: 30% auto;
        text-indent: -9999em;
        width: 11em;
        height: 11em;
        border-radius: 50%;
        background: #ffffff;
        background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
        background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
        background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
        background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
        background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
        position: relative;
        -webkit-animation: load3 1.4s infinite linear;
        animation: load3 1.4s infinite linear;
    }
    
    .loader:before {
        width: 50%;
        height: 50%;
        background: #FFF;
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
    }
    
    .loader:after {
        background: #0dcecb;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    @-webkit-keyframes load3 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    
    @keyframes load3 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }


#preloader6{
    position:relative;
    width: 152px;
    height: 152px;
    animation: preloader_6 5s infinite linear;
}
#preloader6 span{
    width:75px;
    height:75px;
    position:absolute;
    background:red;
    display:block;
    animation: preloader_6_span 1s infinite linear;
}
#preloader6 span:nth-child(1){
background:#4fc3f7;
 
}
#preloader6 span:nth-child(2){
left:77px;
background:#00b8d4;
    animation-delay: .2s;
 
}
#preloader6 span:nth-child(3){
top:77px;
background:#1976d2;
    animation-delay: .4s;
}
#preloader6 span:nth-child(4){
top:77px;
left:77px;
background:#80d8ff;
    animation-delay: .6s;
}
@keyframes preloader_6_span {
   0% { transform:scale(1); }
   50% { transform:scale(0.5); }
   100% { transform:scale(1); }
}


.texto-animacion-entrada {
        color: #00b8d4;
        -webkit-animation: texto-animation-e 1s ease 0s reverse forwards running;
        -moz-animation: texto-animation-e 1s ease 0s reverse forwards running;
        -o-animation: texto-animation-e 1s ease 0s reverse forwards running;
        animation: texto-animation-e 1s ease 0s reverse forwards running;
    }
    
    @-moz-keyframes texto-animation-e {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(0);
            display: none;
        }
    }
    
    @-webkit-keyframes texto-animation-e {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(0);
            display: none;
        }
    }
    
    @-o-keyframes texto-animation-e {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(0);
            display: none;
        }
    }
    
    @keyframes texto-animation-e {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(0);
            display: none;
        }
    }
