@font-face {
    font-family: 'futura-heavy';
    src: url("./fonts/futura/FuturaStd-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* END Black */

/* BEGIN Regular */

@font-face {
    font-family: 'maven-regular';
    src: url("./fonts/maven/MavenPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* END Regular */

@font-face {
    font-family: 'Amatic';
    src: url("./fonts/para-mostrar/AmaticSC-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.amatic {
    font-family: 'Amatic';
}

@font-face {
    font-family: 'Niconne';
    src: url("./fonts/para-mostrar/Niconne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.niconne {
    font-family: 'Niconne';
}

@font-face {
    font-family: 'Julee';
    src: url("./fonts/para-mostrar/Julee-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.julee {
    font-family: 'Julee';
}

@font-face {
    font-family: 'Cabin';
    src: url("./fonts/para-mostrar/Cabin-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.cabin {
    font-family: 'Cabin';
}

/* Estilos generales*/

* {
    cursor: default;
}

:root {
    /*  COLORES */
    --principal: #009688;
    --secundario: #612787;
    --tercero: #009688;
}

.text-center {
    text-align: center;
}

.text-green {
    color: var(--principal);
}

.titulo-principal {
    text-align: center;
    font-size: 3em;
    color: var(--principal);
    font-family: 'futura-heavy';
}

/* FUENTES */

.seccion.dos h2.titulo,
.titulo-destacado,
.seccion.cuatro h4,
.seccion.cinco h4 {
    font-family: 'futura-heavy' !important;
}

.caracteristicas p,
.caracteristicas h4 {
    font-family: 'maven-regular';
}

/* Header-Footer */

header {
    cursor: default;
    background: #fcfcfc;
    width: 100%;
    z-index: 999;
}

.logo {
    padding: 16px;
    text-align: center;
    color: var(--secundario);
}

header button,
.logo {
    font-size: 20px !important;
    font-weight: bold;
    font-family: 'futura-heavy' !important;
}

* {
    outline: none
}

.md-button.md-fab {
    z-index: initial !important;
}

md-icon:focus {
    outline-color: transparent;
}

footer {
    background: #009688;
    padding: 2% 5%;
}

.links-footer a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    padding: 8px 8px 0px 0px;
    font-family: 'maven-regular';
    font-weight: bold;
}

.iconos-sociales i {
    padding: 8px;
    color: black;
    font-size: 26px;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: white;
    width: 40px;
}

div:focus,
md-radio-button:focus,
md-radio-group:focus {
    outline: none !important;
}

.material-icon {
    width: auto;
    height: auto;
    font-size: 27px;
}

/* LANDING */

button.boton-enviar:hover {
    background: white;
    color: black !important;
}

.back-landing {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    -webkit-animation: body-animacion 1s ease 0.5s normal forwards running;
    animation: body-animacion 1s ease 0.5s normal forwards running;
}

@-webkit-keyframes body-animacion {
    from {
        -webkit-filter: blur(6px);
        filter: blur(6px);
    }
    to {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes body-animacion {
    from {
        -webkit-filter: blur(6px);
        filter: blur(6px);
    }
    to {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

/* TERMINOS */

.terminos-condiciones,
.legales {
    background: rgb(250, 250, 250);
    text-align: justify;
    padding: 5% 6%;
}

.terminos-condiciones h2,
.legales h2 {
    text-align: center;
    font-size: 30px;
}

.seccion-landing.cinco h2 {
    color: white !important;
}

/* SECCION UNO */

.seccion.uno {
    background: #fcfcfc;
    background-size: 100% 100%;
    margin-bottom: 0;
}

.seccion.uno form {
    width: 75%;
    margin: auto;
}

h6.ver-video {
    text-align: center;
    color: var(--secundario);
    font-family: 'futura-heavy';
    font-size: 24px;
    cursor: pointer;
}

h6.ver-video md-icon {
    background: var(--secundario);
    border-radius: 50%;
    color: white;
}

.label-form {
    color: var(--secundario);
    font-family: 'futura-heavy';
}

md-select label,
md-input-container:NOT(.md-input-has-value) md-select-value,
.seccion.uno form input::placeholder,
.seccion.uno form label {
    color: var(--secundario) !important;
}

.input-tipografia {
    width: 80%;
}

md-chips-wrap input {
    box-shadow: 0 0 0 0 #26a69a !important;
    margin-bottom: 8px !important;
    border-bottom: none !important;
}

.estilos-fuentes md-radio-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px 0;
    margin-top: 8px;
}

.estilos-fuentes md-radio-button .md-label {
    margin: auto;
}

.estilos-fuentes md-radio-button .md-container {
    display: none;
}

md-radio-button[aria-checked="true"] {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

md-radio-button[aria-checked="true"] span.estilo {
    background: var(--secundario);
    color: white;
}

span.estilo {
    background: #E4E7E8;
    border: 2px solid var(--secundario);
    color: var(--secundario);
    font-size: 28px;
    transition: all 0.2s;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.estilo.seleccionado {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.md-select-value>span:not(.md-select-icon) .md-text,
.estilo-de-color .md-text {
    display: flex;
    width: 100%;
}

.seccion.uno form label,
.seccion.uno form md-select,
.seccion.uno form input {
    font-size: 14px;
}

.estilo-de-color .md-text>span {
    width: 33%;
    padding: 10px;
    color: transparent;
}

md-select[multiple] md-select-value>span {
    display: flex;
}

md-select[multiple] md-select-value span>div.md-text>*:not(:first-child) {
    display: none;
}

md-chips-wrap#_md-chips-wrapper-7 {
    padding-top: 8px
}

/* SECCION DOS */

.seccion.dos {
    padding: 4% 7%;
}

.seccion.dos h2.titulo {
    text-align: center;
    font-size: 43px;
}

.caracteristicas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 4%;
}

.caracteristicas__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 30px;
}

.caracteristicas> :nth-child(1),
.caracteristicas> :nth-child(3),
.caracteristicas> :nth-child(5) {
    margin-top: 6%;
}

.caracteristicas__item img {
    width: 120px;
}

.caracteristicas__item> :first-child {
    margin-right: 30px;
    padding-left: 16px;
}

.caracteristicas__item> :first-child {
    margin-right: 30px;
    border-left: 8px solid;
}

/* SECCION TRES */

.seccion.tres {
    background: white;
    padding-bottom: 2%;
    position: relative;
}

.titulo-destacado {
    display: block;
    width: 100%;
    padding: 30px 0 !important;
    text-align: center;
    color: var(--secundario);
    font-size: 38px;
}

button.button-left,
button.button-right {
    background: transparent;
    border: 1px solid var(--principal);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

button.button-left {
    position: absolute;
    top: 45%;
    left: 2%;
}

button.button-right {
    position: absolute;
    top: 45%;
    right: 2%;
}

button:focus {
    background: inherit;
}

.slider-pro {
    width: 100%;
}

.slider-pro button {
    color: var(--principal);
}

.slider-pro md-icon.material-icons {
    color: inherit !important;
}

.slider-pro button.button-right:hover,
.slider-pro button.button-left:hover {
    background: var(--principal);
    color: white;
}

.button-verde {
    background: var(--principal) !important;
    color: white;
    font-size: 22px;
    font-family: 'maven-regular';
    padding: 8px 30px !important;
}

/* SECCION CUATRO */

.seccion.cuatro {
    padding: 4%;
    background: #9E9E9E;
}

.seccion.cuatro h4 {
    COLOR: var(--secundario);
    MARGIN-BOTTOM: 4%;
}

.l-destacado-landing {
    -webkit-box-flex: 23%;
    -ms-flex: 23%;
    flex: 23%;
    max-width: 23%;
    margin: 1%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0;
    background: white;
}

.l-destacado-landing svg {
    width: 100%;
}

bazam-visualizar {
    display: block;
}

.l-destacado-landing:hover {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    margin: 0%;
}

/* PLANES */

.contenedor-planes {
    width: 90%;
    margin: auto;
}

.plan {
    transition: transform 0.2s;
}

.plan:hover {
    transform: scale(1.1);
}

a:active,
a:hover,
button:hover {
    cursor: pointer;
}

div.contenedor-planes .plan>div {
    font-family: 'futura-heavy' !important;
    -webkit-box-shadow: 0px 1px 2px 1px #dedede;
    box-shadow: 0px 1px 2px 1px #dedede;
    border-radius: 5px;
}

div.contenedor-planes .plan .plan-header {
    padding: 10px;
    background-color: var(--tercero);
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
}

div.contenedor-planes .plan .plan-body {
    padding: 20px 30px;
    background-color: white;
    text-align: justify;
    color: gray;
    font-size: 12px;
    border-radius: 0 0 5px 5px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.contenedor-planes .plan .plan-body .plan-lista {
    margin-left: 10px;
}

div.contenedor-planes .plan .plan-body .plan-lista li {
    position: relative;
    font-size: 13px;
    list-style-type: initial;
    font-family: maven-medium !important;
    line-height: 1.5;
}

.subtitulo-plan {
    font-size: 15px;
    font-family: maven-regular !important;
    color: var(--tercero);
}

div.contenedor-planes .plan .plan-body .plan-precio {
    color: var(--principal);
    font-size: 20px;
    text-align: center;
}

a.boton-verde {
    background-color: var(--tercero);
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 8px 8px;
    margin-top: 20px;
    display: inline-block;
    font-family: 'futura-heavy' !important;
}

/*END planes*/

/* PREGUNTAS */

.preguntas {
    width: 80%;
    margin: auto;
}

.pregunta {
    border: 1px solid silver;
    height: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    margin-bottom: 10px;
}

.pregunta h6,
.pregunta p {
    padding: 12px;
    font-family: 'futura-heavy';
    margin: 0;
}

.seccion.cinco {
    background: white;
    margin: 0;
    padding-bottom: 20px;
}

.seccion.seis {
    padding: 3% 0;
}

/* MEDIAS */

@media (min-device-width:320px) and (max-device-width:639px),
(min-width:320px) and (max-width:639px) {
    .seccion.uno {
        min-height: auto;
    }
    .seccion.uno form {
        width: 90%;
        margin: auto;
    }
    .seccion.uno form>div {
        flex-direction: column;
    }
    .seccion.uno form>div>div {
        max-width: 100%;
        height: auto;
        -webkit-box-flex: unset;
        -webkit-flex: unset;
        flex: auto;
    }
    .seccion.dos {
        padding: 4% 2%;
    }
    .caracteristicas__item {
        width: 40%;
    }
    .caracteristicas> :nth-child(1),
    .caracteristicas> :nth-child(3),
    .caracteristicas> :nth-child(5) {
        margin-top: 0;
    }
    .plan {
        max-width: 30%;
    }
    .input-tipografia {
        width: 50%;
    }
}

@media (min-device-width:640px) and (max-device-width:980px),
(min-width:640px) and (max-width:980px) {}

@media (min-device-width:981px) and (max-device-width:1080px),
(min-width:981px) and (max-width:1080px) {}