/* FUNENTES */

/* @font-face {
    font-family: 'futura-heavy';
    src: url("./fonts/futura/FuturaStd-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'maven-regular';
    src: url("./fonts/maven/MavenPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
} */

@font-face {
    font-family: 'linotte-bold';
    src: url("./fonts/Linotte-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-black';
    src: url("./fonts/NunitoSans-Black.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-bold';
    src: url("./fonts/NunitoSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-bolder';
    src: url("./fonts/NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-semi';
    src: url("./fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.plan-precio,
button.md-button.md-primary.md-raised.boton-plan,
.preguntas>div {
    font-family: 'nunito-sans-bolder' !important;
}

.titulo-destacado,
.plan-nombre,
div.acceder span,
.tooltip-header {
    font-family: 'nunito-sans-bold' !important;
}

.seccion.uno .titulo-inicio h4.subtitle,
.seccion.dos h2.titulo,
.titulo-destacado,
.seccion.cuatro h4,
.seccion.cinco h4,
input,
button,
label,
md-select-value,
select,
div[ng-messages],
.seccion.uno form label,
.testimonios__carousel-item .descripcion h3,
.cliente> :first-child h5,
.caracteristicas .caracteristicas__item> :last-child p,
ul.plan-lista li,
.respuestas>div.activo,
.links-footer a,
md-select-menu md-content md-option,
.label-form {
    font-family: 'nunito-sans-semi' !important;
}

button.md-button.md-primary.md-raised.boton-formulario-generar,
.seccion.uno .titulo-inicio .titulo-principal {
    font-family: 'nunito-sans-black' !important;
}

.cliente> :first-child h4,
.caracteristicas .caracteristicas__item> :last-child h4,
button.md-button.md-primary.md-raised.boton-crear-logo {
    font-family: 'linotte-bold' !important;
}

.seccion.tres,
.seccion.dos,
.seccion.seis,
.seccion.cinco,
.seccion.uno .titulo-inicio {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**********************/

* {
    cursor: default;
}

md-input-container.md-default-theme.md-input-invalid .md-char-counter,
md-input-container.md-input-invalid .md-char-counter,
md-input-container.md-default-theme.md-input-invalid .md-input-message-animation,
md-input-container.md-input-invalid .md-input-message-animation,
md-input-container.md-default-theme.md-input-invalid label,
md-input-container.md-input-invalid label {
    color: rgb(233, 30, 99) !important;
}

:root {
    /*  COLORES */
    --principal: #5980B7;
    --fondo: #FFFFFF;
}

/* ICONOS */

.bg-carac-1 {
    width: 101px;
    height: 117px;
        background: url('../assets/img/fijos.png') -10px -243px;
}

.bg-carac-2 {
    width: 69px;
    height: 92px;
        background: url('../assets/img/fijos.png') -437px -10px;
}

.bg-carac-3 {
    width: 102px;
    height: 119px;
        background: url('../assets/img/fijos.png') -315px -10px;
}

.bg-carac-4 {
    width: 104px;
    height: 103px;
        background: url('../assets/img/fijos.png') -131px -243px;
}

.bg-carac-5{
    width: 99px;
    height: 100px;
        background: url('../assets/img/fijos.png') -255px -243px;
}

.bg-carac-6 {
    width: 113px;
    height: 113px;
        background: url('../assets/img/fijos.png') -182px -10px;
}

.bg-icono-testimonio {
    width: 50px;
    height: 50px;
        background: url('../assets/img/fijos.png') -239px -380px;
            margin-right: 25px;
}

.bg-comilla_derecha {
    width: 66px;
    height: 213px;
        background: url('../assets/img/fijos.png') -96px -10px;
}

.bg-comilla {
    width: 66px;
    height: 200px;
    margin-top: -8%;
    background: url('../assets/img/fijos.png') -10px -10px;
}

/* ESTILO DE TIPOGRAFIA */
.estilo-1 {
    width: 51px;
    height: 51px;
    background: url('../assets/img/iconos.png') -152px -10px;
}

.estilo-1.negro {
    width: 51px;
    height: 51px;
    background: url('../assets/img/iconos.png') -223px -10px;
}

.estilo-2 {
    width: 51px;
    height: 51px;
    background: url('../assets/img/iconos.png') -81px -97px;
}

.estilo-2.negro {
    width: 51px;
    height: 51px;
    background: url('../assets/img/iconos.png') -152px -97px;
}

.estilo-3 {
    width: 51px;
    height: 51px;
    background: url('../assets/img/iconos.png') -10px -10px;
}

.estilo-3.negro {
    width: 51px;
    height: 51px;
    background: url('../assets/img/iconos.png') -81px -10px;
}

.estilo-4.negro {
    width: 51px;
    height: 51px;
    background: url('../assets/img/iconos.png') -10px -97px;
}

.estilo-4 {
    width: 51px;
    height: 51px;
    background: url('../assets/img/iconos.png') -223px -81px;
}

/*********************/

body,
md-content.md-default-theme,
md-content {
    background: var(--fondo);
}

body h3 {
    font-size: 1.92rem;
}

body h2 {
    font-size: 2.56rem;
}

.text-center {
    text-align: center;
}

.seccion {
    padding: 2% 0;
}

/* Header-Footer */

header {
    cursor: default;
    background: var(--fondo);
    width: 90%;
    margin: auto;
    z-index: 999;
}

.logo {
    padding: 16px;
    text-align: center;
    color: var(--secundario);
    width: 200px;
}

.logo.grande {
    width: 250px;
}

.logo img {
    width: 100%;
}

div.acceder span {
    display: inline-block;
    padding: 7px 14px;
    margin: 0 8px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 16pt;
}

div.acceder>:last-child {
    background: var(--principal);
    color: white;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
}

div.acceder span:hover {
    background: var(--principal);
    color: white;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
    cursor: pointer;
}

.tooltip-header {
    font-size: 14px !important;
    color: var(--principal) !important;
    background-color: white !important;
}

div.acceder span i {
    vertical-align: top;
    font-size: 28px;
}

* {
    outline: none
}

.md-button.md-fab {
    z-index: initial !important;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    height: 2rem !important;
}

md-icon:focus {
    outline-color: transparent;
}

footer {
    background: #FFF;
    padding: 0 5%;
}

.links-footer a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
    padding: 8px 8px 0px 0px;
    font-weight: bold;
    font-size: 15pt;
}

.iconos-sociales i {
    padding: 8px;
    color: var(--principal);
    font-size: 26px;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: white;
    width: 40px;
}

.iconos-sociales i:hover {
    background: var(--principal);
    color: white;
}

div:focus,
md-radio-button:focus,
md-radio-group:focus {
    outline: none !important;
}

.material-icon {
    width: auto;
    height: auto;
    font-size: 27px;
}

/* LANDING */

.back-landing {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    -webkit-animation: body-animacion 1s ease 0.5s normal forwards running;
    animation: body-animacion 1s ease 0.5s normal forwards running;
}

@-webkit-keyframes body-animacion {
    from {
        -webkit-filter: blur(6px);
        filter: blur(6px);
    }
    to {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes body-animacion {
    from {
        -webkit-filter: blur(6px);
        filter: blur(6px);
    }
    to {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

/* TERMINOS */

.terminos-condiciones,
.legales {
    background: var(--fondo);
    text-align: justify;
    padding: 5% 6%;
}

.terminos-condiciones h2,
.legales h2 {
    text-align: center;
    font-size: 30px;
}

.seccion-landing.cinco h2 {
    color: white !important;
}

/* padding */

.padding-top-2 {
    padding-top: 2%;
}

.padding-top-4 {
    padding-top: 4%;
}

/* SECCION UNO */

md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: black;
}

.seccion.uno {
    background: var(--fondo);
    background-size: 100% 100%;
    margin-bottom: 0;
}

.seccion.uno .titulo-inicio {
    border-left: 2rem solid var(--principal);
    width: 98vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.seccion.uno .titulo-inicio>div {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.seccion.uno .titulo-inicio .titulo-principal {
    text-align: center;
    font-size: 40pt;
}

.seccion.uno .titulo-inicio h4.subtitle {
    font-size: 20pt;
}

button.md-button.md-primary.md-raised.boton-formulario-generar,
button.md-button.md-primary.md-raised.boton-formulario-generar:hover {
    margin: 5% auto;
    display: block;
    color: black;
    background-color: white;
    border: 2px solid black;
    background: white;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 17pt;
}

.seccion.uno form {
    width: 85%;
    margin: auto;
}

.label-form {
    color: var(--secundario);
}

md-select label,
md-input-container:NOT(.md-input-has-value) md-select-value,
.seccion.uno form input::-webkit-input-placeholder,
.seccion.uno form label,
.seccion.uno form md-select-value,
md-input-container.md-default-theme.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-input,
md-select.md-default-theme.ng-invalid.ng-touched .md-select-value,
md-select.ng-invalid.ng-touched .md-select-value {
    color: black;
    border-bottom-color: silver;
}

md-select label,
md-input-container:NOT(.md-input-has-value) md-select-value,
.seccion.uno form input:-ms-input-placeholder,
.seccion.uno form label,
.seccion.uno form md-select-value,
md-input-container.md-default-theme.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-input,
md-select.md-default-theme.ng-invalid.ng-touched .md-select-value,
md-select.ng-invalid.ng-touched .md-select-value {
    color: var(--secundario) !important;
    border-bottom-color: var(--secundario) !important;
}

md-select label,
md-input-container:NOT(.md-input-has-value) md-select-value,
.seccion.uno form input::-webkit-input-placeholder,
.seccion.uno form label,
.seccion.uno form md-select-value,
md-input-container.md-default-theme.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-input,
md-select.md-default-theme.ng-invalid.ng-touched .md-select-value,
md-select.ng-invalid.ng-touched .md-select-value,
.input-field input {
    color: var(--secundario) !important;
    border-bottom-color: var(--secundario) !important;
}

md-select label,
md-input-container:NOT(.md-input-has-value) md-select-value,
.seccion.uno form input:-ms-input-placeholder,
.seccion.uno form label,
.seccion.uno form md-select-value,
md-input-container.md-default-theme.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-input,
md-select.md-default-theme.ng-invalid.ng-touched .md-select-value,
md-select.ng-invalid.ng-touched .md-select-value,
.input-field input {
    color: var(--secundario) !important;
    border-bottom-color: var(--secundario) !important;
}

md-select label,
md-input-container:NOT(.md-input-has-value) md-select-value,
.seccion.uno form input::placeholder,
.seccion.uno form label,
.seccion.uno form md-select-value,
md-input-container.md-default-theme.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-input,
md-select.md-default-theme.ng-invalid.ng-touched .md-select-value,
md-select.ng-invalid.ng-touched .md-select-value,
.input-field input {
    color: var(--secundario) !important;
    border-bottom-color: var(--secundario) !important;
}

.seccion.dos {
    padding: 2% 8%;
}

.input-tipografia {
    width: 80%;
    margin: auto;
    text-align: center;
}

md-chips-wrap input {
    -webkit-box-shadow: 0 0 0 0 #26a69a !important;
    box-shadow: 0 0 0 0 #26a69a !important;
    margin-bottom: 8px !important;
    border-bottom: none !important;
}

.estilos-fuentes md-radio-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px 0;
    margin-top: 8px;
}

.estilos-fuentes md-radio-button .md-label {
    margin: auto;
}

.estilos-fuentes md-radio-button .md-container {
    display: none;
}

md-radio-button[aria-checked="true"] {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

md-radio-button[aria-checked="true"] span.estilo {
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
}

span.estilo {
    -webkit-transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    color: transparent;
    display: block;
    width: 51px;
    height: 51px;
    border-radius: 50%;
}

span.estilo.seleccionado {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.seccion.uno form label,
.seccion.uno form md-select,
.label-form {
    font-size: 16pt;
}

/* selector de colores */

.md-select-value>span:not(.md-select-icon) .md-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.estilo-de-color .md-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.selector-de-colores md-select-value,
.selector-de-colores md-select-value[aria-hidden="true"],
md-select.selector-de-colores:not([disabled]):focus .md-select-value {
    color: transparent;
}

md-select-value .md-text>:first-child {
    width: 100%;
}

.estilo-de-color .md-text>span {
    width: 33%;
    padding: 10px;
    color: transparent;
}

md-select[multiple] md-select-value>span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

md-select[multiple] md-select-value span>div.md-text>*:not(:first-child) {
    display: none;
}

md-chips-wrap#_md-chips-wrapper-7 {
    padding-top: 8px
}

.testimonios {
    width: 100%;
    height: 70vh;
}

.carousel-item {
    display: block;
    width: 100%;
}

.testimonios__carousel-item {
    width: 98vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonios__carousel-item .informacion {
    width: 50%;
}

.testimonios__carousel-item .logo-empresa {
    width: 35%;
}

.logo-empresa img {
    width: 60%;
    margin: auto;
    display: block;
}

.testimonios__carousel-item .descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.testimonios__carousel-item .descripcion> :nth-child(2) {
    width: 70%;
}

.testimonios__carousel-item .descripcion h3 {
    font-size: 16pt;
    margin: auto;
    text-align: justify;
    padding: 5%;
}

.cliente {
    width: 65%;
    margin: auto;
}

.cliente> :first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 8%;
}

.cliente> :first-child h4 {
    font-size: 20pt;
    margin-top: 0;
    margin-bottom: 4px;
}

.cliente> :first-child h5 {
    font-size: 15pt;
    margin: 0;
}

/* SECCION DOS */

.seccion.dos h2.titulo {
    text-align: center;
    font-size: 43px;
    margin: 0;
    padding: 0 0 30px 0 !important;
}

.caracteristicas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.caracteristicas .caracteristicas__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
}

.caracteristicas .caracteristicas__item> :last-child {
    width: 60%;
    margin-left: 30px;
}

.caracteristicas .caracteristicas__item> :last-child h4 {
    font-size: 30pt;
}

.caracteristicas .caracteristicas__item.right-bottom {
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}

.caracteristicas .caracteristicas__item.b-bottom {
    border-bottom: 1px solid silver;
}

.caracteristicas .caracteristicas__item.b-right {
    border-right: 1px solid silver;
}

/* SECCION TRES */

.seccion.tres {
    background: white !important;
    margin: 0;
        padding-top: 4%;
    position: relative;
}

.titulo-destacado {
    display: block;
    width: 100%;
    padding: 0 0 30px 0 !important;
    text-align: center;
    color: var(--secundario);
    font-size: 40pt;
}

.titulo-destacado span {
    color: transparent;
    width: 10%;
    background: var(--principal);
    height: 10px;
    margin: auto;
    display: block;
    border-radius: 30px;
    margin-top: 5px;
}

button.button-left,
button.button-right {
    background: transparent;
    border: 1px solid var(--principal);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

button.button-left {
    position: absolute;
    top: 45%;
    left: 2%;
}

button.button-right {
    position: absolute;
    top: 45%;
    right: 2%;
}

button:focus {
    background: inherit;
}

.button-verde {
    background: var(--principal) !important;
    color: white;
    font-size: 22px;
    padding: 8px 30px !important;
}

/* SECCION CUATRO */

.seccion.cuatro {
    padding: 4%;
    background: var(--fondo);
}

.seccion.cuatro h4 {
    COLOR: var(--secundario);
    MARGIN-BOTTOM: 4%;
}

.l-destacado-landing {
    -webkit-box-flex: 23%;
    -ms-flex: 23%;
    flex: 23%;
    max-width: 23%;
    margin: 1%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0;
    background: white;
}

.l-destacado-landing svg {
    width: 100%;
}

bazam-visualizar {
    display: block;
}

.l-destacado-landing:hover {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    margin: 0%;
}

/* PLANES */

.contenedor-planes {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a:active,
a:hover,
button:hover {
    cursor: pointer;
}

.contenedor-planes {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 4%;
}

.plan>div {
    width: 100%;
    height: 100%;
}

.plan {
    height: 90vh;
    width: 33%;
}

.plan-body {
    text-align: center;
    line-height: 2em;
    height: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.plan-nombre {
    font-size: 20pt;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.contenedor-planes> :nth-child(2) {
    border-right: 1px solid silver;
    border-left: 1px solid silver;
}

.plan-header {
    border-bottom: 1px solid silver;
    text-align: center;
}

.plan-precio {
    color: var(--principal);
    font-size: 40pt;
}

button.md-button.md-primary.md-raised.boton-plan,
button.md-button.md-primary.md-raised.boton-crear-logo {
    margin: 5% auto;
    display: block;
    color: black;
    background-color: white;
    border: 2px solid black;
    background: white;
    border-radius: 30px;
    padding: 6px 20px;
    font-size: 16pt;
    letter-spacing: 2px;
}

button.md-button.md-primary.md-raised.boton-plan:hover,
button.md-button.md-primary.md-raised.boton-crear-logo:hover {
    background-color: var(--principal);
    color: white !important;
    border: 2px solid var(--principal);
}

/*END planes*/

/* PREGUNTAS */

.preguntas-contenedor {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.preguntas,
.respuestas {
    width: 50%;
}

.preguntas>div {
    padding: 12px;
    border-bottom: 1px solid silver;
    padding-left: 12%;
    cursor: pointer;
}

.preguntas>:last-child {
    border: none;
}

.preguntas>div:hover {
    background: #c0c0c075;
    cursor: pointer;
}

.preguntas>div h6 {
    font-size: 15pt;
    cursor: pointer
}

.respuestas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.respuestas>div {
    display: none;
}

.respuestas>div.activo {
    display: block;
    width: 80%;
    font-size: 15pt;
    text-align: center;
}

.seccion.cinco {
    background: white;
    margin: 0;
    padding-bottom: 20px;
    padding: 0 0 4% 0;
}

.seccion.seis {
    padding: 4% 0 0 0;
}

h3 {
    font-size: 1.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}

.loading-white {
    background-image: url(img/spinner-white.gif);
    color: transparent !important;
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.loading-purple {
    background-image: url(img/spinner-purple.gif) !important;
    color: transparent !important;
    background-size: auto 60% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/* MD-CHIPS AHOI*/

.md-chips {
    padding: 0;
}

.md-chips md-chip {
    border-radius: 6px;
}

md-chip-template strong {
    font-size: 15px !important;
}

.md-chips md-chip .md-chip-remove {
    text-align: center;
    width: 21px;
    height: 21px;
    min-width: auto;
}

.md-chips md-chip .md-chip-remove md-icon {
    font-size: 10px;
    height: 15px;
    width: 15px;
    top: 80%;
    min-height: auto;
    min-width: auto;
    left: 50%;
}


    .caracteristicas> :nth-child(2)> :nth-child(2) {
        padding-left: 20px;
    }

/* MEDIAS */

@media (min-device-height:700px) and (max-device-width:1300px) and (orientation:portrait),
(min-height:700px) and (max-height:1300px) and (orientation:portrait) {
    .testimonios {
        width: 100%;
        height: 25vh;
    }
}

@media (min-device-width:360px) and (max-device-width:639px),
(min-width:360px) and (max-width:639px) {

    .logo.grande {
        width: 40%;
    }

    
    div.acceder span i {
        vertical-align: top;
        font-size: 40pt;
    }
    
    .seccion.uno .titulo-inicio>div{
        width: 100%;
    }
    .seccion.uno .titulo-inicio .titulo-principal {
        font-size: 50pt;
        width: 100%;
    }

    .seccion.uno .titulo-inicio h4.subtitle {
        font-size: 17pt;
    }

    .seccion.uno .titulo-inicio> :last-child{
        display: none;
    }
    
    .seccion.uno {
        min-height: auto;
    }
    .seccion.uno form {
        width: 90%;
        margin: auto;
    }
    .seccion.uno form>div {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .seccion.uno form>div> div{
        height: auto;
        -webkit-box-flex: unset;
        -ms-flex: auto;
        flex: auto;
    }

    .seccion.uno form>div> :first-child {
        width: 100%;
        max-width: 100%;
    }

     .seccion.uno form>div> :nth-child(2),
     .seccion.uno form>div> :nth-child(3){
          width: 50%;
          max-width: 50%;
     }

     md-input-container.md-input-has-value .md-select-value>span:not(.md-select-icon){
        -webkit-transform: none;
                transform: none; 
     }

    md-input-container.md-input-has-value label[for='select_6'] {
        display: none;
    }

    label{
        -webkit-transform: none !important;
                transform: none !important;
    }

    md-input-container:not(.md-input-has-value) input:not(:focus) {
        font-size: 20pt;
    }
    
     input:not([type]),
     input[type=text],
     input[type=password],
     input[type=email],
     input[type=url],
     input[type=time],
     input[type=date],
     input[type=datetime],
     input[type=datetime-local],
     input[type=tel],
     input[type=number],
     input[type=search],
     textarea.materialize-textarea{
        height: 3rem !important;
        font-size: 2rem !important;
     }

      md-input-container .md-input-message-animation{display: none;}

    .seccion.dos {
        padding: 4% 2%;
    }
    .contenedor-planes {
        width: 100%;
    }
    
    .plan {
        height: 50vh;
        width: 33%;
    }

    .plan-body{
        height: 65%;
    }

    ul.plan-lista li {
        font-size: 16pt;
        word-break: break-word;
        margin-bottom: 14px;
        padding: 0 16px;
    }

    .input-tipografia {
        width: 70%;
    }

    .seccion.uno form label,
    .seccion.uno form md-select,
    .label-form {
        font-size: 25pt;
    }
    

    md-input-container{
        margin: 40px 0;
        margin-top: 50px !important;
    }

    md-input-container.md-block.etiquetas {
       margin-top: 77px !important;
    }

    md-chip-template strong {
        font-size: 26pt !important;
    }
    
    .etiquetas.md-chips md-chip {
    height: 60px;
    }

    .md-chips.md-removable md-chip {
        padding-right: 60px;
        height: 60px;
        line-height: 60px;
    }
    

    .md-chips md-chip .md-chip-remove md-icon {
        height: 40px;
        width: 40px;
        min-height: auto;
        min-width: auto;
    }

    .md-chips md-chip .md-chip-remove {
        text-align: center;
        width: 60px;
        height: 40px;
        min-width: auto;
    }

     md-select-menu md-content md-option {
         font-family: sans-serif !important;
     }

     button.md-button.md-primary.md-raised.boton-formulario-generar,
     button.md-button.md-primary.md-raised.boton-formulario-generar:hover{
         padding: 20px 25px;
         font-size: 25pt;
     }


    .seccion.tres{display: none;}

    .caracteristicas .caracteristicas__item> :last-child p {
        display: none;
    }

    .caracteristicas .caracteristicas__item {
        padding: 30px 0px;
    }

    .respuestas>div.activo {
        display: block;
        width: 83%;
        font-size: 20pt;
        text-align: center;
    }

    .preguntas>div {
        padding-left: 7%;
    }
    
    .preguntas>div h6 {
        font-size: 19pt;
    }

    .md-autocomplete-suggestions li{
        font-size:30pt;

    }

    .md-autocomplete-suggestions *,
    .md-autocomplete-suggestions {
        -webkit-transform:none !important;
        transform:none !important;
    }
     
}


@media (min-device-width:640px) and (max-device-width:1080px),
(min-width:640px) and (max-width:1080px) {
    .seccion.uno .titulo-inicio .titulo-principal {
        text-align: center;
        font-size: 32pt;
    }

    .seccion.uno .titulo-inicio h4.subtitle {
        font-size: 17pt;
    }

    .caracteristicas .caracteristicas__item> :last-child h4 {
        font-size: 24pt;
    }
    
    .contenedor-planes {
        width: 100%;
    }

    .plan {
        height: 50vh;
        width: 33%;
    }

}