@font-face {
    font-family: 'futura-heavy';
    src: url("./fonts/futura/FuturaStd-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* END Black */

/* BEGIN Regular */

@font-face {
    font-family: 'maven-regular';
    src: url("./fonts/maven/MavenPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* END Regular */

/* Estilos generales*/

* {
    cursor: default;
}

:root {
    /*  COLORES */
    --principal: #009688;
    --secundario: #612787;
    --terciario: #4CB5AB;
}

.text-center {
    text-align: center;
}

/* FUENTES */

.seccion.dos h2.titulo,
.seccion.tres .titulo-destacado,
.seccion.cuatro h4,
.seccion.cinco h4 {
    font-family: 'futura-heavy' !important;
}

.caracteristicas p,
.caracteristicas h4 {
    font-family: 'maven-regular';
}

/* Header-Footer */

header {
    cursor: default;
    background: #f5fafd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.logo {
    padding: 16px;
    text-align: center;
    color: var(--secundario);
}

header button,
.logo {
    font-size: 20px !important;
    font-weight: bold;
    font-family: 'futura-heavy' !important;
}

* {
    outline: none
}

.md-button.md-fab {
    z-index: initial !important;
}

md-icon:focus {
    outline-color: transparent;
}

footer {
    color: white;
    background: #0d0a17;
    padding: 3% 5%;
}

.links-footer a {
    color: #8BC34A;
    text-decoration: none;
    margin-right: 30px;
    padding: 8px 8px 0px 0px;
}

.iconos-sociales i {
    padding: 8px;
    color: white;
    font-size: 26px;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.iconos-sociales i:hover {
    background: #8BC34A;
}

div:focus,
md-radio-button:focus,
md-radio-group:focus {
    outline: none !important;
}

.material-icon {
    width: auto;
    height: auto;
    font-size: 27px;
}

/* LANDING */

button.boton-enviar:hover {
    background: white;
    color: black !important;
}

.back-landing {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    -webkit-animation: body-animacion 1s ease 0.5s normal forwards running;
    animation: body-animacion 1s ease 0.5s normal forwards running;
}

@-webkit-keyframes body-animacion {
    from {
        -webkit-filter: blur(6px);
        filter: blur(6px);
    }
    to {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes body-animacion {
    from {
        -webkit-filter: blur(6px);
        filter: blur(6px);
    }
    to {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}



/* TERMINOS */

.terminos-condiciones,
.legales {
    background: rgb(250, 250, 250);
    text-align: justify;
    padding: 5% 6%;
}

.terminos-condiciones h2,
.legales h2 {
    text-align: center;
    font-size: 30px;
}




/* CAROUSEL */

.comienzo-carousel {
    background: transparent;
    width: 70%;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 40px;
    overflow: hidden;
    margin-bottom: 2%;
}

.comienzo-carousel .slide,
.testimonio {
    height: 50vh !important;
}

.comienzo-carousel .track-wrapper {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    background: rgba(255, 255, 255, 0.87);
}

.t-texto {
    padding: 30px;
}

.t-texto> :first-child {
    font-size: 32px;
    padding-bottom: 16px;
}

.t-texto> :last-child {
    font-size: 18px;
    padding-bottom: 16px;
    text-align: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.t-imagen img {
    width: 100%;
}

.seccion-landing.cinco h2 {
    color: white !important;
}

.preguntas>div p {
    margin: 0;
    padding: 12px;
}


/* SECCION UNO */

.seccion.uno {
    background: url(img/white-wall-empty-hd.jpg);
    height: 100vh;
    background-size: 100% 100%;
    margin-bottom: 0;
}

.seccion.uno form {
    width: 30%;
    padding-top: 18%;
    padding-left: 10%;
}

.label-form {
    color: var(--secundario);
    font-family: 'futura-heavy';
}

.estilos-fuentes md-radio-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px 0;
    margin-top: 8px;
}

.estilos-fuentes md-radio-button .md-label {
    margin: auto;
}

.estilos-fuentes md-radio-button .md-container {
    display: none;
}

md-radio-button[aria-checked="true"] {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

span.estilo {
    padding: 11px 16px;
    background: #E4E7E8;
    border: 2px solid var(--secundario);
    color: var(--secundario);
    font-size: 20px;
    -webkit-transition: all 0.5s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 5px;
}

.seccion.uno button {
    background: var(--principal) !important;
    min-width: 30px;
}

span.estilo.seleccionado {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* SECCION DOS */

.seccion.dos {
    padding: 4% 7%;
}

.seccion.dos h2.titulo {
    color: var(--secundario);
    text-align: center;
    font-size: 43px;
}

.caracteristicas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 4%;
}

.caracteristicas__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 30px;
}

.caracteristicas__item img {
    width: 120px;
    height: 120px;
}

.caracteristicas__item> :first-child {
    margin-right: 30px;
    padding-left: 16px;
}

.caracteristicas__item> :first-child {
    margin-right: 30px;
    border-left: 8px solid;
}

/* SECCION TRES */

.seccion.tres {
    background: white;
    padding-bottom: 2%;
}

.seccion.tres .titulo-destacado {
    background: rgb(97, 39, 135);
    background: linear-gradient(135deg, rgb(97, 39, 135) 0%, rgb(97, 39, 135) 37%, rgb(0, 150, 136) 60%, rgb(0, 150, 136) 80%, rgb(76, 181, 171) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#612787', endColorstr='#4cb5ab', GradientType=1);
    display: block;
    width: 100%;
    padding: 5%;
    text-align: center;
    color: white;
    font-size: 38px;
}

.seccion.tres .ejemplos-papeleria {
    background: url(img/ejemplos.jpg);
    height: 75vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: -28px;
    background-position-y: 37px;
    width: 100%;
}

.button-verde {
    background: var(--principal) !important;
    color: white;
}

/* SECCION CUATRO */

.seccion.cuatro {
    padding: 4%;
    background: #9E9E9E;
}

.seccion.cuatro h4 {
    COLOR: var(--secundario);
    MARGIN-BOTTOM: 4%;
}

.l-destacado-landing {
    -webkit-box-flex: 23%;
    -ms-flex: 23%;
    flex: 23%;
    max-width: 23%;
    margin: 1%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0;
    background: white;
}

.l-destacado-landing svg {
    width: 100%;
}

bazam-visualizar {
    display: block;
}

.l-destacado-landing:hover {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    margin: 0%;
}
