/*-----------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
------FONT-FACES SCSS----------------------------------------------------------------------
-------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/

/* BEGIN Black */
@font-face {
    font-family: 'Maven Black';
    src: url("../fonts/maven/MavenPro-Black.ttf?v=2.003") format("truetype");
    @include fontOptions(800, normal);
}
@font-face {
    font-family: 'Futura Black';
    src: url("../fonts/futura/FuturaStd-Heavy.ttf?v=2.025") format("truetype");
    @include fontOptions(800, normal);
}
/* END Black */

/* BEGIN Bold */
@font-face {
    font-family: 'Maven Bold';
    src: url("../fonts/maven/MavenPro-Bold.ttf?v=2.003") format("truetype");
    @include fontOptions(800, normal);
}
@font-face {
    font-family: 'Futura Bold';
    src: url("../fonts/futura/FuturaStd-Bold.ttf?v=2.025") format("truetype");
    @include fontOptions(800, normal);
}
/* END Bold  */

/* BEGIN Medium */

@font-face {
    font-family: 'Maven Medium';
    src: url("../fonts/maven/MavenPro-Medium.ttf?v=2.003") format("truetype");
    @include fontOptions(500, normal);
}
/* END Medium */

/* BEGIN Regular */
@font-face {
    font-family: 'Maven Regular';
    src: url("../fonts/maven/MavenPro-Regular.ttf?v=2.003") format("truetype");
    @include fontOptions(400, normal);
}
/* END Regular */

@font-face {
    font-family: 'Material Icons';
    src: url('../fonts/material/material.woff2') format('woff2');
    @include fontOptions(400, normal);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('material.woff2') format('woff2');
}

@font-face {
    font-family: 'linotte-bold';
    src: url("../fonts/Linotte-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-black';
    src: url("../fonts/NunitoSans-Black.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-bold';
    src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-bolder';
    src: url("../fonts/NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans-semi';
    src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

