
/*-----------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
------HEADER SCSS--------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/

/*BEGIN Header*/
.header {
    background-color: $WHITE;
    height: 60px;
    font-size: 14px;
    padding: 0 10px !important;
    color: $WHITE;

    div.logo {
        color: var(--principal);
        height: 100%;
        padding: 0 !important;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        vertical-align: middle;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;

        div {
            text-align: center;
            color: var(--secundario);
            width: 100%;
            margin: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 160px;
            padding: 10px 0;

            img {
                width: 80%;
                height: 50px;
            }
        }
    }

    div.menu {

        padding: 0 !important;
        
        div {

            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            
            div.items {
                height: 60px;
                color: $BLACK;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                vertical-align: middle;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                font-family: 'Futura Black' !important;

                span {
                    margin: 0 10px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    cursor: pointer;

                    i {
                        vertical-align: top;
                    }
                }

                span:hover {
                    color: $PRINCIPAL;
                }

                span.logos {
                    color: $PRINCIPAL;
                }

                span.login {
                    padding: 5px 10px;
                    background: $PRINCIPAL;
                    color: $WHITE;
                    border-radius: 2px;
                }
            }
        }
    }
}

.tooltip-header {
    font-family: 'Futura Black' !important;
    font-size: 14px !important;
    color: $WHITE !important;
    background-color: $PRINCIPAL !important;
}

.user-avatar {
    width: 40px;
    border-radius: 50%;
}
/*END header*/