@mixin userSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin fontOptions($weight, $style) {
    font-weight: $weight;
    font-style: $style;
}

@mixin boxShadow($a, $b, $c, $d, $color) {
    -webkit-box-shadow: #{$a}px #{$b}px #{$c}px #{$d}px $color;
            box-shadow: #{$a}px #{$b}px #{$c}px #{$d}px $color;
}