.body.descargar {
    div.row {

        div .logo {
            padding: 0;
            margin-top: 40px;
            position: relative;
            background-color: $WHITE;
        }
    }
}

.formato {
    cursor:pointer;
}

.previews {
    margin-top: 40px;
}

.aumentar-plan {
    top: 0%;
    margin-top: 0px !important;
    width: 100%; 
}
  
.aumentar-plan:hover {
    opacity: 1; 
}