/*-----------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
------INICIO SCSS--------------------------------------------------------------------------
-------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/

div.gif {
    margin-bottom:0;
    overflow-y: scroll; 
    height: 100% ;
    width: 100%; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

div.combinaciones {
    margin-bottom:0; 
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    max-height: calc(100vh - 60px);
    background-color: $BACKGROUND;

    div.combinacion {
        position: relative;
        border: 10px solid $BACKGROUND;
        padding: 0 !important;
        -webkit-transition: box-shadow 0.3s, opacity 0.3s;
        -webkit-transition: opacity 0.3s, -webkit-box-shadow  0.3s;
        transition: opacity 0.3s, -webkit-box-shadow  0.3s;
        transition: box-shadow  0.3s, opacity 0.3s;
        transition: box-shadow  0.3s, opacity 0.3s, -webkit-box-shadow  0.3s;

        bazam-svg-text {
            display: block;
        }

        @at-root #{&}-box {
            cursor: pointer;
            z-index: 100;
            transition: all 0.25s;
            position: relative;
            -webkit-box-shadow: 0px 0px 3px 0px #c7c7c7;
                    box-shadow: 0px 0px 3px 0px #c7c7c7;
    
        }

        @at-root #{&}-box:hover {
            
            transform: translateY(-15px);
            /*border: 3px solid rgba(0, 0, 0, 0.2);*/
            opacity: 1;
            //-webkit-box-shadow: inset 5px 1px 75px -19px rgba(0,0,0,1);
            //box-shadow: inset 5px 1px 75px -19px rgba(0,0,0,1);

            span.accion, span.comprar {
                opacity: 1;
            }
        }

        @at-root #{&}-box.ng-enter {
            -webkit-animation: enter 1600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
            animation: enter 1600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
            display: block;
            position: relative;
        }
    }
}

