/****** VISTA PAPELERIA ******/

.categorias-papeleria {
    display: flex;
    height: 50px;
    .tab-papeleria {
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        font-size: 20px;
        cursor: pointer;
        position: relative;
        &.seleccionada {
            color: $PRINCIPAL;
        }
        &:hover .ejemplo-tab {
            top: 100%;
            width: 100%;
            visibility: visible;
            height: 350px;
        }
        .ejemplo-tab {
            position: absolute;
            visibility: hidden;
            width: 0;
            top: 100%;
            background: #000000a6;
            z-index: 4;
            height:0px;
            padding: 7%;
            display: flex;
            transition: all 0.3s;
            svg {
                display: block;
                margin: auto;
                width: 75%;
                &.hoja {
                    width: 40%;
                }
            }
        }
    }
}

.contenedor-papelerias {
    height: calc((100vh - 60px) - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #eceff0;
    >div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.papeleria-ejemplos>div>div:hover span.accion,
.modelo-papeleria-crear:hover span.accion {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.hoja {
    span.accion:hover,
    span.comprar {
        width: 70%;
    }
    .combinacion-box {
        > :nth-child(2),
        > :nth-child(1) {
            top: 5%;
        }
        > :nth-child(3) {
            top: 20%;
        }
        > :nth-child(4) {
            top: 35%;
        }
        > :nth-child(5) {
            top: 50%;
        }
    }
}

.hidden {
    display: none !important;
}

.boton-crear-papeleria {
    position: absolute !important;
    right: 3%;
    bottom: 2%;
    background-color: #438e46;
    min-width: auto;
    color: white;
    padding: 5px 15px;
    &:hover {
        background-color: #4CAF50 !important;
    }
}

.papeleria-nueva-mensaje {
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .boton-crear-papeleria {
        margin: 0 !important;
    }
}

textarea {
    resize: none;
}

/* entire container, keeps perspective */

.pieza {
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
    margin: 20px 0;
    position: relative;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    .overlay {
        z-index: 3;
        display: block;
    }
    span.accion {
        z-index: 3;
    }
}

/****** MENU PAPELERIA ******/

bazam-menu-papeleria {
    width: 25%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 60px);
    background: #f4f2f2;
    transition: width 0.3s;
}

.caras-miniaturas {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
    right: 20px;
    .caras-miniaturas-item-svg {
        cursor: pointer;
        width: 100px;
        margin-right: 20px;
        border: 2px solid silver;
        svg {
            display: block;
            width: 100%;
        }
        &.active {
            border: 2px solid black;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        }
    }
}

.menuPapeleria {
    width: 100%;
    height: 100%;
    user-select: none;
    .contenedor-principal-menu {
        .mensaje-cara {
            font-size: 22pt;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: silver;
            text-align: center;
        }
        .contenedor-items {
            width: 95%;
            margin: 5px auto;
            background: white;
            padding: 10px 15px 10px 5px !important;
            border: 1px solid #e6e6e6;
            border-left: 10px solid white;
            padding-bottom: 5px;
            .nombre-contenedor {
                padding: 2px;
                font-size: 12pt;
                margin-bottom: 10px;
                border-bottom: 1px solid silver;
                justify-content: space-between;
                display: flex;
                align-items: center;
                >div {
                    display: flex;
                    flex: 1;
                    justify-content: flex-end;
                    position: relative;
                }
                bazam-color-picker {
                    margin-left: 10px;
                    display: inline-block;
                    margin-top: 6px;
                    .background-selector {
                        border-radius: 50%;
                        height: 25px;
                        width: 25px;
                    }
                }
                .menuHook {
                    position: absolute;
                    background: white;
                    display: flex;
                    right: 2%;
                    top: 10px;
                    border: 1px solid silver;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
                    transition: all 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
                    visibility: hidden;
                    &.open {
                        top: 38px;
                        visibility: visible;
                    }
                }
            }
            .opciones-hook {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &>:last-child {
                    width: 65%;
                    margin-right: 3%;
                }
                &>:first-child {
                    width: 30%;
                }
                input[type="color"] {
                    padding: 0px;
                    background: transparent;
                    border: none;
                    height: 34px;
                    width: 60%;
                    margin: auto;
                    display: block;
                }
            }
            &.ui-droppable-hover {
                border-left: 10px solid #5980b7 !important;
            }
            &.ui-droppable-active {
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
                border-left: 10px solid #5980b780;
            }
            .item {
                font-size: 10pt;
                display: inline-block;
                margin-bottom: 10px;
                text-transform: capitalize;
                margin-right: 10px;
                background: white;
                &.ui-draggable-dragging {
                    opacity: 0.5;
                }
                &:not(.colocado) {
                    padding: 8px;
                    cursor: move;
                    border: 1px solid #e6e6e6;
                    &:hover {
                        background: #f3f2f2;
                    }
                }
                &.colocado {
                    cursor: default;
                    width: 100%;
                    padding: 8px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    box-shadow: none;
                    border-bottom: 1px solid #e6e6e6;
                    >:last-child.eliminar-input-x {
                        font-size: 12pt;
                        min-width: 20px;
                        min-height: 20px;
                        width: 20px;
                        height: 20px;
                        color: silver;
                        &:hover {
                            color: red;
                        }
                    }
                }
                span.input-container-papeleria {
                    flex: 1;
                    input.input-papeleria {
                        height: 30px !important;
                        &::placeholder {
                            text-transform: capitalize;
                        }
                    }
                    input.input-papeleria,
                    textarea {
                        margin-bottom: 0;
                    }
                    textarea {
                        &::placeholder {
                            color: var(--principal);
                        }
                    }
                }
            }
            .item.colocado> :last-child md-icon,
            .nombre-contenedor> :last-child md-icon {
                color: inherit;
            }
            .item.colocado> :last-child,
            .nombre-contenedor .icono-nombre-hook {
                width: 35px;
                height: 35px;
                color: black;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &.seleccionado {
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
                }
            }
            .mensaje-items {
                padding: 16px;
                font-size: 13pt;
                color: silver;
                text-align: center;
                font-family: 'nunito-sans-bold' !important;
                letter-spacing: 2px;
            }
            .espacios-disponibles,
            .validacion-papeleria {
                display: block;
                font-size: 7pt;
                margin-top: 8px;
                font-family: 'nunito-sans-bold' !important;
                font-weight: 800;
            }
        }
    }
}

bazam-menu-papeleria .fonts-container {
    position: absolute;
    width: 20%;
    top: calc(60px) !important;
    height: calc(100% - 60px);
    left: 25%;
    bottom: 0;
    border-left: unset;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    &.open {
        left: 25%;
        z-index: 2;
        opacity: 1;
        visibility: visible;
    }
    .close {
        right: 0%;
        top: 0%;
        padding: 5px;
        background: transparent;
        color: black;
    }
}

bazam-papeleria {
    left: 0;
    transition: left 0.5s;
}

.item.colocado.gu-mirror span.eliminar-input-x,
.item.colocado.gu-mirror .drag-indicator {
    display: none !important;
}

.drag-indicator {
    cursor: move;
}

svg * {
    overflow: visible !important;
}

.voltear-cara {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    padding: 2px;
    background: #000000d1;
}

.voltear-cara md-icon {
    color: silver;
}

/* CREAR PAPELERIA */

.pop-papeleria-crear {
    position: absolute;
    bottom: 0;
    z-index: 10;
    height: 0%;
    background-color: white;
    overflow: hidden;
    width: 100vw;
    transition: height 0.5s;
    &.active {
        height: calc(100vh - 60px);
    }
    .crear-directiva {
        height: calc(100vh - 100px);
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 1% 15px 1% 0%;
        background-color: #ECEFF0;
        >div {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            justify-content: space-around;
            align-items: center;
        }
    }
}

.modelo-papeleria-crear {
    position: relative;
    margin: 20px 0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    >span {
        display: block;
    }
}

.modelo-papeleria-crear,
.pieza {
    width: calc((100% / 4) - 40px);
}

.modelo-papeleria-crear.tarjeta,
.pieza.tarjeta,
.modelo-papeleria-crear.sobre-sin-ventana,
.pieza.sobre-sin-ventana {
    width: calc((100% / 3) - 40px);
}

.modelo-papeleria-crear.etiqueta-para-precios,
.pieza.etiqueta-para-precios,
.modelo-papeleria-crear.etiqueta-para-productos,
.pieza.etiqueta-para-productos {
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0% 4%;
    > span {
        display: block;
        width: 80%;
    }
}

.modelo-papeleria-crear.etiqueta-para-precios, .pieza.etiqueta-para-precios {
    padding: 0% 4%;
    height: 330px;
}