<md-dialog aria-label="pestana.nombre" flex="60">
    <md-toolbar>
        <div class="md-toolbar-tools text-center">
            <h2>Categorias Y Preferencias</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form ng-switch="dialogosCuerpos" class="layout-padding">
            <div>
                <h5>Preferencias</h5>
                <div class="pasos preferencias">
                    <div layout ng-repeat="preferencia in preferencias">
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">{{preferencia.nombre1}}</span>
                        </div>
                        <md-slider flex="50" md-discrete ng-model="preferencia.valor" step="1" min="1" max="3" aria-label="rating">
                        </md-slider>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">{{preferencia.nombre2}}</span>
                        </div>
                    </div>
                </div>
                <h5>Categoria</h5>
                <md-select ng-model="datos.categoria">
                    <md-option ng-value="categoria.idCategoria" ng-repeat="categoria in categorias">{{categoria.nombreCategoria}}</md-option>
                </md-select>

                <div>
                    <h5>Tipo Logo</h5>
                    <div class="row between-xs">
                        <div layout-padding class="tipo-logo {{icono.estado}} col-xs-4" ng-click="selectA($index)" ng-repeat="icono in iconos">
                            <div class="tipo-logo-icon">
                                <md-icon>font_download</md-icon>
                            </div>
                            <div>
                                <h3>{{icono.tipo}}</h3>
                                <p>{{icono.descripcion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div layout class="margen_superior">
                    <div layout="row" flex layout-align="end">
                        <md-button class="md-primary md-raised" ng-click="submit()">Enviar</md-button>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>