<div class="row start-xs" id="toast">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margen_inferior">
        <div class="listar">

            <!-- LISTAR BUSQUEDAS-->

            <div class="paneles individual">
                <md-progress-linear ng-disabled="ctrl.busquedas.length > 0" md-mode="indeterminate"></md-progress-linear>
                <div layout layout-align="space-around center" layout-padding class="titulo-modulo">
                    <texto flex>LISTADO DE BUSQUEDAS</texto>
                </div>
            </div>
        </div>
    </div>
</div>