<div flex layout="row" layout-margin layout-align="none start">
    <div flex="50" class="paneles principal md-whiteframe-2dp listar">
        <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
            <texto flex ng-click="cliente.listarC()">LISTADO DE CLIENTES</texto>
        </div>
        <div ng-show="cliente.mostrarC">
            <div layout class="elemento">
                <md-input-container flex style="margin-bottom: 0;height: 35px;">
                    <input type="text" ng-model="cliente.buscar" class="md-block" aria-label="filtro" placeholder="Buscar:">
                </md-input-container>
            </div>
            <div class="tabla">
                <div>Nombre:</div>
                <div>Correo:</div>
                <div>Telefono:</div>
                <div>Acciones:</div>
            </div>
            <div layout="column" class="content-scroll lista">
                <div layout layout-align="center" ng-show="cliente.loaderMostrar" class="margen_superior">
                    <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
                </div>
                <div ng-repeat="elemento in cliente.clientes | filter:cliente.buscar" class="elemento" ng-click="cliente.activar($event)">
                    <div class="tabla-campo">
                        <div class="nombre">{{elemento.nombreCliente}}</div>
                        <div>{{elemento.correo}}</div>
                        <div>{{elemento.telefono}}</div>
                        <div>
                            <div>
                                <md-button class="md-fab md-mini md-warn" ng-click="cliente.pedidosCliente(elemento.idCliente, $index)">
                                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Detalles Pedido</md-tooltip>
                                    <md-icon class="material-icon">keyboard_arrow_right</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div flex="40" class="paneles md-whiteframe-2dp listar" ng-show="cliente.mostrarPedido">
        <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
            <texto>PEDIDOS CLIENTE</texto>
        </div>
        <div layout="column" class="content-scroll">
            <div ng-repeat="pedido in cliente.pedidosC" class="elemento nopadding">
                <div class="estado-pedido {{pedido.estado}}"></div>
                <div layout layout-align="space-arund" layout-wrap class="datos-elemento" layout-padding>
                    <div flex="45"><b>Fecha:</b> {{ pedido.fecha | date : 'M/d/yy h:mm a'}}</div>
                    <div flex="45"><b>Estado:</b>
                        <texto class="{{pedido.estado}}">{{pedido.estado}}</texto>
                    </div>
                    <div flex="45"><b>Plan:</b> {{pedido.plan}}</div>
                    <div flex="45"><b>Precio:</b> {{pedido.precio}} {{pedido.moneda}}</div>
                    <div flex="45"><b>Pais:</b> {{pedido.pais}} </div>
                </div>
                <div layout>
                    <md-input-container class="md-block" flex="50">
                        <label>CAMBIAR ESTADO</label>
                        <md-select ng-model="cliente.estado" aria-label="estado">
                            <md-option ng-click="cliente.cambiarEstado(pedido.idPedido, 'COMPLETADO', $index)" value="COMPLETADO">
                                COMPLETADO
                            </md-option>

                            <md-option ng-click="cliente.cambiarEstado(pedido.idPedido, 'EN ESPERA', $index)" value="EN ESPERA">
                                EN ESPERA
                            </md-option>
                            <md-option ng-click="cliente.cambiarEstado(pedido.idPedido, 'CANCELADO', $index)" value="CANCELADO">
                                CANCELADO
                            </md-option>

                            <md-option ng-click="cliente.cambiarEstado(pedido.idPedido, 'EN PROCESO', $index)" value="EN PROCESO">
                                EN PROCESO
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <div ng-if="cliente.validarP" class="mensaje-resultado pequeno">
                <h3>NO SE ENCONTRARON PEDIDOS</h3>
            </div>
        </div>
    </div>
</div>