<div class="row start-xs" id="toast">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margen_inferior">
        <div class="listar">

            <!-- LISTAR LOGOS -->

            <div class="paneles individual md-whiteframe-2dp">
                <div layout layout-align="space-around center" layout-padding class="titulo-modulo">
                    <texto flex ng-click="designer.listarLogos()">LISTADO DE LOGOS</texto>
                </div>
                <div layout layout-align="space-between center" ng-if="designer.cal">
                    <p>Calificacion:</p>
                    <md-input-container flex>
                        <md-select ng-model="designer.logoCalificarA.calificacion" ng-change="designer.ponerCalificacion({idLogo:designer.logoCalificarA.idLogo, valor: designer.logoCalificarA.calificacion}, true, $index)"
                            class="md-block" aria-label="filtro">
                            <md-option value="1">1</md-option>
                            <md-option value="2">2</md-option>
                            <md-option value="3">3</md-option>
                            <md-option value="4">4</md-option>
                            <md-option value="5">5</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div ng-show="designer.listaL">
                    <div class="w3-responsive content-scroll" ng-if="designer.logos.length > 0">
                        <table class="w3-table w3-bordered">
                            <tr>
                                <th>Logo:</th>
                                <th>Estado:</th>
                                <th>Acciones:</th>
                            </tr>
                            <tr ng-repeat="logo in designer.logos">
                                <td>
                                    <div ng-click="designer.verLogo(logo.logo, false)" style="width:150px;">
                                        <bazam-visualizar data-svg="designer.base64(logo.logo)"></bazam-visualizar>
                                    </div>
                                </td>
                                <td>{{logo.estado}}</td>
                                <td>
                                    <md-button ng-if="logo.estado == 'Por Aprobar'" class="md-fab md-mini md-warn" ng-click="designer.aprobarLogo($index, logo, logo.idLogo)">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Aprobar</md-tooltip>
                                        <md-icon class="material-icon">check</md-icon>
                                    </md-button>
                                    <md-button class="md-fab md-mini md-warn" ng-click="designer.borrarLogo($index, logo.idLogo,false)">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">No Aprobar</md-tooltip>
                                        <md-icon class="material-icon">remove_circle_outline</md-icon>
                                    </md-button>

                                    <md-button ng-if="!logo.destacado" class="md-fab md-mini md-warn" ng-click="designer.destacado({idLogo: logo.idLogo,idCliente: logo.clientes_idCliente, i: $index})">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Destacado</md-tooltip>
                                        <md-icon class="material-icon">favorite</md-icon>
                                    </md-button>

                                    <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('logos-designer', $index, logo.clientes_idCliente)"
                                        ng-if="logo.estado == 'Aprobado'">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Ver logos del diseñador</md-tooltip>
                                        <md-icon class="material-icon">remove_red_eye</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="height: 30%;" ng-if="designer.logos.length == 0" class="mensaje-resultado">
                        <h3>NO EXISTEN LOGOS POR APROBAR</h3>
                    </div>
                </div>
            </div>

            <!-- LISTAR DIEÑADORES -->

            <div class="paneles individual md-whiteframe-2dp">
                <div layout layout-align="space-around center" layout-padding class="titulo-modulo" ng-click="designer.listarDisenadores()" ng-disabled="designer.peticion">
                    <texto flex>LISTADO DE DISEÑADORES</texto>
                </div>
                <div ng-show="designer.listaD">
                    <div ng-if="designer.disenadores.length > 0">
                        <div layout class="elemento">
                            <md-input-container flex style="margin-bottom: 0;height: 35px;">
                                <input type="text" ng-model="designer.filtrosActivos.$" class="md-block" aria-label="filtro" placeholder="Buscar:">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Estado:</label>
                                <md-select ng-model="designer.filtrosActivos.bloqueado" class="md-block" aria-label="filtro">
                                    <md-option ng-value="0">Activo</md-option>
                                    <md-option ng-value="1">Bloqueado</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout layout-align="space-between center" ng-if="designer.metodoPagoi">
                            <p>Metodo de pago:</p>
                            <md-input-container flex>
                                <md-select  ng-disabled="designer.peticion" ng-model="designer.datosPagar.ms" ng-change="designer.notificarDisenador(designer.datosPagar.idCliente, designer.datosPagar.ms)"
                                    class="md-block" aria-label="filtro">
                                    <md-option ng-value="{{f.idFacturacion}}" ng-repeat="f in designer.datosPagar.facturacion">{{f.medio}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="w3-responsive content-scroll">
                            <table class="w3-table w3-bordered">
                                <tr>
                                    <th>Nombre:</th>
                                    <th>Deuda:</th>
                                    <th>Pais:</th>
                                    <th>Estado:</th>
                                    <th>Acciones:</th>
                                </tr>
                                <tr ng-repeat="d in designer.disenadores | filter:designer.filtrosActivos">
                                    <td>{{d.nombreCliente}}</td>
                                    <td>${{d.deuda.deuda}}</td>
                                    <td>{{d.pais}}</td>
                                    <td ng-if="d.bloqueado == 0">Activo</td>
                                    <td ng-if="d.bloqueado == 1">Bloqueado</td>
                                    <td>
                                        <md-button ng-if="d.deuda.deuda > 0 " class="md-fab md-mini md-warn" ng-disabled="designer.peticion" ng-click="designer.calDisenador(d)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Pagar</md-tooltip>
                                            <md-icon class="material-icon">payment</md-icon>
                                        </md-button>
                                        <md-button ng-if="d.deuda.vendido > 0"  ng-disabled="designer.peticion" class="md-fab md-mini md-warn" ng-click="designer.mostrar('historial', $index, d.idCliente)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Historial de pagos</md-tooltip>
                                            <md-icon class="material-icon">account_balance</md-icon>
                                        </md-button>
                                        <md-button ng-if="d.logosAprobados > 0" class="md-fab md-mini md-warn"  ng-disabled="designer.peticion" ng-click="designer.mostrar('logos-designer', $index, d.idCliente)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Ver logos del diseñador</md-tooltip>
                                            <md-icon class="material-icon">remove_red_eye</md-icon>
                                        </md-button>
                                        <md-button class="md-fab md-mini md-warn" ng-if="d.bloqueado == 0" ng-click="designer.bloquearDisenador(d.idCliente)" ng-disabled="designer.peticion">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Bloquear</md-tooltip>
                                            <md-icon class="material-icon">lock</md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div style="height: 30%;" ng-if="designer.disenadores.length == 0" class="mensaje-resultado">
                        <h3>NO HAY DISENADORES</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ACCIONES VISTA -->
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" ng-switch="designer.vista">
        <div class="paneles md-whiteframe-2dp listar">
            <!-- VER LOGOS DE UN DISEÑADOR-->
            <div ng-switch-when="1">
                <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
                    <texto>LOGOS DEL DISEÑADOR</texto>
                    <md-button ng-click="designer.vista = 0" style="margin:0;">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
                <div layout-padding class="content-scroll elemento">
                    <div layout layout-align="space-around start" layout-wrap>
                        <div flex="33" layout-padding class="margen_inferior" ng-repeat="logod in designer.logosDisenador">
                            <div md-whiteframe ng-click="designer.mostrar('o',$index)">
                                <bazam-visualizar data-svg="designer.base64(logod.logo)"></bazam-visualizar>
                            </div>
                            <div class="botones-logos-disenadores" layout layout-align="center center" ng-if="designer.modfire2 == $index && designer.mod && !designer.cal2">
                                <div ng-if="!logod.calificado">
                                    <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('calificacion-aprobados',$index)">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Calificar</md-tooltip>
                                        <md-icon class="material-icon">check</md-icon>
                                    </md-button>
                                </div>
                                <div>
                                    <md-button class="md-fab md-mini md-warn" ng-click="designer.verLogo(logod.logo, true)">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Ver logo</md-tooltip>
                                        <md-icon class="material-icon">remove_red_eye</md-icon>
                                    </md-button>
                                </div>
                                <div>
                                    <md-button class="md-fab md-mini md-warn" ng-disabled="designer.peticion" ng-click="designer.borrarLogo($index, logod.idLogo, true)">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">No Aprobar</md-tooltip>
                                        <md-icon class="material-icon">remove_circle_outline</md-icon>
                                    </md-button>
                                </div>
                            </div>
                            <div class="elemento inside calificacion" md-whiteframe ng-if="designer.modfire == $index && designer.cal2">
                                <md-input-container flex>
                                    <label>Calificacion:</label>
                                    <md-select ng-disabled="designer.peticion" ng-model="logo.calificacion" ng-change="designer.ponerCalificacion({idLogo:logod.idLogo, valor: logo.calificacion}, flase, $index)"
                                        class="md-block" aria-label="filtro">
                                        <md-option value="1">1</md-option>
                                        <md-option value="2">2</md-option>
                                        <md-option value="3">3</md-option>
                                        <md-option value="4">4</md-option>
                                        <md-option value="5">5</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- VISUALIZAR UN LOGO -->

            <div ng-switch-when="3">
                <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
                    <texto>VISUALIZAR LOGO</texto>
                    <md-button ng-click="designer.mostrarPop()" style="margin:0;">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
                <div layout-padding class="elemento">
                    <div layout layout-align="center center" layout-wrap>
                        <div flex class="margen_inferior">
                            <div class="pedido-logo elemento inside" md-whiteframe>
                                <bazam-visualizar data-svg="designer.logoVisualizar"></bazam-visualizar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- HISTORIAL DE PAGOS DE UN DISEÑADOR-->
            <div ng-switch-when="2">
                <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
                    <texto>BALANCE DE PAGOS</texto>
                    <md-button ng-click="designer.vista = 0" style="margin:0;">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
                <div class="tabla">
                    <div>Fecha:</div>
                    <div>Monto:</div>
                    <div>Medio:</div>
                    <div style="flex:1.2;">Correo:</div>
                </div>
                <div layout="column" class="content-scroll">
                    <div class="elemento" ng-repeat="h in designer.historialPagos">
                        <div class="tabla-campo">
                            <div>{{h.fecha | date :'yyyy-MM-dd' }}</div>
                            <div>${{h.monto}}</div>
                            <div>{{h.medio}}</div>
                            <div style="flex:1.2;">{{h.correo}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>