<div class="row start-xs" id="toast">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margen_inferior">
        <div class="listar">

            <!-- LISTAR LOGOS -->

            <div class="paneles individual md-whiteframe-2dp">
                <div layout layout-align="space-around center" layout-padding class="titulo-modulo">
                    <texto flex ng-click="designer.listarLogos()">LISTADO DE LOGOS</texto>
                </div>
                <div ng-show="designer.listaL">
                    <div layout class="elemento">
                        <md-input-container flex style="margin-bottom: 0;height: 35px;">
                            <input type="text" ng-model="pedidos.filtrosActivos.a" class="md-block" aria-label="filtro" placeholder="Buscar:">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Estado:</label>
                            <md-select ng-model="pedidos.filtrosActivos.estado" class="md-block" aria-label="filtro">
                                <md-option value="APROBADO">APROBADO</md-option>
                                <md-option value="NO APROBADO" selected>NO APROBADO</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="tabla">
                        <div>Logo:</div>
                        <div>Disenador:</div>
                        <div>Estado:</div>
                        <div>Acciones:</div>
                    </div>
                    <div layout="column" class="content-scroll">
                        <div class="elemento">
                            <div class="tabla-campo">
                                <div>
                                    <div class="pedido-logo lista elemento inside" md-whiteframe>
                                        <bazam-visualizar data-svg="designer.base64(designer.logoPrueba)"></bazam-visualizar>
                                    </div>
                                </div>
                                <div>Juanita</div>
                                <div>APROBADO</div>
                                <div>
                                    <div>
                                        <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('preciosPlan', elemento.idPlan)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Aprobar</md-tooltip>
                                            <md-icon class="material-icon">check</md-icon>
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('preciosPlan', elemento.idPlan)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">No Aprobar</md-tooltip>
                                            <md-icon class="material-icon">remove_circle_outline</md-icon>
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('logos-designer', 1, 'JUANITA')">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Ver logos del diseñador</md-tooltip>
                                            <md-icon class="material-icon">remove_red_eye</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="elemento in designer.logos | filter:designer.filtrosActivos | orderBy:'idLogo'" class="elemento">
                            <div class="tabla-campo">
                                <div>
                                    <div class="pedido-logo elemento inside" md-whiteframe>
                                        <bazam-visualizar data-svg="cliente.base64()"></bazam-visualizar>
                                    </div>
                                </div>
                                <div>Juanita</div>
                                <div>APROBADO</div>
                                <div>
                                    <div>
                                        <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('preciosPlan', elemento.idPlan)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Aprobar</md-tooltip>
                                            <md-icon class="material-icon">check</md-icon>
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('preciosPlan', elemento.idPlan)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">No Aprobar</md-tooltip>
                                            <md-icon class="material-icon">remove_circle_outline</md-icon>
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('logos-designer', 1, 'JUANITA')">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Ver logos del diseñador</md-tooltip>
                                            <md-icon class="material-icon">remove_red_eye</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- LISTAR DIEÑADORES -->

            <div class="paneles individual md-whiteframe-2dp">
                <div layout layout-align="space-around center" layout-padding class="titulo-modulo">
                    <texto flex ng-click="designer.listarDisenadores()">LISTADO DE DISEÑADORES</texto>
                </div>
                <div ng-show="designer.listaD">

                    <div layout class="elemento">
                        <md-input-container flex style="margin-bottom: 0;height: 35px;">
                            <input type="text" ng-model="designer.buscarPlanes" class="md-block" aria-label="filtro" placeholder="Buscar:">
                        </md-input-container>
                    </div>
                    <div class="tabla">
                        <div>Nombre:</div>
                        <div>Saldo:</div>
                        <div>Metodo:</div>
                        <div>Acciones:</div>
                    </div>
                    <div layout="column" class="content-scroll">
                        <div class="elemento">
                            <div class="tabla-campo">
                                <div class="nombre">Juanita</div>
                                <div>$30</div>
                                <div>Paypal</div>
                                <div>
                                    <div>
                                        <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('logos-designer', 1, 'JUANITA')">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Pagar</md-tooltip>
                                            <md-icon class="material-icon">payment</md-icon>
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('historial', 1, 'JUANITA')">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Historial de pagos</md-tooltip>
                                            <md-icon class="material-icon">account_balance</md-icon>
                                        </md-button>
                                    </div>

                                    <div>
                                        <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('logos-designer', 1, 'JUANITA')">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Ver logos del diseñador</md-tooltip>
                                            <md-icon class="material-icon">remove_red_eye</md-icon>
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button class="md-fab md-mini md-warn" ng-click="planes.bloquearPlan('bloquear',elemento.idPlan,$index)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Bloquear</md-tooltip>
                                            <md-icon class="material-icon">lock</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ACCIONES VISTA -->
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" ng-switch="designer.vista">
        <div class="paneles md-whiteframe-2dp listar">
            <!-- VER LOGOS DE UN DISEÑADOR-->
            <div ng-switch-when="1">
                <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
                    <texto>LOGOS DE {{designer.nombreDesigner}}</texto>
                    <md-button ng-click="designer.vista = 0" style="margin:0;">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
                <div layout-padding class="content-scroll elemento">
                    <div layout layout-align="space-around center" layout-wrap>
                        <div flex="30" class="margen_inferior">
                            <div class="pedido-logo lista elemento inside" md-whiteframe ng-click="designer.modFun($index)">
                                <bazam-visualizar data-svg="designer.base64(designer.logoPrueba)"></bazam-visualizar>
                            </div>
                            <div layout layout-align="space-around center" layout-padding ng-if="designer.modfire = 1 && designer.modInit">
                                <div>
                                    <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('preciosPlan', elemento.idPlan)">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Aprobar</md-tooltip>
                                        <md-icon class="material-icon">check</md-icon>
                                    </md-button>
                                </div>
                                <div>
                                    <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('preciosPlan', elemento.idPlan)">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">No Aprobar</md-tooltip>
                                        <md-icon class="material-icon">remove_circle_outline</md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                        <div flex="30" class="margen_inferior">
                            <div class="pedido-logo lista elemento inside" md-whiteframe ng-click="designer.modFun($index)">
                                <bazam-visualizar data-svg="designer.base64(designer.logoPrueba)"></bazam-visualizar>
                            </div>
                            <div layout layout-align="space-around center" layout-padding ng-if="designer.modfire = 1 && designer.modInit">
                                <div>
                                    <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('preciosPlan', elemento.idPlan)">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Aprobar</md-tooltip>
                                        <md-icon class="material-icon">check</md-icon>
                                    </md-button>
                                </div>
                                <div>
                                    <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('preciosPlan', elemento.idPlan)">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">No Aprobar</md-tooltip>
                                        <md-icon class="material-icon">remove_circle_outline</md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- HISTORIAL DE PAGOS DE UN DISEÑADOR-->
            <div ng-switch-when="2">
                <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
                    <texto>BALANCE DE CUENTA DE {{designer.nombreDesigner}}</texto>
                    <md-button ng-click="designer.vista = 0" style="margin:0;">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
                <div class="tabla">
                    <div>Fecha:</div>
                    <div>Metodo:</div>
                    <div>Cuanto:</div>
                </div>
                <div layout="column" class="content-scroll">
                    <div class="elemento">
                        <div class="tabla-campo">
                            <div>24/01/2018</div>
                            <div>Paypal</div>
                            <div>$100</div>
                        </div>
                    </div>
                    <div class="elemento">
                        <div class="tabla-campo">
                            <div>24/01/2018</div>
                            <div>Paypal</div>
                            <div>$100</div>
                        </div>
                    </div>
                    <div class="elemento">
                        <div class="tabla-campo">
                            <div>24/01/2018</div>
                            <div>Paypal</div>
                            <div>$100</div>
                        </div>
                    </div>
                    <div class="elemento">
                        <div class="tabla-campo">
                            <div>24/01/2018</div>
                            <div>Paypal</div>
                            <div>$100</div>
                        </div>
                    </div>
                    <div class="elemento">
                        <div class="tabla-campo">
                            <div>24/01/2018</div>
                            <div>Paypal</div>
                            <div>$100</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>