<div class="row start-xs" id="toast">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 margen_inferior">
        <div class="listar">
            <!-- LISTAR LOGOS -->
            <md-progress-linear ng-disabled="designer.logos.length > 0  && !designer.listandoLogos" md-mode="indeterminate"></md-progress-linear>
            <div class="paneles individual ">
                <div layout layout-align="space-around center" layout-padding class="titulo-modulo">
                    <texto flex>LISTADO DE LOGOS {{designer.listandoTexto}}</texto>
                    <span ng-click="designer.listarLogos(); designer.listandoTexto = 'APROBADOS'" ng-disabled="designer.peticion">
                        <small  style="cursor: pointer;">Listar Aprobados</small>
                    </span>
                </div>
                <!-- <div layout layout-align="space-between center" ng-show="designer.cal && designer.logos.length > 0" style="    background: white;
                border-bottom: 1px solid silver;">
                    <h4>Calificacion:</h4>
                    <md-input-container flex>
                        <md-select ng-model="designer.logoCalificarA.calificacion" ng-change="designer.ponerCalificacion({idLogo:designer.logoCalificarA.idLogo, valor: designer.logoCalificarA.calificacion}, true, $index)"
                            class="md-block" aria-label="filtro">
                            <md-option value="1">1</md-option>
                            <md-option value="2">2</md-option>
                            <md-option value="3">3</md-option>
                            <md-option value="4">4</md-option>
                            <md-option value="5">5</md-option>
                        </md-select>
                    </md-input-container>
                </div> -->
                <div ng-show="designer.logos.length > 0">
                    <div class="content-scroll elemento">
                        <div layout layout-align="space-around start" layout-wrap>
                            <div flex="33" layout-padding class="margen_inferior" ng-repeat="logo in designer.logos">
                                <div class="relative logo-predisenado">
                                    <bazam-visualizar data-svg="designer.base64(logo.logo)" ng-click="designer.indexPorAprobar = $index"></bazam-visualizar>
                                    <md-icon ng-show="designer.indexPorAprobar == $index" class="icono-detalles-lp" ng-click="showDetails = !showDetails" style="color:black !important">dehaze</md-icon>
                                    <div class="botones-logos-disenadores" layout layout-align="center center" ng-show="designer.indexPorAprobar == $index && !showDetails">
                                       
                                        <md-button ng-if="logo.estado == 'Por Aprobar'" class="md-fab md-mini md-warn" ng-click="designer.aprobarLogo($index, logo, logo.idLogo)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Aprobar</md-tooltip>
                                            <md-icon class="material-icon">check</md-icon>
                                        </md-button>
                                        <md-button class="md-fab md-mini md-warn" ng-click="designer.borrarLogo($index, logo.idLogo,false)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">No Aprobar</md-tooltip>
                                            <md-icon class="material-icon">remove_circle_outline</md-icon>
                                        </md-button>

                                        <md-button ng-if="logo.estado == 'Aprobado' && !logo.destacado" class="md-fab md-mini md-warn" ng-click="designer.destacado({idLogo: logo.idLogo,idCliente: logo.clientes_idCliente, i: $index})">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Destacado</md-tooltip>
                                            <md-icon class="material-icon">favorite</md-icon>
                                        </md-button>

                                        <!-- <md-button class="md-fab md-mini md-warn" ng-click="designer.mostrar('logos-designer', $index, logo.clientes_idCliente)"
                                            ng-if="logo.estado == 'Aprobado'">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Ver logos del diseñador</md-tooltip>
                                            <md-icon class="material-icon">remove_red_eye</md-icon>
                                        </md-button> -->
                                        <!--  <md-button ng-if=" &&!logo.calificado && logo.estado != 'Por Aprobar'" class="md-fab md-mini md-warn" ng-click="designer.selectCalificacion = !designer.selectCalificacion">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Calificar</md-tooltip>
                                            <md-icon class="material-icon">star</md-icon>
                                        </md-button>
                                        <div class="elemento inside calificacion" md-whiteframe ng-if="designer.indexPorAprobar == $index && designer.selectCalificacion">
                                            <md-input-container flex style="    width: 100%;">
                                                <md-select ng-disabled="designer.peticion" ng-model="logo.calificacion" ng-change="designer.ponerCalificacion({idLogo:logo.idLogo, valor: logo.calificacion}, flase, $index)"
                                                    class="md-block" aria-label="filtro">
                                                    <md-option value="1" ng-selected="$first">1</md-option>
                                                    <md-option value="2">2</md-option>
                                                    <md-option value="3">3</md-option>
                                                    <md-option value="4">4</md-option>
                                                    <md-option value="5">5</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div> -->
                                    </div>
                                    <detalles-lp ng-show="designer.indexPorAprobar == $index && showDetails" ng-mouseleave="showDetails = false" >
                                        <span>ID LOGO: <br>{{logo.idLogo}}</span>
                                        <span>ESTADO: <br>{{logo.estado}}</span>
                                        <span>CATEGORÍA: <br>{{logo.nombreCategoria}}</span>
                                    </detalles-lp>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margen_inferior">
        <div class="listar">
            <!-- LISTAR DIEÑADORES -->
            <md-progress-linear ng-disabled="!designer.listandoDisenadores" md-mode="indeterminate"></md-progress-linear>
            <div class="paneles individual ">
                <div layout layout-align="space-around center" layout-padding class="titulo-modulo">
                    <texto flex>LISTADO DE DISEÑADORES</texto>
                    <span ng-click="designer.listarDisenadores()" ng-disabled="designer.peticion">
                        <md-icon class="alternal">loop</md-icon>
                    </span>
                </div>
                <div ng-show="designer.listaD">
                    <div ng-if="designer.disenadores.length > 0">
                        <!-- <div layout class="elemento">
                                <md-input-container flex style="margin-bottom: 0;height: 35px;">
                                    <input type="text" ng-model="designer.filtrosActivos.$" class="md-block" aria-label="filtro" placeholder="Buscar:">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Estado:</label>
                                    <md-select ng-model="designer.filtrosActivos.bloqueado" class="md-block" aria-label="filtro">
                                        <md-option ng-value="0">Activo</md-option>
                                        <md-option ng-value="1">Bloqueado</md-option>
                                    </md-select>
                                </md-input-container>
                            </div> -->
                        <div layout layout-align="space-between center" ng-if="designer.metodoPagoi">
                            <p>Metodo de pago:</p>
                            <md-input-container flex>
                                <md-select ng-disabled="designer.peticion" ng-model="designer.datosPagar.ms" ng-change="designer.notificarDisenador(designer.datosPagar.idCliente, designer.datosPagar.ms)"
                                    class="md-block" aria-label="filtro">
                                    <md-option ng-value="{{f.idFacturacion}}" ng-repeat="f in designer.datosPagar.facturacion">{{f.medio}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="w3-responsive content-scroll">
                            <table class="w3-table w3-bordered">
                                <tr>
                                    <th>Id</th>
                                    <th>Correo:</th>
                                    <!-- <th>Deuda:</th>
                                        <th>Pais:</th>
                                    <th>Estado:</th> -->
                                    <th>Acciones:</th>
                                </tr>
                                <tr ng-repeat="d in designer.disenadores | filter:designer.filtrosActivos">
                                    <td>{{$index + 1}}</td>
                                    <td>{{d.correo}}</td>
                                    <!-- <td>${{d.deuda.deuda}}</td>
                                        <td>{{d.pais}}</td> -->
                                   <!--  <td ng-if="d.bloqueado == 0">Activo</td>
                                    <td ng-if="d.bloqueado == 1">Bloqueado</td> -->
                                    <td>
                                        <md-button ng-if="d.deuda.deuda < 0 " class="md-fab md-mini md-warn" ng-disabled="designer.peticion" ng-click="designer.metodoPagoi = true; designer.datosPagar = d;">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Pagar</md-tooltip>
                                            <md-icon class="material-icon">payment</md-icon>
                                        </md-button>
                                        <md-button ng-if="d.deuda.vendido > 0" ng-disabled="designer.peticion" class="md-fab md-mini md-warn" ng-click="designer.mostrar('historial', $index, d.idCliente)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Historial de pagos</md-tooltip>
                                            <md-icon class="material-icon">account_balance</md-icon>
                                        </md-button>
                                        <span ng-if="d.logosAprobados > 0" ng-disabled="designer.peticion" ng-click="designer.mostrar('logos-designer', $index, d.idCliente); designer.listandoTexto = 'DE '+ d.correo">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Ver logos del diseñador</md-tooltip>
                                            <md-icon class="material-icon" style="color: #1caf9a">remove_red_eye</md-icon>
                                        </span>
                                        <!-- <md-button class="md-fab md-mini md-warn" ng-if="d.bloqueado == 0" ng-click="designer.bloquearDisenador(d.idCliente)" ng-disabled="designer.peticion">
                                                <md-tooltip md-direction="top" md-visible="tooltipVisible">Bloquear</md-tooltip>
                                                <md-icon class="material-icon">lock</md-icon>
                                            </md-button> -->
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ACCIONES VISTA -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-switch="designer.vista">
            <div class="paneles  listar no-border switch">
                <!-- HISTORIAL DE PAGOS DE UN DISEÑADOR-->
                <div ng-switch-when="2">
                    <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
                        <texto>BALANCE DE PAGOS</texto>
                        <md-button ng-click="designer.vista = 0" style="margin:0;">
                            <md-icon>keyboard_arrow_left</md-icon>
                        </md-button>
                    </div>
                    <div layout="column" class="content-scroll">
                        <div class="w3-responsive content-scroll">
                            <table class="w3-table w3-bordered">
                                <tr>
                                    <th>Fecha:</th>
                                    <th>Monto:</th>
                                    <th>Medio:</th>
                                    <th>Correo:</th>
                                </tr>
                                <tr ng-repeat="h in designer.historialPagos">
                                    <td>{{h.fecha | date :'yyyy-MM-dd' }}</td>
                                    <td>${{h.monto}}</td>
                                    <td>{{h.medio}}</td>
                                    <td>{{h.correo}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>