<div class="row start-xs">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margen_inferior">
        <div class="paneles principal md-whiteframe-2dp listar margen_inferior">
            <div layout layout-align="none center" layout-padding ng-click="elementos.l = !elementos.l" class="titulo-modulo">
                <texto>LISTAR FUENTE O ICONOS POR CATEGORIA</texto>
            </div>
            <div ng-if="elementos.l">
                <div class="elemento">
                    <div class="preferencias-oculto" ng-click="elementos.mp1 = !elementos.mp1">
                        <span>PREFERENCIAS</span>
                    </div>
                    <div ng-if="elementos.mp1" layout ng-repeat="preferencia in elementos.listar.preferencias">
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">{{preferencia.nombre1}}</span>
                        </div>
                        <md-slider flex="50" md-discrete ng-model="elementos.listar.preferencias[$index].valor" min="1" max="3" aria-label="rating">
                        </md-slider>
                        <div flex layout layout-align="center center">
                            <span class="md-body-1">{{preferencia.nombre2}}</span>
                        </div>
                    </div>
                </div>
                <div layout class="elemento">
                    <div layout>
                        <md-button class="md-raised md-primary" ng-click="elementos.listarCategorias('ICONO')">ICONO</md-button>
                        <md-button class="md-raised md-primary" ng-click="elementos.listarCategorias('FUENTE')">FUENTE</md-button>
                    </div>
                    <div layout ng-if="elementos.categorias.length > 0">
                        <md-input-container flex style="margin: 5PX;">
                            <md-select ng-model="elementos.listar.categoria" ng-change="elementos.listado(elementos.tipoListado)" class="md-block" aria-label="filtro">
                                <md-option ng-value="TODOS" selected ng-if="elementos.categorias.length > 0">TODOS</md-option>
                                <md-option ng-value="TODOS" selected ng-if="elementos.categorias.length == 0">No hay categorias</md-option>
                                <md-option ng-value="categoria.idCategoria" ng-repeat="categoria in elementos.categorias">{{categoria.nombreCategoria}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                </div>

                <div style="height: 30%;" ng-if="elementos.elementos.length == 0" class="mensaje-resultado">
                    <h3>NO SE ENCONTRARON ELEMENTOS</h3>
                </div>

                <div ng-if="elementos.elementos.length > 0">
                    <div layout class="elemento">
                        <md-input-container flex style="margin-bottom: 0;height: 35px;">
                            <input type="text" ng-model="elementos.$" class="md-block" aria-label="filtro" placeholder="Buscar:">
                        </md-input-container>
                    </div>
                    <div class="tabla">
                        <div>Id Elemento:</div>
                        <div>Nombre:</div>
                        <div>Tipo:</div>
                        <div>Accion:</div>
                    </div>
                    <div layout="column" class="content-scroll lista">
                        <div ng-repeat="elemento in elementos.elementos | filter:elementos.$" class="elemento nopadding">
                            <div class="tabla-campo" layout-padding>
                                <div>{{elemento.idElemento}}</div>
                                <div>{{elemento.nombre}}</div>
                                <div>{{elemento.tipo}}</div>
                                <div>
                                    <div>
                                        <md-button class="md-fab md-mini md-warn" ng-click="elementos.mostrarModificar($index)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Modificar</md-tooltip>
                                            <md-icon class="material-icon">edit</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margen_inferior">
        <!-- REGISTRO FUENTE -->
        <div class="paneles principal md-whiteframe-2dp listar margen_inferior" ng-if="!elementos.mod">
            <div layout layout-align="none center" layout-padding ng-click="elementos.mostrar('FUENTE')" class="titulo-modulo">
                <texto>REGISTRO FUENTE</texto>
            </div>
            <div ng-if="elementos.rFuente" layout-padding class="formularios-login pasos">
                <form id="formularioRegistro" name="formRegistro" ng-submit="elementos.nuevaFuente(elementos.registroFuente, formRegistro.$valid)"
                    novalidate>
                    <div layout="column" layout-align="space-between">
                        <h3 class="text-center">Nueva Fuente</h3>
                        <div>
                            <md-input-container class="md-block">
                                <label>NOMBRE</label>
                                <input type="text" ng-model="elementos.registroFuente.nombre" name="nombre" required>
                            </md-input-container>

                            <!--Validacion-->
                            <div ng-messages="formRegistro.nombre.$error" ng-if="formRegistro.$submitted || formRegistro.nombre.$dirty">
                                <div ng-message="required">El nombre es requerido.</div>
                            </div>
                            <!---->

                            
                            <div class="button inputArchivo">
                                <div>{{elementos.registroFuente.mifuente.name || "SELECCIONA UNA FUENTE"}} </div>
                                <span ng-if="elementos.registroFuente.mifuente" ng-click="elementos.registroFuente.mifuente=null">X</span>
                                <md-icon ng-if="!elementos.registroFuente.mifuente" ngf-select ng-model="elementos.registroFuente.mifuente" name="mifuente"
                                    ngf-max-size="3MB" ngf-pattern="'.otf,.ttf,.woff'" ngf-accept="'.otf, .ttf, .woff'" required>attach_file</md-icon>
                            </div>

                            <!--Validacion-->
                            <div ng-messages="formRegistro.mifuente.$error" ng-if="formRegistro.$submitted || formRegistro.mifuente.$dirty">
                                <div ng-message="required">La fuente es requerida.</div>
                            </div>
                            <br>
                            <!---->
                                <md-input-container class="md-block">
                                    <label>CATEGORIA</label>
                                    <md-select ng-model="elementos.registroFuente.categoria" name="categoria" ng-required="true">
                                        <md-option ng-value="TODOS" selected ng-if="elementos.categorias.length == 0">No hay categorias</md-option>
                                        <md-option ng-value="categoria.idCategoria" ng-repeat="categoria in elementos.categorias">{{categoria.nombreCategoria}}</md-option>
                                    </md-select>
                                </md-input-container>

                            <!--Validacion-->
                            <div ng-messages="formRegistro.categoria.$error" ng-if="formRegistro.$submitted || formRegistro.categoria.$dirty">
                                <div ng-message="required">La categoria es requerida.</div>
                            </div>
                            <!---->

                            <div>
                                <div class="button inputArchivo" ng-click="elementos.mp2 = !elementos.mp2">
                                    <div>PREFERENCIAS</div>
                                    <md-icon>expand_more</md-icon>
                                </div>
                                <br>
                                <div ng-if="elementos.mp2" layout ng-repeat="preferencia in elementos.registroFuente.datoPrefe">
                                    <div flex layout layout-align="center center">
                                        <span class="md-body-1">{{preferencia.nombre1}}</span>
                                    </div>
                                    <md-slider flex="50" md-discrete ng-model="elementos.registroFuente.datoPrefe[$index].valor" min="1" max="3" aria-label="rating">
                                    </md-slider>
                                    <div flex layout layout-align="center center">
                                        <span class="md-body-1">{{preferencia.nombre2}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout>
                            <md-button class="md-raised md-primary" type="submit">Enviar</md-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- REGISTRO ICONOS -->
        <div class="paneles principal md-whiteframe-2dp listar" ng-if="!elementos.mod">
            <div layout layout-align="none center" layout-padding ng-click="elementos.mostrar('ICONO')" class="titulo-modulo">
                <texto>REGISTRO ICONO</texto>
            </div>
            <div ng-if="elementos.rIcono" layout-padding class="formularios-login pasos">
                <form id="formularioRegistro" name="formRegistro" ng-submit="elementos.nuevoIcono(elementos.registroIcono, formRegistro.$valid)"
                    novalidate>
                    <div layout="column" layout-align="space-between">
                        <h3 class="text-center">Nuevo Icono</h3>
                        <div>
                            <md-input-container class="md-block">
                                <label>NOMBRE</label>
                                <input type="text" ng-model="elementos.registroIcono.nombre" name="nombre" required>
                            </md-input-container>

                            <!--Validacion-->
                            <div ng-messages="formRegistro.nombre.$error" ng-if="formRegistro.$submitted || formRegistro.nombre.$dirty">
                                <div ng-message="required">El nombre es requerido.</div>
                            </div>
                            <!---->


                            <div class="button inputArchivo">
                                <div>{{elementos.registroIcono.misvg.name || "SELECCIONA UN SVG"}} </div>
                                <span ng-if="elementos.registroIcono.misvg" ng-click="elementos.registroIcono.misvg=null">X</span>
                                <md-icon ng-if="!elementos.registroIcono.misvg" ngf-select ng-model="elementos.registroIcono.misvg" name="misvg" ngf-max-size="5MB"
                                    ngf-pattern="'image/svg+xml'" ngf-accept="'image/svg+xml'" required>attach_file</md-icon>
                            </div>


                            <!--Validacion-->
                            <div ng-messages="formRegistro.misvg.$error" ng-if="formRegistro.$submitted || formRegistro.misvg.$dirty">
                                <div ng-message="maxSize">La imagen no puede superar los 5MB.</div>
                                <div ng-message="required">La imagen es requerida.</div>
                            </div>
                            <!---->

                            <div>
                                <md-input-container class="md-block">
                                    <label>CATEGORIA</label>
                                    <md-select ng-model="elementos.registroIcono.categoria" name="categoria" ng-required="true">
                                        <md-option ng-value="TODOS" selected ng-if="elementos.categorias.length == 0">No hay categorias</md-option>
                                        <md-option ng-value="categoria.idCategoria" ng-repeat="categoria in elementos.categorias">{{categoria.nombreCategoria}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <!--Validacion-->
                                <div ng-messages="formRegistro.categoria.$error" ng-if="formRegistro.$submitted || formRegistro.categoria.$dirty">
                                    <div ng-message="required">La categoria es requerida.</div>
                                </div>
                                <!---->

                            </div>
                            <div>
                                <div class="button inputArchivo" ng-click="elementos.mp3 = !elementos.mp3">
                                    <div>PREFERENCIAS</div>
                                    <md-icon>expand_more</md-icon>
                                </div>
                                <br>
                                <div ng-if="elementos.mp3" layout ng-repeat="preferencia in elementos.registroIcono.datoPrefe">
                                    <div flex layout layout-align="center center">
                                        <span class="md-body-1">{{preferencia.nombre1}}</span>
                                    </div>
                                    <md-slider flex="50" md-discrete ng-model="elementos.registroIcono.datoPrefe[$index].valor" min="1" max="3" aria-label="rating">
                                    </md-slider>
                                    <div flex layout layout-align="center center">
                                        <span class="md-body-1">{{preferencia.nombre2}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout>
                            <md-button class="md-raised md-primary" type="submit">Enviar</md-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- MODIFICAR ELEMENTO-->
        <div ng-if="elementos.mod" class="paneles principal md-whiteframe-2dp listar margen_inferior">
            <div layout layout-align="none center" layout-padding ng-click="elementos.mod = !elementos.mod" class="titulo-modulo">
                <texto>MODIFICAR ELEMENTO</texto>
            </div>
            <div ng-if="elementos.mod" layout-padding class="formularios-login pasos">
                <form ng-submit="elementos.modificarElemento(elementos.modificar)" novalidate>
                    <div layout="column" layout-align="space-between">
                        <h3 class="text-center">Preferencias</h3>
                        <br>
                        <div layout ng-repeat="pref in elementos.modificar.preferencias">
                            <div flex layout layout-align="center center">
                                <span class="md-body-1">{{pref.nombre1}}</span>
                            </div>
                            <md-slider flex="50" md-discrete ng-model="elementos.modificar.preferencias[$index].valor" min="1" max="3" aria-label="rating">
                            </md-slider>
                            <div flex layout layout-align="center center">
                                <span class="md-body-1">{{pref.nombre2}}</span>
                            </div>
                        </div>
                        <div layout>
                            <md-button class="md-raised md-primary" type="submit">Enviar</md-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>