<div flex layout="row" layout-margin layout-align="none start">
    <div flex="60" class="paneles principal md-whiteframe-2dp listar">
        <div layout layout-align="none center" layout-padding ng-click="fuentes.mostrarR = !fuentes.mostrarR" class="titulo-modulo">
            <texto>REGISTRO FUENTE</texto>
        </div>
        <div ng-if="fuentes.mostrarR" layout-padding class="formularios-login pasos">
            <form id="formularioRegistro" name="formRegistro" ng-submit="fuentes.nuevoIcono(fuentes.datos.registro)" novalidate>
                <div layout="column" layout-align="space-between">
                    <h3 class="text-center">Nueva Fuente</h3>
                    <div>
                        <md-input-container class="md-block">
                            <label>NOMBRE</label>
                            <input type="text" ng-model="fuentes.datos.registro.nombre" name="nombre">
                        </md-input-container>
                        <input type="file" ng-model="fuentes.datos.registro.fuente" name="fuente">
                        <div>
                        <md-input-container class="md-block">
                            <label>CATEGORIA</label>
                            <md-select ng-model="fuentes.datos.registro.categoria" name="categoria" ng-required="true">
                                <md-option ng-value="categoria.idCategoria" ng-repeat="categoria in fuentes.categorias">{{categoria.nombreCategoria}}</md-option>
                            </md-select>
                        </md-input-container>
                        </div>
                        <div>
                        <md-input-container class="md-block">
                            <label>PREFERENCIA</label>
                            <md-select ng-model="fuentes.datos.registro.preferencia" name="preferencia" ng-required="true">
                                <md-option ng-value="preferencia.idPreferencia" ng-repeat="preferencia in fuentes.preferencias">{{preferencia.nombre1}} y {{preferencia.nombre2}}</md-option>
                            </md-select>
                        </md-input-container>
                        </div>
                    </div>
                    <div layout>
                        <md-button class="md-raised md-primary" type="submit">Enviar</md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>