<div class="row start-xs">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margen_inferior">
        <div class="paneles principal md-whiteframe-2dp listar">
            <div layout layout-align="none center" layout-padding ng-click="fuentes.mostrarR = !fuentes.mostrarR" class="titulo-modulo">
                <texto>REGISTRO FUENTE</texto>
            </div>
            <div ng-if="fuentes.mostrarR" layout-padding class="formularios-login pasos">
                <form id="formularioRegistro" name="formRegistro" ng-submit="fuentes.nuevaFuente(fuentes.datos.registro, formRegistro.$valid)" novalidate>
                    <div layout="column" layout-align="space-between">
                        <h3 class="text-center">Nueva Fuente</h3>
                        <div>
                            <md-input-container class="md-block">
                                <label>NOMBRE</label>
                                <input type="text" ng-model="fuentes.datos.registro.nombre" name="nombre" required>
                            </md-input-container>
                            
                            <!--Validacion-->
                            <div ng-messages="formRegistro.nombre.$error" ng-if="formRegistro.$submitted || formRegistro.nombre.$dirty">
                                <div ng-message="required">El nombre es requerido.</div>
                            </div>
                            <!---->
                            
                            
                            <div class="button inputArchivo">
                                <div>{{fuentes.datos.registro.mifuente.name || "SELECCIONA UNA FUENTE"}} </div>
                                <span ng-if="fuentes.datos.registro.mifuente" ng-click="fuentes.datos.registro.mifuente=null">X</span>
                                <md-icon ng-if="!fuentes.datos.registro.mifuente" ngf-select ng-model="fuentes.datos.registro.mifuente" name="mifuente" ngf-max-size="3MB" ngf-pattern="'.otf,.ttf,.woff'" ngf-accept="'.otf, .ttf, .woff'" required>attach_file</md-icon>
                            </div>
                            
                            <!--Validacion-->
                            <div ng-messages="formRegistro.mifuente.$error" ng-if="formRegistro.$submitted || formRegistro.mifuente.$dirty">
                                <div ng-message="required">La fuente es requerida.</div>
                            </div>
                            <!---->
                            
                            <div>
                                <md-input-container class="md-block">
                                    <label>CATEGORIA</label>
                                    <md-select ng-model="fuentes.datos.registro.categoria" name="categoria" ng-required="true">
                                        <md-option ng-value="categoria.idCategoria" ng-repeat="categoria in fuentes.categorias">{{categoria.nombreCategoria}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            
                            <!--Validacion-->
                            <div ng-messages="formRegistro.categoria.$error" ng-if="formRegistro.$submitted || formRegistro.categoria.$dirty">
                                <div ng-message="required">La categoria es requerida.</div>
                            </div>
                            <!---->
                            
                            <div>
                                <br>
                                <div>
                                    <h4>PREFERENCIAS</h4>
                                </div>
                                <div layout ng-repeat="preferencia in fuentes.preferencias">
                                    <div flex layout layout-align="center center">
                                        <span class="md-body-1">{{preferencia.nombre1}}</span>
                                    </div>
                                    <md-slider flex="50" md-discrete ng-model="fuentes.datos.registro.datoPrefe[$index].valor" ng-value="2" min="1" max="3" aria-label="rating">
                                    </md-slider>
                                    <div flex layout layout-align="center center">
                                        <span class="md-body-1">{{preferencia.nombre2}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout>
                            <md-button class="md-raised md-primary" type="submit">Enviar</md-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>