<div class="row start-xs">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margen_inferior">
        <div class="paneles principal md-whiteframe-2dp listar">
            <div layout layout-align="none center" layout-padding ng-click="iconos.mostrarR = !iconos.mostrarR" class="titulo-modulo">
                <texto>REGISTRO ICONO</texto>
            </div>
            <div ng-if="iconos.mostrarR" layout-padding class="formularios-login pasos">
                <form id="formularioRegistro" name="formRegistro" ng-submit="iconos.nuevoIcono(iconos.datos.registro, formRegistro.$valid)" novalidate>
                    <div layout="column" layout-align="space-between">
                        <h3 class="text-center">Nuevo Icono</h3>
                        <div>
                            <md-input-container class="md-block">
                                <label>NOMBRE</label>
                                <input type="text" ng-model="iconos.datos.registro.nombre" name="nombre" required>
                            </md-input-container>

                            <!--Validacion-->
                            <div ng-messages="formRegistro.nombre.$error" ng-if="formRegistro.$submitted || formRegistro.nombre.$dirty">
                                <div ng-message="required">El nombre es requerido.</div>
                            </div>
                            <!---->


                            <div class="button inputArchivo">
                                <div>{{iconos.datos.registro.misvg.name || "SELECCIONA UN SVG"}} </div>
                                <span ng-if="iconos.datos.registro.misvg" ng-click="iconos.datos.registro.misvg=null">X</span>
                                <md-icon ng-if="!iconos.datos.registro.misvg" ngf-select ng-model="iconos.datos.registro.misvg" name="misvg" ngf-max-size="5MB" ngf-pattern="'image/svg+xml'" ngf-accept="'image/svg+xml'" required>attach_file</md-icon>
                            </div>


                            <!--Validacion-->
                            <div ng-messages="formRegistro.misvg.$error" ng-if="formRegistro.$submitted || formRegistro.misvg.$dirty">
                                <div ng-message="maxSize">La imagen no puede superar los 5MB.</div>
                                <div ng-message="required">La imagen es requerida.</div>
                            </div>
                            <!---->

                            <div>
                                <md-input-container class="md-block">
                                    <label>CATEGORIA</label>
                                    <md-select ng-model="iconos.datos.registro.categoria" name="categoria" ng-required="true">
                                        <md-option ng-value="categoria.idCategoria" ng-repeat="categoria in iconos.categorias">{{categoria.nombreCategoria}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <!--Validacion-->
                                <div ng-messages="formRegistro.categoria.$error" ng-if="formRegistro.$submitted || formRegistro.categoria.$dirty">
                                    <div ng-message="required">La categoria es requerida.</div>
                                </div>
                                <!---->

                            </div>
                            <div>
                                <br>
                                <div>
                                    <h4>PREFERENCIAS</h4>
                                </div>
                                <div layout ng-repeat="preferencia in iconos.preferencias">
                                    <div flex layout layout-align="center center">
                                        <span class="md-body-1">{{preferencia.nombre1}}</span>
                                    </div>
                                    <md-slider flex="50" md-discrete ng-model="iconos.datos.registro.datoPrefe[$index].valor" ng-value="2" min="1" max="3" aria-label="rating">
                                    </md-slider>
                                    <div flex layout layout-align="center center">
                                        <span class="md-body-1">{{preferencia.nombre2}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout>
                            <md-button class="md-raised md-primary" type="submit">Enviar</md-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
