<div class="row center-xs page-login">
    <div ng-switch="login.mostrarForm" class="col-xs-10 col-sm-4 col-md-3 pasos" style="margin-top:10%;">
        <h3 class="logo-login">Logonow</h3>
        <div class="cont-form">
            <form ng-switch-default name="formLogin" ng-submit="login.login(login.datosLogin, formLogin.$valid)" novalidate class="formulario-ingreso">
                <h5 class="text-center login-title">Bienvenido, Por favor Ingresar</h5>
                <div>
                    <md-input-container class="md-block">
                        <label>Correo:</label>
                        <input type="email" ng-model="login.datosLogin.correo" name="correo" required ng-minlength="3">
                    </md-input-container>
                    <div ng-messages="formLogin.correo.$error" style="color:maroon" role="alert" ng-show="formLogin.$submitted">
                        <div ng-message="required">Este campo es requerido.</div>
                        <div ng-message="minlength">Debe contener minimo 3 caracteres</div>
                        <div ng-message="email">Debe ser un email válido</div>
                    </div>
                    <md-input-container class="md-block">
                        <label>Contraseña:</label>
                        <input type="password" ng-model="login.datosLogin.pass" name="pass" required ng-minlength="6">
                    </md-input-container>
                    <div ng-messages="formLogin.pass.$error" style="color:maroon" role="alert" ng-show="formLogin.$submitted">
                        <div ng-message="required">Este campo es requerido.</div>
                        <div ng-message="minlength">Debe contener minimo 6 caracteres</div>
                    </div>
                </div>
                <div layout layout-align="space-around center">
                    <span ng-click="login.mostrarForm=3" style="font-family: 'futura-heavy';">
                        Olvidaste tu contraseña?
                    </span>
                    <md-button ng-disabled="login.peticion" class="md-raised md-primary" type="submit">Enviar</md-button>
                </div>
                <div layout layout-align="center" ng-show="login.loaderCargando" class="margen_superior">
                    <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
                </div>
            </form>
            <form ng-switch-when="3" name="olvido" ng-submit="login.forgotPass(login.olvido, olvido.$valid)" novalidate class="formulario-ingreso">
                <div ng-switch="login.rc">
                    <h5 class="text-center">Recuperar contraseña</h5>
                    <div ng-switch-when="1">
                        <md-input-container class="md-block">
                            <label>Correo</label>
                            <input type="email" ng-model="login.olvido.correo" name="correo" required ng-minlength="3">
                        </md-input-container>
                        <div ng-messages="olvido.correo.$error" style="color:maroon" role="alert" ng-show="olvido.$submitted">
                            <div ng-message="required">Este campo es requerido.</div>
                            <div ng-message="minlength">Debe contener minimo 3 caracteres</div>
                            <div ng-message="email">Debe ser un email válido</div>
                        </div>
                        <div layout layout-align="space-between">
                            <md-button class="md-raised md-primary" type="submit">Enviar</md-button>

                            <md-button class="md-raised md-primary" ng-click="login.mostrarForm=1">Regresar</md-button>
                        </div>
                    </div>
                    <div ng-switch-when="2">
                        <md-input-container class="md-block">
                            <label>Codigo de coonfirmación:</label>
                            <input type="password" ng-model="login.olvido.token">
                        </md-input-container>
                        <div layout layout-align="space-between">
                            <md-button ng-disabled="login.peticion" class="md-raised md-primary" ng-click="login.confirmarToken('codigo')">Enviar</md-button>
                            <md-button class="md-raised md-primary" ng-click="login.mostrarForm=1">Regresar</md-button>
                        </div>
                    </div>
                    <div ng-switch-when="3">
                        <form name="formRecuperar" ng-submit="login.confirmarToken('cambiar',formRecuperar.$valid)" novalidate>
                            <md-input-container class="md-block">
                                <label>Nueva Contraseña:</label>
                                <input type="password" ng-model="login.olvido.pass" name="pass" required ng-minlength="6">
                            </md-input-container>
                            <div ng-messages="formRecuperar.pass.$error" style="color:maroon" role="alert" ng-show="formRecuperar.$submitted">
                                <div ng-message="required">Este campo es requerido.</div>
                                <div ng-message="minlength">Debe contener minimo 6 caracteres</div>
                            </div>
                            <div layout layout-align="space-between">
                                <md-button ng-disabled="login.peticion" class="md-raised md-primary" type="submit">Cambiar</md-button>
                                <md-button class="md-raised md-primary" ng-click="login.mostrarForm=1">Regresar</md-button>
                            </div>
                        </form>
                    </div>

                    <div layout layout-align="center" ng-show="login.loaderCargando2" class="margen_superior">
                        <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>