<div class="row" style="min-height: 100vh;">
    <div class="padding-cero sidemenu" ng-class="{grande:sidenav.menuMostrar, pequeno:!sidenav.menuMostrar}">
        <menu ng-class="{centrado:!sidenav.menuMostrar}" ng-if="sidenav.autorizado">
            <md-toolbar>
                <div class="md-toolbar-tools logo " md-whiteframe ui-sref="app.pedidos">
                    <a ng-if="sidenav.menuMostrar" class="auto">{{sidenav.autorizado.nombre}}</a>
                    <a ng-if="!sidenav.menuMostrar" class="auto">A</a>
                </div>
            </md-toolbar>
            <md-list ng-cloak layout="column">
                <md-item ng-repeat="vistas in sidenav.vistas" ng-class="{'activo': (vistas.url == sidenav.estado)}" class="menuItem" ui-sref="{{vistas.url}}">
                    <md-icon>{{vistas.icono}}</md-icon>
                    <span ng-if="sidenav.menuMostrar">{{vistas.nombre}}</span>
                </md-item>
            </md-list>
        </menu>
    </div>

    <div class="padding-cero sidemenu-menu" ng-class="{grande:!sidenav.menuMostrar, pequeno:sidenav.menuMostrar}">
        <div class="box">
            <header ng-controller="headerController as header" class="header">
                <md-toolbar layout layout-align="none center">
                    <div layout-padding ng-if="header.autorizado">
                        <div ng-click="sidenav.cambiarMenu()" style="max-width:40px;">
                            <md-icon>menu</md-icon>
                        </div>
                    </div>
                    <div layout flex class="md-toolbar-tools text-white" layout-align="space-between center" layout-padding>
                        <div ng-if="!header.autorizado">
                            <div>LIDERLOGO</div>
                        </div>
                        <div ng-if="header.autorizado" class="estado-actual">
                            <div>{{header.estado}}</div>
                        </div>
                        <div ng-switch="header.autorizado" class="login_header">
                            <ingresar ng-switch-when="false" ui-sref="login" layout-padding>
                                Ingresar
                            </ingresar>

                            <ingresar ng-switch-default ng-click="header.hmenuMostrar = !header.hmenuMostrar">
                                <div layout-padding>
                                    <md-icon class="icono-header">account_circle</md-icon>
                                </div>
                                <div ng-show="header.hmenuMostrar" class="menu-header">
                                    <div ng-click="header.salir()">
                                        <p>Cerrar sesion</p>
                                    </div>
                                </div>
                            </ingresar>
                        </div>
                    </div>
                </md-toolbar>
            </header>
            <!-- contenedor principal -->
            <md-content name="menuContent" flex ui-view ng-cloak class="padding_top" style="overflow-y: scroll; max-height: 90%; height: 90%;">
            </md-content>
        </div>
    </div>

</div>