<div class="row start-xs" id="toast">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margen_inferior">
    <div class="listar">

      <!-- LISTAR MONEDAS -->

      <div class="paneles individual md-whiteframe-2dp">
        <div layout layout-align="space-around center" layout-padding class="titulo-modulo">
          <texto flex ng-click="moneda.listarMonedas()" ng-disabled="moneda.peticion">LISTADO DE MONEDAS</texto>
          <md-button class="md-primary md-fab md-mini" ng-click="moneda.acciones = 1" style="margin:0;">
            <md-icon>add</md-icon>
          </md-button>
        </div>
        <div ng-show="moneda.listaM">
          <div layout class="elemento">
            <md-input-container flex style="margin-bottom: 0;height: 35px;">
              <input type="text" ng-model="moneda.$" class="md-block" aria-label="filtro" placeholder="Buscar:">
            </md-input-container>
          </div>

          <div ng-hide="moneda.monedas.length == 0" class="w3-responsive content-scroll">
            <table class="w3-table w3-bordered">
              <tr>
                <th>Id Moneda:</th>
                <th>Nombre:</th>
                <!-- <th>Accion:</th> -->
              </tr>
              <tr ng-repeat="elemento in moneda.monedas | filter:moneda.$ | orderBy:'idMoneda'">
                <td>{{elemento.idMoneda}}</td>
                <td>{{elemento.moneda}}</td>
              </tr>
              <!-- <tr>
                <md-button class="md-fab md-mini md-warn" ng-click="moneda.acciones = 2; 
                moneda.editarMoneda = moneda.monedas[$index]; moneda.index = $index;">
                  <md-tooltip md-direction="top" md-visible="tooltipVisible">Modificar</md-tooltip>
                  <md-icon class="material-icon">edit</md-icon>
                </md-button>
              </tr> -->
            </table>
          </div>

          <div ng-hide="moneda.monedas.length > 0" class="mensaje-resultado pequeno" style="max-height:20%;">
            <h3>CARGANDO MONEDAS</h3>
          </div>
        </div>
      </div>

      <!-- LISTAR PASARELAS -->

      <div class="paneles individual md-whiteframe-2dp">
        <div layout layout-align="space-around center" layout-padding class="titulo-modulo">
          <texto flex ng-click="moneda.listarPasarelas()" ng-disabled="moneda.peticion">LISTADO DE PASARELAS</texto>
          <md-button class="md-primary md-fab md-mini" ng-click="moneda.acciones = 3;" style="margin:0;">
            <md-icon>add</md-icon>
          </md-button>
        </div>
        <div ng-show="moneda.listaP">
          <div layout class="elemento">
            <md-input-container flex style="margin-bottom: 0;height: 35px;">
              <input type="text" ng-model="moneda.p.$" class="md-block" aria-label="filtro" placeholder="Buscar:">
            </md-input-container>
          </div>

          <div ng-hide="moneda.pasarelas.length == 0" class="w3-responsive content-scroll">
            <table class="w3-table w3-bordered">
              <tr>
                <th>Id Pasarela:</th>
                <th>Nombre:</th>
                <th>Accion:</th>
              </tr>
              <tr ng-repeat="elemento in moneda.pasarelas | filter:moneda.p.$ | orderBy:'idPasarela'">
                <td>{{elemento.idPasarela}}</td>
                <td>{{elemento.pasarela}}</td>
                <td>
                  <md-button class="md-fab md-mini md-warn" ng-click="moneda.acciones = 4; 
                  moneda.editarPasarela = moneda.pasarelas[$index]; moneda.index = $index;">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Modificar</md-tooltip>
                    <md-icon class="material-icon">edit</md-icon>
                  </md-button>
                  <md-button class="md-fab md-mini md-warn" ng-click="moneda.listarPasarelaMonedas(elemento.idPasarela)" ng-disabled="moneda.peticion">
                    <md-tooltip md-direction="right" md-visible="tooltipVisible">Monedas</md-tooltip>
                    <md-icon class="material-icon">attach_money</md-icon>
                  </md-button>
                  <md-button class="md-fab md-mini md-warn" ng-click="moneda.acciones = 5; 
                 moneda.ponerMoneda.idPasarela = moneda.pasarelas[$index].idPasarela; moneda.index = $index;">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Asignar Moneda</md-tooltip>
                    <md-icon class="material-icon">monetization_on</md-icon>
                  </md-button>
                </td>
              </tr>
            </table>
          </div>
          <div ng-hide="moneda.pasarelas.length > 0" class="mensaje-resultado pequeno" style="max-height:20%;">
            <h3>CARGANDO PASARELAS</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ACCIONES VISTA -->
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="paneles md-whiteframe-2dp listar" ng-switch="moneda.acciones">
      <!-- CREAR MONEDA -->
      <div ng-switch-when="1">
        <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
          <texto>NUEVA MONEDA</texto>
          <md-button ng-click="moneda.acciones = 0" style="margin:0;">
            <md-icon>keyboard_arrow_left</md-icon>
          </md-button>
        </div>
        <div layout-padding class="formularios-login pasos">
          <form ng-submit="moneda.guardarMoneda(moneda.nuevaMoneda, nuevoplan.$valid)" novalidate name="nuevoplan">
            <md-input-container class="md-block">
              <label>MONEDA</label>
              <md-select ng-model="moneda.nuevaMoneda.moneda" name="plan" required>
                <span ng-repeat="mon in moneda.almacenDeMonedas">
                  <md-option ng-value="mon.code">({{mon.symbol}}) - {{mon.nombre}}</md-option>
                </span>
              </md-select>

              <!-- VALIDACION -->
              <div ng-messages="nuevoplan.plan.$error" style="color:maroon" role="alert" ng-show="nuevoplan.$submitted">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="maxlength">Maximo 3 caracteres.</div>
              </div>
            </md-input-container>

            <md-button ng-disabled="moneda.peticion" class="md-raised md-primary" type="submit">REGISTRO</md-button>
          </form>
        </div>
      </div>

      <!-- MODIFICAR NOMBRE MONEDA-->
      <div ng-switch-when="2">
        <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
          <texto>MODIFICAR MONEDA</texto>
          <md-button ng-click="moneda.acciones = 0" style="margin:0;">
            <md-icon>keyboard_arrow_left</md-icon>
          </md-button>
        </div>
        <div layout-padding class="formularios-login pasos">
          <form id="nombrePlan" ng-submit="moneda.modificarMoneda(moneda.editarMoneda, nombreplan.$valid)" novalidate name="nombreplan">
            <md-input-container class="md-block">
              <label>Nombre</label>
              <input type="text" ng-model="moneda.editarMoneda.moneda" name="nombre" required>
            </md-input-container>
            <div layout>
              <md-button ng-disabled="moneda.peticion" class="md-raised md-primary" type="submit">Enviar</md-button>
            </div>
          </form>
        </div>
      </div>

      <!-- CREAR PASARELA -->
      <div ng-switch-when="3">
        <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
          <texto>NUEVA PASARELA</texto>
          <md-button ng-click="moneda.acciones = 0" style="margin:0;">
            <md-icon>keyboard_arrow_left</md-icon>
          </md-button>
        </div>
        <div layout-padding class="formularios-login pasos">
          <form ng-submit="moneda.guardarPasarela(moneda.nuevaPasarela, nuevoplan.$valid)" novalidate name="nuevoplan">
            <md-input-container class="md-block" style="margin-bottom:0;">
              <label>Moneda</label>
              <md-select ng-model="moneda.nuevaPasarela.idMoneda" class="md-block" name="moneda" required>
                <md-option ng-value="elemento.idMoneda" ng-repeat="elemento in moneda.monedas">{{elemento.moneda}}</md-option>
              </md-select>
              <!-- VALIDACION -->
              <div ng-messages="nuevoplan.moneda.$error" style="color:maroon" role="alert" ng-show="nuevoplan.$submitted">
                <div ng-message="required">Este campo es requerido.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" style="margin-bottom:0;">
              <label>Nombre</label>
              <input type="text" ng-model="moneda.nuevaPasarela.pasarela" name="plan" required ng-minlength="3">
              <!-- VALIDACION -->
              <div ng-messages="nuevoplan.plan.$error" style="color:maroon" role="alert" ng-show="nuevoplan.$submitted">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="minlength">Minimo 3 caracteres.</div>
              </div>
            </md-input-container>

            <md-button ng-disabled="moneda.peticion" class="md-raised md-primary" type="submit">Enviar</md-button>
          </form>
        </div>
      </div>

      <!-- MODIFICAR NOMBRE PASARELA-->
      <div ng-switch-when="4">
        <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
          <texto>MODIFICAR PASARELA</texto>
          <md-button ng-click="moneda.acciones = 0" style="margin:0;">
            <md-icon>keyboard_arrow_left</md-icon>
          </md-button>
        </div>
        <div layout-padding class="formularios-login pasos">
          <form id="nombrePlan" ng-submit="moneda.modificarPasarela(moneda.editarPasarela, nombreplan.$valid)" novalidate name="nombreplan">
            <md-input-container class="md-block" style="margin-bottom: 0;">
              <label>Nombre</label>
              <input type="text" ng-model="moneda.editarPasarela.pasarela" name="plan" required>
              <!-- VALIDACION -->
              <div ng-messages="nombreplan.plan.$error" style="color:maroon" role="alert" ng-show="nombreplan.$submitted">
                <div ng-message="required">Este campo es requerido.</div>
              </div>
            </md-input-container>
            <md-button ng-disabled="moneda.peticion" class="md-raised md-primary" type="submit">MODIFICAR</md-button>
          </form>
        </div>
      </div>

      <!-- ASIGNAR MONEDA -->
      <div ng-switch-when="5">
        <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
          <texto>ASIGNAR MONEDA</texto>
          <md-button ng-click="moneda.acciones = 0" style="margin:0;">
            <md-icon>keyboard_arrow_left</md-icon>
          </md-button>
        </div>
        <div layout-padding class="formularios-login pasos">
          <form id="asignacion" ng-submit="moneda.asignarMoneda(moneda.ponerMoneda, asignacion.$valid)" novalidate name="asignacion">
            <md-input-container class="md-block">
              <label>Moneda</label>
              <md-select ng-model="moneda.ponerMoneda.idMoneda" class="md-block" aria-label="filtro" required name="moneda">
                <md-option ng-value="elemento.idMoneda" ng-repeat="elemento in moneda.monedas">{{elemento.moneda}}</md-option>
              </md-select>
              <!-- VALIDACION -->
              <div ng-messages="asignacion.moneda.$error" style="color:maroon" role="alert" ng-show="asignacion.$submitted">
                <div ng-message="required">Este campo es requerido.</div>
              </div>
            </md-input-container>

            <md-button ng-disabled="moneda.peticion" class="md-raised md-primary" type="submit">Asignar</md-button>
          </form>
        </div>
      </div>

      <!-- MONEDAS ASIGNADAS -->
      <div ng-switch-when="6">
        <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
          <texto>MONEDAS ASIGNADAS</texto>
          <md-button ng-click="moneda.acciones = 0" style="margin:0;">
            <md-icon>keyboard_arrow_left</md-icon>
          </md-button>
        </div>
        <div ng-if="moneda.pasarelasMonedas.length > 0">
          <div layout class="elemento">
            <md-input-container flex style="margin-bottom: 0;height: 35px;">
              <input type="text" ng-model="moneda.lpm" class="md-block" aria-label="filtro" placeholder="Buscar:">
            </md-input-container>
          </div>

          <div class="w3-responsive content-scroll">
            <table class="w3-table w3-bordered">
              <tr>
                <th>Id Moneda:</th>
                <th>Nombre:</th>
                <th>Accion:</th>
              </tr>
              <tr ng-repeat="elemento in moneda.pasarelasMonedas | filter:moneda.lpm | orderBy:'idPasarela'">
                <td>{{elemento.idMoneda}}</td>
                <td>{{elemento.moneda}}</td>
                <td>
                  <md-button ng-disabled="moneda.peticion" class="md-fab md-mini md-warn" ng-click="moneda.desasignarMoneda(elemento.idMoneda, $index)">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Desasignar</md-tooltip>
                    <md-icon class="material-icon">money_off</md-icon>
                  </md-button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div ng-if="!moneda.pasarelasMonedas" class="mensaje-resultado pequeno" style="max-height:20%;">
          <h3>NO TIENE MONEDAS</h3>
        </div>
      </div>
    </div>
  </div>
</div>