<div class="row start-xs" id="toast">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margen_inferior">
        <div class="listar">

            <!-- LISTAR PLANES -->

            <div class="paneles individual md-whiteframe-2dp">
                <div layout layout-align="space-around center" layout-padding class="titulo-modulo">
                    <texto flex ng-disabled="planes.peticion">LISTADO DE PLANES</texto>
                    <md-button class="md-primary md-fab md-mini" ng-click="planes.vista = 1" style="margin:0;">
                        <md-icon>add</md-icon>
                    </md-button>
                </div>
                <div>
                    <div ng-if="planes.planes">
                        <div layout class="elemento">
                            <md-input-container flex style="margin-bottom: 0;height: 35px;">
                                <input type="text" ng-model="planes.buscarPlanes" class="md-block" aria-label="filtro" placeholder="Buscar:">
                            </md-input-container>
                        </div>
                        <div class="w3-responsive content-scroll">
                            <table class="w3-table w3-bordered">
                                <tr>
                                    <th>Nombre:</th>
                                    <th colspan="2">Acciones:</th>
                                </tr>
                                <tr ng-repeat="elemento in planes.planes | filter:planes.buscarPlanes | orderBy:'idPlan'">
                                    <td>{{elemento.plan}}</td>
                                    <td ng-if="elemento.status">
                                        <md-button class="md-fab md-mini md-warn" ng-click="planes.mostrar('nombrePlan', elemento.idPlan, $index)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Modificar Nombre del Plan</md-tooltip>
                                            <md-icon class="material-icon">edit</md-icon>
                                        </md-button>
                                        <md-button class="md-fab md-mini md-warn" ng-click="planes.mostrar('preciosPlan', elemento.idPlan)" ng-disabled="planes.peticion">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Ver precios de un Plan</md-tooltip>
                                            <md-icon class="material-icon">remove_red_eye</md-icon>
                                        </md-button>
                                        <md-button class="md-fab md-mini md-warn" ng-click="planes.mostrar('nuevoPrecioPlan',elemento.idPlan,$index)">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Agregar Nuevo Precio</md-tooltip>
                                            <md-icon class="material-icon">add</md-icon>
                                        </md-button>
                                        <md-button class="md-fab md-mini md-warn" ng-click="planes.bloquearPlan('bloquear',elemento.idPlan,$index)" ng-disabled="planes.peticion">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Bloquear Plan</md-tooltip>
                                            <md-icon class="material-icon">lock</md-icon>
                                        </md-button>

                                    </td>
                                    <td ng-if="!elemento.status">
                                        <md-button class="md-fab md-mini md-warn" ng-click="planes.bloquearPlan('desbloquear',elemento.idPlan,$index)" ng-disabled="planes.peticion">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Desbloquear Plan</md-tooltip>
                                            <md-icon class="material-icon">lock_open</md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="height: 30%;" ng-if="!planes.planes" class="mensaje-resultado">
                        <h3>CARGANDO PLANES</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- ACCIONES VISTA -->
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" ng-switch="planes.vista">
        <div class="paneles md-whiteframe-2dp listar">
            <!-- CREAR PLAN -->
            <div ng-switch-when="1">
                <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
                    <texto>NUEVO PLAN</texto>
                    <md-button ng-click="planes.vista = 0" style="margin:0;">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
                <div layout-padding class="formularios-login pasos">
                    <form ng-submit="planes.agregarPlan(planes.nuevoPlan, nuevoplan.$valid)" novalidate name="nuevoplan">
                        <div layout="column" layout-align="space-between">
                            <md-input-container class="md-block" style="margin-bottom:0;">
                                <label>Nombre</label>
                                <input type="text" ng-model="planes.nuevoPlan.plan" name="plan" required>
                                <!-- VALIDACION -->
                                <div ng-messages="nuevoplan.plan.$error" style="color:maroon" role="alert" ng-show="nuevoplan.$submitted">
                                    <div ng-message="required">Este campo es requerido.</div>
                                </div>
                            </md-input-container>


                            <md-input-container class="md-block">
                                <label>MONEDAS</label>
                                <md-select ng-model="planes.nuevoPlan.idMoneda" name="moneda" ng-required="true" required>
                                    <md-option ng-value="moneda.idMoneda" ng-repeat="moneda in planes.monedas">{{moneda.moneda}}</md-option>
                                </md-select>
                                <!-- VALIDACION -->
                                <div ng-messages="nuevoplan.moneda.$error" style="color:maroon" role="alert" ng-show="nuevoplan.$submitted">
                                    <div ng-message="required">Este campo es requerido.</div>
                                </div>
                            </md-input-container>


                            <md-input-container class="md-block" style="margin-bottom:0px;">
                                <label>Precio</label>
                                <input type="number" ng-model="planes.nuevoPlan.precio" name="precio" required>
                                <!-- VALIDACION -->
                                <div ng-messages="nuevoplan.precio.$error" style="color:maroon" role="alert" ng-show="nuevoplan.$submitted">
                                    <div ng-message="required">Este campo es requerido.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Info del plan</label>
                                <textarea ng-model="planes.nuevoPlan.info" md-maxlength="800" rows="3" name="info" required md-select-on-focus></textarea>
                                <!-- VALIDACION -->
                                <div ng-messages="nuevoplan.info.$error" style="color:maroon" role="alert" ng-show="nuevoplan.$submitted">
                                    <div ng-message="required">Este campo es requerido.</div>
                                </div>
                            </md-input-container>


                            <h3 class="text-center margen-superior" style="font-family: 'futura-heavy' !important;
                               margin: 0 0 16px 0;" layout-padding ng-click="planes.attrs = !planes.attrs">ATRIBUTOS</h3>
                            <div ng-if="planes.attrs">
                                <md-checkbox ng-repeat="attr in planes.nuevoPlan.caracteristicas" ng-model="attr.valor" aria-label="Checkbox $index" class="md-warn md-align-top-left"
                                    flex>
                                    {{attr.clave}} -
                                    <span class="ipsum">
                                        {{attr.descripcion}}
                                    </span>
                                </md-checkbox>
                            </div>
                            <div layout>
                                <md-button ng-disabled="planes.peticion" class="md-raised md-primary" type="submit">CREAR</md-button>
                            </div>
                            <div ng-if="planes.localidadVal2" class="validad-localidad">
                                <h5>{{planes.localidadVal2}}</h5>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <!-- AGREGAR UN NUEVO PRECIO A UN PLAN -->

            <div ng-switch-when="3">
                <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
                    <texto>AGREGAR PRECIO</texto>
                    <md-button ng-click="planes.vista = 0" style="margin:0;">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
                <div ng-if="planes.monedas.length == 0" class="mensaje-resultado">
                    <h3>NO HAY MONEDAS DISPONIBLES</h3>
                </div>
                <div layout-padding class="formularios-login pasos" ng-if="planes.monedas.length > 0">
                    <form ng-submit="planes.agregarPrecioPlan(planes.nuevoPrecioPlan, nuevoprecioplan.$valid)" novalidate name="nuevoprecioplan"
                        id="nuevoPrecioPlan">
                        <md-input-container class="md-block">
                            <label>MONEDA</label>
                            <md-select ng-model="planes.nuevoPrecioPlan.idMoneda" name="moneda" required>
                                <span ng-repeat="mon in planes.monedas">
                                    <md-option ng-value="mon.idMoneda">{{mon.moneda}}</md-option>
                                </span>
                            </md-select>
                            <!-- VALIDACION -->
                            <div ng-messages="nuevoprecioplan.moneda.$error" style="color:maroon" role="alert" ng-show="nuevoprecioplan.$submitted">
                                <div ng-message="required">Este campo es requerido.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Precio</label>
                            <input type="number" ng-model="planes.nuevoPrecioPlan.precio" name="precio" required>
                            <!-- VALIDACION -->
                            <div ng-messages="nuevoprecioplan.precio.$error" style="color:maroon" role="alert" ng-show="nuevoprecioplan.$submitted">
                                <div ng-message="required">Este campo es requerido.</div>
                            </div>
                        </md-input-container>

                        <md-button class="md-raised md-primary" type="submit" ng-disabled="planes.peticion">AGREGAR</md-button>
                    </form>
                </div>
            </div>

            <!-- VER PRECIOS DE UN PLAN -->

            <div ng-switch-when="4" class="paneles md-whiteframe-2dp listar">
                <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
                    <texto>DETALLES</texto>
                    <md-button ng-click="planes.vista = 0" style="margin:0;">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
                <div ng-if="planes.modInit && planes.planDatosPrecio">
                    <div layout layout-align="space-between center" class="bordered" style="background: white;">
                        <md-input-container style="margin-bottom:0;" flex>
                            <label>Nuevo Precio</label>
                            <input type="number" ng-model="planes.planDatosPrecio.precio" name="NuevoPrecio">
                        </md-input-container>
                        <md-button ng-disabled="planes.peticion" class="md-raised md-primary" type="submit" ng-click="planes.modificarPrecioPlan(planes.planDatosPrecio)">Modificar</md-button>

                    </div>
                </div>
                <div class="w3-responsive content-scroll">
                    <table class="w3-table w3-bordered">
                        <tr>
                            <th>Precio:</th>
                            <th>Estado:</th>
                            <th>Moneda:</th>
                            <th>Accion:</th>
                        </tr>
                        <tr ng-repeat="elemento in planes.preciosPlan | orderBy:'idPrecio'">
                            <td>{{elemento.precio}}</td>
                            <td ng-if="elemento.status == 1">Activo</td>
                            <td ng-if="elemento.status == 0">Inactivo</td>
                            <td>{{elemento.moneda}}</td>
                            <td>
                                <md-button class="md-fab md-mini md-warn" ng-click="planes.modFun($index, elemento)">
                                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Modificar Precio</md-tooltip>
                                    <md-icon class="material-icon">edit</md-icon>
                                </md-button>
                            </td>
                        </tr>

                    </table>

                </div>
                <div ng-if="planes.preciosPlan.length == 0" class="mensaje-resultado">
                    <h3>NO SE ENCONTRARON PRECIOS</h3>
                </div>
            </div>

            <!-- MODIFICAR PLAN -->

            <div ng-switch-when="5">
                <div layout layout-align="space-between center" layout-padding class="titulo-modulo">
                    <texto>MODIFICAR PLAN</texto>
                    <md-button ng-click="planes.vista = 0" style="margin:0;">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
                <div layout-padding class="pasos elemento">
                    <form id="nombrePlan" ng-submit="planes.modificarNombreP(planes.modificarNombrePlan, nombreplan.$valid)" novalidate name="nombreplan">
                        <md-input-container class="md-block">
                            <label>Nombre</label>
                            <input type="text" ng-model="planes.modificarNombrePlan.plan" name="nombre" required ng-minlength="4">
                            <!-- VALIDACION -->
                            <div ng-messages="nombreplan.nombre.$error" style="color:maroon" role="alert" ng-show="nombreplan.$submitted">
                                <div ng-message="required">Este campo es requerido.</div>
                                <div ng-message="minlength">Minimo de caracteres 4.</div>
                            </div>
                        </md-input-container>


                        <md-input-container class="md-block">
                            <label>Info del plan</label>
                            <textarea ng-model="planes.modificarNombrePlan.info" md-maxlength="800" rows="3" name="info" required md-select-on-focus
                                ng-minlength="30"></textarea>
                            <!-- VALIDACION -->
                            <div ng-messages="nombreplan.info.$error" style="color:maroon" role="alert" ng-show="nombreplan.$submitted">
                                <div ng-message="required">Este campo es requerido.</div>
                                <div ng-message="minlength">Minimo de caracteres 40.</div>
                            </div>
                        </md-input-container>

                        <div layout layout-align="center" class="margen_inferior">
                            <h5 class="text-center margen-superior" style="font-family: 'futura-heavy' !important;   margin: 0; padding: 0;" layout-padding
                                ng-click="planes.attrs = !planes.attrs">ATRIBUTOS</h5>
                            <md-icon style="margin-left:8px; color:black; margin:0; padding:0;" class="material-icon">keyboard_arrow_down</md-icon>
                        </div>
                        <div ng-if="planes.attrs">
                            <md-checkbox ng-repeat="attr in planes.modificarNombrePlan.caracteristicas" ng-model="attr.valor" ng-value="attr.valor" aria-label="Checkbox $index"
                                class="md-warn md-align-top-left" flex ng-class="{'md-checked': attr.valor ? true : false }">
                                {{attr.clave}} -
                                <span class="ipsum">
                                    {{attr.descripcion}}
                                </span>
                            </md-checkbox>
                        </div>


                        <div layout>
                            <md-button ng-disabled="planes.peticion" class="md-raised md-primary" type="submit">Modificar</md-button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>